<template lang="pug">
	v-card
		v-card-title 
			h6  Graphique des {{ title }} 
		v-card-text
			v-col(class="d-flex" cols="12" sm="3")
				v-select(:items="categories.year" label="Month" v-model="users_chart.filter.month" class="mr-3")

				v-select(:items="items" label="Year" v-model="users_chart.filter.year")
			apexchart(width="100%" type="line" :options="users_chart.options" :series="users_chart.series")
</template>
<script>
export default {
	props: {
		endpoint: {
			type: String,
			required: true
		},
		title: {
			type: String,
			required: true
		}
	},
   data() {
      return {
		 fitlerOptions: ['Year', 'Month'],
		 items: [2016, 2017, 2018, 2019, 2020],
         users_chart: {
            options: {
               chart: {
                  id: "user-chart",
                  toolbar: {
                     show: false
                  }
               },
               xaxis: {
                  categories: [
                     "janvier",
                     "février",
                     "mars",
                     "avril",
                     "mai",
                     "juin",
                     "juillet",
                     "août",
                     "septembre",
                     "octobre",
                     "novembre",
                     "décembre"
                  ]
               }
            },
            series: [],
            filter: {
               year: new Date().getFullYear(),
               month: "All"
            }
         },
         categories: {
            year: [
			   	'All',
				'01',
				'02',
				'03',
				'04',
				'06',
				'07',
				'08',
				'09',
				'10',
				'11',
				'12',
			],
			month: []
		 },
		 days: []
       
      };
   },
   created() {
	  this.getUserStats();
   },
   methods: {
      getUserStats() {
         let params = this.users_chart.filter;
         axios
            .get(this.endpoint, { params })
            .then(res => {
               
                  this.users_chart.series = [
                     {
                        name: `Total ${this.title}`,
                        data: res.data
                     }
                  ];
               
            })
            .catch(err => {
               console.log(err);
            });
	  },
	  assignYearGraph(){
			this.users_chart.options = {
				chart: {
					id: "user-chart",
					toolbar: {
						show: false
					}
				},
				xaxis: {
					categories: [
							"janvier",
							"février",
							"mars",
							"avril",
							"mai",
							"juin",
							"juillet",
							"août",
							"septembre",
							"octobre",
							"novembre",
							"décembre"
					]
				}
			}
			this.users_chart.series = [
			{
				name: "Total users",
				data: [0,0,0, 0, 0, 0, 0, 0,0, 0, 0, 0]
				}
			];
	  },
	  assignMonthGraph(days) {
		let temp_series = [];
		for (let index = 1; index <= days.length; index++) {
			temp_series.push('0')
		}
		this.users_chart.options = {
			chart: {
				id: "user-chart",
				toolbar: {
					show: false
				}
			},
			xaxis: {
				categories: days
			}
		}
		this.users_chart.series = [
		{
			name: `Total ${this.title}`,
			data: temp_series
			}
		];
	  }
   },
   watch: {
	   "users_chart.filter.year" : function(val) {
		   this.users_chart.filter.year = val
		   this.getUserStats()
	   },
	   "users_chart.filter.month" : function(val) {
		   if (val != 'All') {
			   let days_count =  this.moment(`${this.users_chart.filter.year}-${this.users_chart.filter.month}`, "YYYY-MM").daysInMonth();
			   let days = [];
			   for (let index = 1; index <= days_count; index++) {
				   days.push(index.toString())
			   }
			   this.assignMonthGraph(days)
			   this.getUserStats()
			   
		   }else {
			   this.assignYearGraph()
			   this.getUserStats()
		   }
		}
   }

};
</script>
<style lang="stylus" scoped></style>