@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,600,700,800');

@font-face {
	font-family: Rounded Elegance;
	src: url(../fonts/Rounded_Elegance.ttf);
}

@font-face {
	font-family: Bakery;
	src: url(../fonts/bakery.otf);
}

.new-divider {
    position: relative;
    text-align: left;
}

.new-divider span {
    display: inline-block;
    vertical-align: middle;
}

.new-divider span.outer-line {
    border: 1px solid #00000029;
    height: 0px;
}

.new-divider span.line-left {
	width: 10%;
}

.new-divider span.line-right {
	width: 50%;
}

.new-divider span.fa,
.new-divider span.fas,
.new-divider span.divider-icon {
    margin: 0px 10px;
    text-align: center;
    font-size: 14px;
}

.new-divider span.fa-heart {
	color: #ECBD90;
}

.new-divider span.fa-dumbbell {
    color: #34C924;
    transform: rotate(135deg);
}

.header-wrapper .navbar-toggler {
    position: relative;
    outline: none;
}

.header-wrapper .icon-bar {
    width: 20px;
    height: 2px;
    background: #000;
    position: absolute;
    display: block;
    margin-bottom: 5px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.header-wrapper .icon-bar.bar1 {
    top: -2px;
}

.header-wrapper .icon-bar.bar2 {
    top: 4px;
}

.header-wrapper .icon-bar.bar3 {
    top: 4px;
}

.header-wrapper .icon-bar.bar4 {
    top: 10px;
}

.header-wrapper .open .icon-bar.bar1 {
    top: 16px;
    width: 0%;
    left: 50%;
}

.header-wrapper .open .icon-bar.bar2 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.header-wrapper .open .icon-bar.bar3 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.header-wrapper .open .icon-bar.bar4 {
    top: 16px;
    width: 0%;
    left: 50%;
}

.tse-last-section, .tse-last-section .inner-parallax-section {
    transform: skewY(0deg) !important;
}
/*NEW HOMEPAGE*/
/*BANNER*/
.new-homepage .banner {
	background: url(/optimized/img/sissy_tini_outdoors.jpg) 50% 0 scroll;
	background-size: cover;
	background-repeat: no-repeat;
}

.new-homepage .banner-row {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 68px;
}

.new-homepage .banner-row .banner-column.left {
	margin-top: 160px;
}

.new-homepage .banner-row .banner-column.left .banner-text h3 {
	text-align: center;
    font-family: Rounded Elegance;
    color: #fff;
    font-size: 81px;
    letter-spacing: 5px;
    line-height: 76px;
    padding-bottom: 25px;
}

.new-homepage .banner-row .banner-column.left .banner-text h2 {
	text-align: center;
    font-family: Bakery;
    text-transform: none;
    font-size: 160px;
    color: #fff;
    padding: 75px 0px;
    padding-top: 15px;
    font-weight: 400;
    margin-bottom: 0px;
}

.new-homepage .banner-row .banner-column.left .banner-text p {
	text-align: center;
    margin-bottom: 20px;
}

.new-homepage .banner-row .banner-column.left .banner-text span {
	text-transform: uppercase;
    color: #fff;
    background: #A58F8E;
    border-radius: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 58px;
    padding: 10px;
    margin-top: 50px;
    box-shadow: 0px 0px 20px 9px #0000004f;
    font-family: Rounded Elegance;
    letter-spacing: 5px;
    font-weight: bold;
}

.new-homepage .banner-row .banner-column.left .banner-text .apps {
    margin-bottom: 20px;
    text-align: center;
}

.new-homepage .banner-row .banner-column.left .banner-text .apps img {
	width: 200px;
    padding: 20px;
}

.new-homepage .banner-row .banner-column.right .banner-image img {
	max-width: 100%;
    display: block;
    margin: auto;
}

/*SECTION2*/
.webp .new-homepage .section2 {
    background: url(/optimized/img/mobile_app_banner.webp) 50% 0 scroll;
}
.no-webp .new-homepage .section2 {
    background: url(/optimized/img/mobile_app_banner.jpg) 50% 0 scroll;
}
.no-js .new-homepage .section2 {
    background: url(/optimized/img/mobile_app_banner.jpg) 50% 0 scroll;
}

.new-homepage .section2 {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.new-homepage .section2:before {
    content: "";
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    position: absolute;
}

.new-homepage .section2-row {
    padding: 30px 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}

.new-homepage .section2-row .custom-column.image h3 {
	width: 100%;
    text-align: center;
	font-size: 50px;
    color: #fff;
    font-family: Segoeui Regular, sans-serif;
    text-transform: none;
    line-height: 50px;
    margin-bottom: 25px;
}

.new-homepage .section2-row .custom-column.image .app-icon {
	width: 100%;
    text-align: center;
}

.new-homepage .section2-row .custom-column.image .app-icon img {
    width: 60px;
    margin: 20px;
}

.new-homepage .section2-row .custom-column.description p {
	color: #fff;
    font-size: 19px;
    text-align: center;
}

/*WE SWEAT*/
.new-homepage .we-sweat .custom-column.image {
	padding: 0px;
}

.new-homepage .we-sweat .custom-column.image img {
	width: 100%;
	min-height: 600px;
}

.new-homepage .we-sweat .custom-column.description {
	padding: 60px 100px;
}

.new-homepage .we-sweat .custom-column.description h2 {
    color: #585858;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 30px;
    position: relative;
    padding-left: 25px;
}

.new-homepage .we-sweat .custom-column.description h2:before {
    content: "";
    background: #ECBD90;
    position: absolute;
    width: 10px;
    height: 100%;
    left: 0px;
    z-index: 1;
}

.new-homepage .we-sweat .custom-column.description h2 span {
    color: #1E1E1E;
    font-weight: 800;
}

.new-homepage .we-sweat .custom-column.description h3 {
	font-size: 22px;
    color: #181818;
    margin-bottom: 15px;
    margin-top: 30px;
}

.new-homepage .we-sweat .custom-column.description p {
    font-size: 19px;
    color: #1E1E1E;
    width: 75%;
    margin-bottom: 20px;
}

.new-homepage .we-sweat .we-sweat-row2 .custom-column.description {
	padding: 60px 0px 60px 222px;
}

.new-homepage .we-sweat .we-sweat-row2 .custom-column.description .read-more {
	margin-top: 60px;
}

.new-homepage .we-sweat .we-sweat-row2 .custom-column.description .read-more a {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #fff;
    background: #5A5A5A;
    text-transform: uppercase;
    padding: 20px 30px;
    margin-top: 50px;
    text-decoration: none;
}

.new-homepage .we-sweat .we-sweat-row2 .custom-column.description h3 {
    margin-top: 0px;
}

.new-homepage .we-train {
	background: #626060;
}

.new-homepage .we-train .custom-column.image .we-train-img {
    margin-top: -90px;
    margin-bottom: 0px;
    text-align: center;
}

.new-homepage .we-train .custom-column.description {
    padding: 20px 100px;
}

.new-homepage .we-train .custom-column.description h2 {
	color: #fff;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 30px;
    position: relative;
    padding-left: 25px;
    margin-top: 20px;
}

.new-homepage .we-train .custom-column.description h2:before {
	content: "";
    background: #34C924;
    position: absolute;
    width: 10px;
    height: 100%;
    left: 0px;
    z-index: 1;
}

.new-homepage .we-train .custom-column.description h2 span {
    font-weight: 800;
}

.new-homepage .we-train .custom-column.description h3 {
    font-size: 22px;
    color: #fff;
    margin-bottom: 15px;
    margin-top: 30px;
}

.new-homepage .we-train .custom-column.description p {
    font-size: 19px;
    color: #fff;
    width: 92%;
    margin-bottom: 20px;
}

.new-homepage .we-train .custom-column.description .read-more {
	font-size: 19px;
    color: #fff;
    width: 92%;
    margin-bottom: 20px;
    margin-top: 41px;
}

.new-homepage .we-train .custom-column.description .read-more a {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 30px;
    margin-top: 50px;
    border: 1px solid #fff;
}

.new-homepage .we-train .custom-column.description .new-divider span.outer-line {
    border: 1px solid #ffffff29;
}

/*BIKINI*/
.bikini-section {
	position: relative;
    background: url(/optimized/img/sissy_sunrise.jpg) 50% 0 scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

.bikini-section .bikini-section-row {
	padding: 120px 25px;
    padding-bottom: 220px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}

.bikini-section .bikini-section-row .custom-column.description h2 {
	color: #585858;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 30px;
    position: relative;
    padding-left: 25px;
}

.bikini-section .bikini-section-row .custom-column.description h2:before {
    content: "";
    background: #3EDDCC;
    position: absolute;
    width: 10px;
    height: 100%;
    left: 0px;
    z-index: 1;
}

.bikini-section .bikini-section-row .custom-column.description h2 span {
    color: #1E1E1E;
    font-weight: 800;
}

.bikini-section .bikini-section-row .custom-column.description h3 {
    font-size: 22px;
    color: #181818;
    margin-bottom: 15px;
    margin-top: 30px;
}

.bikini-section .bikini-section-row .custom-column.description p {
    font-size: 19px;
    color: #1E1E1E;
    width: 75%;
    margin-bottom: 20px;
}

/*WE EAT*/
.we-eat {
    background-color: #626060;
}

.we-eat .we-eat-row {
    display: flex;
    align-items: center;
}

.we-eat .we-eat-row .new-divider span.outer-line {
	border: 1px solid #ffffff29;
}

.we-eat .we-eat-row .custom-column.image .we-eat-img {
    margin-bottom: 0px;
    padding: 50px 100px;
    text-align: center;
}

.we-eat .we-eat-row .custom-column.image .we-eat-img img {
	display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.we-eat .we-eat-row .custom-column.description {
	padding: 60px 100px;
}

.we-eat .we-eat-row .custom-column.description h2 {
	color: #fff;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 30px;
    position: relative;
    padding-left: 25px;
}

.we-eat .we-eat-row .custom-column.description h2:before {
    content: "";
    background: #efd807;
    position: absolute;
    width: 10px;
    height: 100%;
    left: 0px;
    z-index: 1;
}

.we-eat .we-eat-row .custom-column.description h2 span {
	font-weight: 800;
}

.we-eat .we-eat-row .custom-column.description h3 {
    font-size: 22px;
    color: #fff;
    margin-bottom: 15px;
    margin-top: 30px;
}

.we-eat .we-eat-row .custom-column.description p {
	font-size: 19px;
    color: #fff;
    width: 92%;
    margin-bottom: 20px;
}

.we-eat .we-eat-row .custom-column.description .read-more {
    margin-top: 60px;
    margin-bottom: 0px;
}

.we-eat .we-eat-row .custom-column.description .read-more a {
	font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 30px;
    margin-top: 50px;
    border: 1px solid #fff;
}

/*TESTIMONIAL*/
.temoignages-section {
    padding: 30px 0px;
    padding-bottom: 60px;
}

.temoignages-section .owl-nav {
	display: none;
}

.temoignages-section .owl-dots {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.temoignages-section .owl-dots button {
    height: 10px;
    width: 10px;
    margin: 2px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0) !important;
    border: 1px solid #fff !important;
    outline: none;
}

.temoignages-section .owl-dots button.active {
	height: 12px;
	width: 12px;
    background: #fff !important;
    border-color: #ffb400 !important;
}

.temoignages-section .temoignages-section-row {
    padding: 30px 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}

.temoignages-section .temoignages-section-row .new-divider span.outer-line.line-left {
    width: 5%;
}

.temoignages-section .temoignages-section-row .new-divider span.outer-line.line-right {
	width: 25%;
}

.temoignages-section .temoignages-section-row .custom-column h2 {
    color: #000;
    font-size: 35px;
    margin-bottom: 30px;
    position: relative;
    padding-left: 25px;
    font-weight: 800;
}

.temoignages-section .temoignages-section-row .custom-column h2:before {
    content: "";
    background: #000;
    position: absolute;
    width: 10px;
    height: 100%;
    left: 0px;
    z-index: 1;
}

.temoignages-section .temoignages-section-row .owl-testimonials {
    background-color: #403f3f17;
}

.temoignages-section .temoignages-section-row .testimonial-slider-wrapper {
	position: relative;
	margin-top: 35px;
}

.temoignages-section .temoignages-section-row .temoignages-inner-row {
	display: flex;
	align-items: center;
	justify-content: center;
}

.temoignages-section .temoignages-section-row .temoignages-inner-row .testimonials-text p {
	padding: 20px 75px;
    overflow-y: auto;
    max-height: 330px;
    overflow-x: hidden;
}

.temoignages-section .temoignages-section-row .temoignages-inner-row .testimonials-text p:before {
	content: "« ";
}

.temoignages-section .temoignages-section-row .temoignages-inner-row .testimonials-text p:after {
	content: " »";
}

/*.temoignages-section .temoignages-section-row .testimonials-inner-wrapper {
    background: #403f3f17;
}
*/
/*.temoignages-section .temoignages-section-row .testimonials-inner-wrapper {
    background: #403f3f17;
}*/

/*HOME VIDEO*/
.home-video {
    background: #fff;
    padding-top: 30px;
}

.home-video .home-video-row {
	padding: 30px 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}

/*OFFERS*/
.offers-section {
    background: #fff;
}

.offers-section .new-divider {
    text-align: center;
}

.offers-section .new-divider span.outer-line  {
    width: 25%;
}

.offers-section .new-divider span.fa-euro-sign  {
    color: #02C8C8;
}

.offers-section h2 {
    text-align: center;
    background: #fff;
    padding-top: 60px;
    margin: 0px;
    color: #1E1E1E;
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 15px;
}

.offers-section .offers-tables-content {
    padding: 30px 0px;
    position: relative;
    max-width: 80%;
    margin: auto;
}

.offers-section .offers-tables-content .offers-column {
    flex-basis: calc(100% / 5);
    max-width: calc(100% / 5);
}

.offers-section .offers-wrapper .offers-inner-wrapper {
    padding: 0px;
    padding-bottom: 0px;
    outline: none;
    box-shadow: 0px 0px 20px 9px #00000047;
}

.offers-section .subscribe-button {
    display: block;
    transition: 400ms;
    background: #585858;
}

.offers-section .offers-wrapper:hover .subscribe-button {
    background: #fff;
}

.offers-section .subscribe-button a {
    border-radius: 0px;
    display: flex;
    justify-content: center;
    margin: 0px;
    margin-left: 50%;
    background: #02C8C8;
    opacity: 0;
    text-decoration: none;
}

.offers-section .subscribe-button a:before {
    display: none;
}

.offers-section .offers-wrapper:hover .subscribe-button a {
    opacity: 1;
}

.offers-section .offers-wrapper .offers-header {
    background: #585858;
    transition: 400ms;
}

.offers-section .offers-wrapper:hover .offers-header {
    background: #fff;
}

.offers-section .offers-wrapper .offers-header h2 {
    font-size: 25px;
    line-height: 25px;
    padding-top: 0px;
    background: transparent;
    color: #fff;
    transition: 400ms;
}

.offers-section .offers-wrapper:hover .offers-header h2 {
    color: #000;
}

.offers-section .offers-wrapper .offers-header .offers-content {
    position: relative;
}

.offers-content span {
    color: #02C8C8 !important;
}

.offers-section .offers-wrapper .offers-header .offers-content .value {
    font-size: 35px;
    font-weight: 800;
}

.offers-section .offers-wrapper .offers-header .offers-content .currency {
    display: inline-block;
    margin-top: 0;
    vertical-align: top;
    font-weight: 700;
    font-size: 20px;
}

.offers-section .offers-wrapper .offers-header .offers-content .duration {
    font-size: 14pt;
    font-weight: 600;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    margin-top: 10px;
}

.offers-section .offers-wrapper .offers-header p {
    color: #fff;
    font-size: 12px;
    transition: 400ms;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 600;
}

.offers-section .offers-wrapper:hover .offers-header p {
    color: #000;
}

.offers-section .offers-wrapper .offers-header>* {
    margin: 0px;
}

.offers-section .offers-wrapper .offers-header .active-img {
	position: absolute;
    transition: 400ms;
}

.offers-section .offers-wrapper:hover .offers-header .active-img {
    opacity: 0;
}

.offers-section .offers-wrapper .offers-body {
    background: #585858;
    transition: 400ms;
}

.offers-section .offers-wrapper:hover .offers-body {
    background: #fff;
}

.offers-section .offers-wrapper .offers-body .offers-features {
    margin-bottom: 0px;
}

.offers-section .offers-wrapper .offers-body .offers-features .boldEngagement {
    color: #fff;
    transition: 400ms;
}

.offers-section .offers-wrapper:hover .offers-body .offers-features .boldEngagement {
    color: #000;
}

.offers-section .offers-wrapper .offers-body .plan-offers li {
    padding: 5px 10px;
    font-size: 10pt;
    border: none;
    transition: 400ms;
    color: #fff;
}

.offers-section .offers-wrapper:hover .offers-body .plan-offers li {
    color: #000;
}

.offers-section .offers-wrapper .offers-inner-wrapper .offer-plan-bottom {
    position: relative;
    bottom: 0px;
}

.offers-section .offers-wrapper .offers-inner-wrapper .offer-plan-bottom .pictos-paiment {
    background: #585858;
    transition: 400ms;
    padding: 20px 0px;
    padding-top: 30px;
}

.offers-section .offers-wrapper:hover .offers-inner-wrapper .offer-plan-bottom .pictos-paiment {
    background: #fff;
}

/*THEY TALK ABOUT US*/
.they-talk-about-us {
    background-color: #202020;
    border-bottom: 2px solid #ffffff29;
}

.they-talk-about-us h2 {
    text-align: center;
    font-size: 35px;
    color: #fff;
    margin: 0px;
    padding-top: 50px;
    margin-bottom: -10px;
    padding-bottom: 30px;
}

.they-talk-about-us .new-divider {
    text-align: center;
}

.they-talk-about-us .new-divider span.outer-line {
    width: 25%;
    border-bottom: 2px solid #ffffff29;
}

.they-talk-about-us .new-divider span.fa-comments {
    color: #fff;
}

.they-talk-about-us .ttau-row {
    padding: 30px 0px;
    position: relative;
    max-width: 80%;
    margin: auto;
}

.they-talk-about-us ul {
    text-align: center;
    padding: 0px;
}

.they-talk-about-us ul li {
    display: inline;
}

/*FOOTER*/
footer {
	background: #202020;
    padding-top: 60px;
    transform: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
}

footer .top-footer {
	transform: none;
    padding: 5px 15px 0px;
}


footer .footer-logo img {
	width: 250px;
}

footer .footer-apps {
    color: #fff;
    font-size: 15px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer .footer-apps img {
    margin-bottom: 30px;
    margin-right: 30px;
    width: 200px;
}

footer .footer-contact h3 {
    color: #fff;
    font-size: 15px;
    margin-bottom: 30px;
    position: relative;
    padding-left: 25px;
    font-weight: 800;
    line-height: 24px;
}

footer .footer-contact h3:before {
    content: "";
    background: #fff;
    position: absolute;
    width: 10px;
    height: 100%;
    left: 0px;
    z-index: 1;
}

footer .footer-contact p {
    color: #fff;
    font-size: 15px;
    width: 75%;
}

footer .footer-contact p i {
    padding-right: 15px;
}

footer .footer-contact p i span,
footer .footer-contact p a {
    text-transform: uppercase;
    color: #fff;
}

footer .top-footer h4,
footer .top-footer .menu ul li a,
footer .top-footer .menu ul li span,
footer .facts-footer>div h5,
footer .facts-footer>div span {
	color: #fff !important;
}

footer .bottom-footer {
	text-align: center;
}

footer .bottom-footer .custom {
    margin: 0;
    font-size: 13px;
    padding: 17px 0;
    color: #ddd;
    border-top: 1px solid #444;
}

footer .bottom-footer .custom a {
    text-align: center;
    color: #fff;
    text-decoration: none;
}

footer .top-footer>.row {
    padding-bottom: 30px;
}

footer hr {
    background-color: #ffffff29;
}

/*HOME RESPONSIVE*/
@media(max-width: 1850px) {
    .offers-section .offers-tables-content .offers-column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

@media(max-width: 1800px) {
    .new-homepage .banner-row .banner-column.left .banner-text h3 {
        font-size: 61px;
        line-height: 61px;
    }

    .new-homepage .banner-row .banner-column.left .banner-text h2 {
        font-size: 120px;
        padding-bottom: 20px;
    }
}

@media(max-width: 1660px) {
    .new-homepage .section2-row {
        max-width: 100%;
    }

    .new-homepage .we-sweat .we-sweat-row2 .custom-column.description,
    .new-homepage .we-sweat .custom-column.description {
        padding: 30px 50px;
    }

    .new-homepage .we-sweat .custom-column.description h2 {
        font-size: 31px;
    }

    .new-homepage .we-sweat .custom-column.description h3 {
        font-size: 20px;
    }

    .new-homepage .we-sweat .custom-column.description p {
        font-size: 16px; 
        width: 100%;
    }

    .new-homepage .we-sweat .we-sweat-row2 .custom-column.image img {
        min-height: auto;
    }

    .new-homepage .we-sweat .we-sweat-row2 .custom-column.description .read-more {
        margin-top: 41px;
    }

    .new-homepage .we-train .custom-column.description {
        padding: 20px 50px;
    }

    .new-homepage .we-train .custom-column.description h2 {
        font-size: 31px;
    }

    .new-homepage .we-train .custom-column.description h3 {
        font-size: 20px;
    }

    .new-homepage .we-train .custom-column.description p {
        font-size: 16px;
    }

    .new-homepage .we-train .custom-column.image .we-train-img {
        margin-top: -50px;
    }

    .new-homepage .bikini-section .bikini-section-row .custom-column.description h2 {
        font-size: 31px;
    }

    .new-homepage .bikini-section .bikini-section-row .custom-column.description h3 {
        font-size: 20px;
    }

    .new-homepage .bikini-section .bikini-section-row .custom-column.description p {
        font-size: 16px;
    }

    .we-eat .we-eat-row .custom-column.description {
        padding: 30px 50px;
    }

    .we-eat .we-eat-row .custom-column.description h2 {
        font-size: 31px;
    }

    .we-eat .we-eat-row .custom-column.description h3 {
        font-size: 20px;
    }

    .we-eat .we-eat-row .custom-column.description p {
        font-size: 16px;
    }

    .we-eat .we-eat-row .custom-column.description .read-more {
        margin-top: 41px;
    }
}

@media(max-width: 1500px) {
    .header-wrapper ul.navbar-nav.ml-auto {
        padding-right: 0px;
    }

    .new-homepage .banner-row .banner-column.left .banner-text p span {
        font-size: 30pt;
    }

    .temoignages-section .temoignages-section-row .temoignages-inner-row .testimonials-text p {
        max-height: 220px;
    }

}

@media(max-width: 1297px) {
    .header-wrapper .navbar-expand-lg {
        flex-flow: wrap;
    }

    .header-wrapper ul.navbar-nav.ml-auto .nav-item .dropdown-menu {
        top: 37px;
    }
}

@media(max-width: 1200px) {
    .header-wrapper ul.navbar-nav.ml-auto .nav-item {
        position: relative;
        transition: 400ms;
        display: block;
        padding: 20px 0px;
        border-top: 1px solid #f6f6f6;
        text-align: left;
        color: #555;
    }

    .header-wrapper ul.navbar-nav.ml-auto .nav-item .dropdown-menu {
        position: absolute;
        border: none;
        top: 20px;
    }

    .header-wrapper ul.navbar-nav.ml-auto .nav-item .dropdown-menu li {
        display: block;
        border-top: 1px solid #f6f6f6;
        text-align: left;
    }

    .header-wrapper ul.navbar-nav.ml-auto .nav-item .dropdown-menu {
        -webkit-transform: scale(1, 0);
        transform: scale(1, 0);
    }

    .header-wrapper ul.navbar-nav.ml-auto .nav-item:hover .dropdown-menu {
        position: relative;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
    }

    .new-homepage .banner-row .banner-column.left .banner-text p span {
        font-size: 20pt;
    }

    .new-homepage .we-sweat .custom-column {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .new-homepage .section2-row {
        max-width: 100%;
    }

    .new-homepage .we-sweat .we-sweat-row2 {
        display: flex;
        flex-direction: column-reverse;
    }

    .new-homepage .we-sweat .custom-column.image img {
        min-height: auto;
    }

    .new-homepage .we-sweat .we-sweat-row2 .custom-column {
        flex-direction: column-reverse;
    }

    .new-homepage .we-sweat .we-sweat-row1 .custom-column.description,
    .new-homepage .we-sweat .we-sweat-row2 .custom-column.description {
        padding: 60px 50px;
    }

    .new-homepage .we-train .we-train-row .custom-column {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .new-homepage .we-train .we-train-row .custom-column.description {
        padding: 60px 50px;
    }

    .new-homepage .we-train .we-train-row .custom-column .we-train-img {
        margin-top: 0px;
    }

    .new-homepage .bikini-section .bikini-section-row .custom-column {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .new-homepage .we-eat .we-eat-row .custom-column {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .new-homepage .we-eat .we-eat-row .custom-column.description {
        padding: 60px 50px;
    }

    .new-homepage .offers-section .offers-tables-content .offers-column {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media(max-width: 991px) {
    .new-homepage .banner-row .banner-column {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .new-homepage .section2 .section2-row .custom-column {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .new-homepage .temoignages-section .temoignages-section-row .temoignages-inner-row .inner-column {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media(max-width: 767px) {
    .new-homepage .banner-row .banner-column.left .banner-text h3 {
        text-align: center;
        font-size: 41px;
        line-height: 41px;
    }

    .new-homepage .banner-row .banner-column.left .banner-text h2 {
        text-align: center;
        font-size: 80px;
        padding: 20px 0px;
        margin-bottom: 50px;
    }

    .new-homepage .banner-row .banner-column.left .banner-text p span {
        font-size: 18pt;
    }

    .new-homepage .banner-row .banner-column.left .banner-text .apps img {
        width: 150px;
    }

    .bikini-section .bikini-section-row {
        max-width: 100%;
    }

    .new-homepage .we-eat .we-eat-row .custom-column.image {
        padding: 0px;
    }

    .bikini-section .bikini-section-row .custom-column.description p {
        width: 100%;
    }

    .new-homepage .we-eat .we-eat-row .custom-column.image .we-eat-img {
        padding: 0px;
    }

    .new-homepage .offers-section .offers-tables-content .offers-column {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .new-homepage .temoignages-section .temoignages-section-row {
        max-width: 100%;
    }

    .new-homepage .home-video .container-fluid .home-video-row {
        max-width: 100%;
    }

    .new-homepage .home-video .container-fluid,
    .new-homepage .home-video .container-fluid .home-video-row,
    .new-homepage .home-video .container-fluid .home-video-row .col-md-12 {
        padding: 0px;
    }

    .new-homepage .we-train .we-train-row .custom-column .we-train-img img {
        width: 100%;
    }

    .temoignages-section .temoignages-section-row .temoignages-inner-row .testimonials-text p {
        padding: 20px 30px;
    }
}

@media(max-width: 480px) {

    .new-homepage .banner-row {
        padding: 0px 15px;
    }

    .new-homepage .banner-row .banner-column.left {
        padding: 0px;
    }

    .new-homepage .banner-row .banner-column.left .banner-text h3 {
        font-size: 30px;
    }

    .new-homepage .banner-row .banner-column.left .banner-text p span {
        font-size: 14pt;
    }

    .new-homepage .banner-row .banner-column.left .banner-text .apps img {
        width: 140px;
        padding: 20px 10px;
    }

    .offers-section .offers-tables-content {
        max-width: 95%;
    }
}