.loading-overlay{
    position: absolute;
    top: 0;
    z-index: 1072;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    display:flex;
    justify-content:center;
}
.full-overlay{
    position:fixed
}
.loading-overlay>.loader4{
    margin-top:25%;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }


@font-face {
	font-family: "Raleway", sans-serif;
	src: url(../fonts/Raleway-Regular.ttf);
}

h1,h2,h3,h4,h5,h6 {
    color: #060003;
    text-transform: uppercase;
	font-family: "Raleway", sans-serif;
}

h5 {
    font-size: 14px;
    line-height: 14px;
}

h4 {
    font-size: 18px;
    line-height: 18px;
}

p {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 0px;
    color: #000;
}

hr {
    border-top: 1px solid #eee;
    margin-top: 25px;
}

span.star {
    color: red;
    font-size: 12px;
}

.hr-m-0 {
    margin: 0px !important;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.wrapper {
	overflow: hidden;
    background-color: #f1f1f1;
}

.alert {
    position: absolute;
}

.section-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 90px 0 120px;
}

.custom-button {
    border: none;
    color: #fff;
    text-decoration: none;
    background: #00bbda;
    cursor: pointer;
    display: inline-block;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    position: relative;
    letter-spacing: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 10px;
    text-transform: uppercase;
    padding: 12px 33px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
}

.custom-button:before {
    content: "\f1d8";
    font: 15px/1.2em FontAwesome;
    color: #fff;
    position: absolute;
    height: 100%;
    right: 18px;
    top: 50%;
    margin-top: -10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
}

.custom-button:hover:before {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.custom-button span {
    position: relative;
    display: block;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.custom-button:hover span {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}

.header-text h1 {
	font-size: 48px;
    line-height: 48px;
    font-weight: 800;
    margin: 15px 0;
    text-transform: uppercase;
}

.header-text h1 span {
	color: #8e8e8e;
}

.header-text h4 {
	margin: 23px 0 25px;
    font-weight: 400;
}

.divider span {
    display: inline-block;
    vertical-align: middle;
}

.divider span.outer-line {
	width: 25%;
    border-bottom: 1px solid #ddd;
}

.divider span.fa {
	font-size: 20px;
    margin: 0px 20px;
    color: #6e6e6e;
}

@media(min-width: 768px) {
	.container {
		width: 750px !important;
		max-width: initial !important;
	}
}

@media(min-width: 992px) {
	.container {
		width: 970px !important;
		max-width: initial !important;
	}
}

@media(min-width: 1200px) {
	.container {
		width: 1170px !important;
		max-width: initial !important;
	}
}

/*HEADER*/
.header {
    position: absolute;
    text-align: center;
    top: 0px;
    z-index: 1000;
    color: #fff;
    width: 100%;
    height: 99px;
    transition: background-color 200ms ease-in-out 0s;
    -o-transition: background-color 200ms ease-in-out 0s;
    -moz-transition: background-color 200ms ease-in-out 0s;
    -webkit-transition: background-color 200ms ease-in-out 0s;
}

.header.header-fixed {
    display: block;
    margin-top: 0 !important;
    position: fixed;
    height: 65px;
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
    transition: background-color 200ms ease-in-out 0s;
    -o-transition: background-color 200ms ease-in-out 0s;
    -moz-transition: background-color 200ms ease-in-out 0s;
    -webkit-transition: background-color 200ms ease-in-out 0s;
}

.header-wrapper nav {
	padding: 15px 30px;
}

.header-wrapper ul.navbar-nav.ml-auto {
	padding-right: 100px;
}

.header-wrapper ul.navbar-nav.ml-auto .nav-item>* {
    color: #060003;
    font-size: 15px;
    line-height: 1;
    padding: 26px 12px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    transition: .1s;
    text-decoration: none;
}

.header-wrapper ul.navbar-nav.ml-auto .nav-item {
	position: relative;
	transition: 400ms;
}

.header-wrapper ul.navbar-nav.ml-auto .nav-item .dropdown-menu {
    top: 45px;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    min-width: 200px;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    transform-origin:top;
	-webkit-transform-origin:top;
    display: block;
}

.header-wrapper ul.navbar-nav.ml-auto .nav-item .dropdown-menu a {
    padding: 15px 20px;
}

.header-wrapper ul.navbar-nav.ml-auto .nav-item .dropdown-menu a {
    display: block;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    padding: 15px 20px;
    color: #555;
}

.header-wrapper ul.navbar-nav.ml-auto .nav-item .dropdown-menu a:hover,
.header-wrapper ul.navbar-nav.ml-auto .nav-item .dropdown-menu a:focus {
	background: #8e8e8e;
	color: #fff;
}

.header-wrapper ul.navbar-nav.ml-auto .nav-item:hover .dropdown-menu {
	-webkit-transform: scale(1, 1);
    transform: scale(1, 1);
 	transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.header-wrapper ul.navbar-nav.ml-auto .nav-item a img {
    height: 13px;
    margin-top: -4px;
}

/*SERVICES*/
section.services {
    background-color: #f1f1f1;
    padding-bottom: 50px;
}

section.services .services-box {
    margin: 25px -15px;
    display: flex;
}

section.services .service-container {
	padding: 50px 15px 110px !important;
}

section.services .service-container .services-header-text h4 {
	margin: 23px 0 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

section.services .services-box-item {
    position: relative;
    color: #717c8e;
    text-decoration: none;
    -webkit-perspective: 750px;
    -ms-perspective: 750px;
    -o-perspective: 750px;
    perspective: 750px;
    margin: 15px 0;
    float: left; 
}

section.services .services-box-item-cover {
   	position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0px 15px;
    box-shadow: 0px 0px 3px 1px #ddd;
    border-radius: 7px !important;
}

section.services .services-box-item-cover:before {
    margin: -40px 0px 0px -20px;
    font-size: 40px;
    color: #060003 !important;
}

section.services .services-box-item-cover:before, 
section.services .services-box-item-cover:after {
    position: absolute;
    top: 50%;
    left: 50%;
}

section.services .services-box-item-cover:after {
    content: attr(data-headline);
   	font-family: "Raleway", sans-serif;
    left: 0;
    width: 100%;
    margin: 20px 0 0;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}

section.services .services-box-item-content:before {
    position: absolute;
    top: 0;
    right: 0;
    margin: -60px;
    font-size: 228px;
    opacity: 0.2;
}

section.services .services-box-item-cover, 
section.services .services-box-item-content {
    position: relative;
    border-radius: 3px;
    background: #fff;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

section.services .services-box-item-content {
    overflow: hidden;
    margin: -16px -6px;
    padding: 30px 40px;
    font-size: 14px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    border-radius: 7px;
    height: calc( 100% + 30px );
}

section.services .services-box-item:hover>.services-box-item-content, 
section.services .services-box-item:focus>.services-box-item-content, 
section.services .services-box-item.hover>.services-box-item-content {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

section.services .services-box-item:hover>.services-box-item-cover, 
section.services .services-box-item:focus>.services-box-item-cover, 
section.services .services-box-item.hover>.services-box-item-cover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

section.services .services-box-item-content h2 {
    position: relative;
    margin: 8px 0;
    font-size: 24px;
    font-weight: 500;
    text-transform: Capitalize;
    color: #060003 !important;
}

section.services .services-box-item-content p {
    line-height: 23px;
    position: relative;
    margin: 12px 0;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

section.services .services-box-item-content p a {
	color: #8e8e8e;
    text-decoration: none;
}
/*END OF SERVICES*/
/*VIDEO PROMOTION*/
section.videopromotion {
	background: url('../../assets/img/video-bg.jpg') 50% 0 fixed;
	background-color: #f1f1f1;
	-webkit-transform:skewY(-3deg);
	transform:skewY(-3deg);
	overflow: hidden;
}

section.videopromotion .section-overlay {
	background-color: rgba(0, 0, 0, 0.7);
    padding: 120px 0 180px;
}

section.videopromotion .container {
	-webkit-transform:skewY(3deg);
	transform:skewY(3deg);
}

section.videopromotion .header-text h1 {
	color: #fff;
}

section.videopromotion .header-text h1 span {
	color: #8e8e8e;
}

section.videopromotion .header-text h4 {
	margin: 23px 0 25px;
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

section.videopromotion .video-content p {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 0px;
    color: #fff;
}

section.videopromotion .video-content .btn-wrapper {
	margin-top: 70px;
}

section.videopromotion .video-content .btn-wrapper a {
    border: 4px solid #8e8e8e;
    border-radius: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 80px;
    position: relative;
    text-align: center;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 80px;
    outline: none;
    color: #8e8e8e;
    text-decoration: none;
}

section.videopromotion .video-content .btn-wrapper a:hover {
	color: #fff;
	background: #8e8e8e;
}

section.videopromotion .video-content .btn-wrapper a:before {
	content: "\f04b";
    font-family: FontAwesome;
    font-size: 26px;
    left: 50%;
    line-height: 41px;
    margin-left: -7px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
}

/*END OF VIDEO PROMOTION*/

/*EBOOK HOMEPAGE*/
section.ebook-homepage {
    height: auto;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 3 !important;
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
    background-color: #fff;
}

section.ebook-homepage .ebook-box {
	-webkit-transform: skewY(3deg);
    transform: skewY(3deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

section.ebook-homepage .ebook-box img {
    height: auto;
    max-width: 90%;
}

section.ebook-homepage h2, 
section.ebook-homepage p {
    color: #666;
    font-weight: normal;
}

section.ebook-homepage h2 {
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 0;
}

section.ebook-homepage a {
    padding: 12px 40px;
}

section.ebook-homepage a.custom-button {
    background-color: #8e8e8e;
    text-decoration: none;
}

section.ebook-homepage a.custom-button:before {
    content: "\f07a";
    margin-top: -10px;
}

section.ebook-homepage a.subscribe {
    border: 2px solid #8e8e8e;
    background: #fff;
    color: #8e8e8e;
    margin-left: 20px;
    padding: 10px 33px;
    transition: 100ms;
}

section.ebook-homepage a.subscribe:before {
	display: none;
}

section.ebook-homepage .custom-button:hover {
    background-color: #8e8e8e;
    color: #fff;
    transition: 100ms;
}

section.ebook-homepage .custom-button:hover span {
    transform: none;
}
/*END OF EBOOK HOMEPAGE*/
/*ABOUT*/
section.about {
	background-color: #f1f1f1;
}

section.about .container {
    padding: 90px 15px 150px !important;
}

section.about .about-content {
    margin-top: 40px;
}

section.about .about-content .title-about {
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 0;
}

section.about .about-content .custom-button {
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
    background: #8e8e8e;
    text-decoration: none;
    color: #fff;
}

section.about .about-content .custom-button:before {
    content: "\f061";
    margin-top: -10px;
}

section.about ul.nav.nav-tabs li>a {
	position: relative;
	display: block;
    border-left: 1px solid #ddd;
    line-height: 14px;
}

section.about ul.nav.nav-tabs {
    border-bottom: 0;
}


section.about ul.nav.nav-tabs li a, section.about ul.nav.nav-tabs li.active a {
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    /*border-left: 1px solid #555;*/
    border-radius: 0;
    font-size: 15px;
    color: #777;
    padding: 0 30px;
    margin: 15px 0 25px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}

section.about ul.nav.nav-tabs li.active a {
    cursor: default;
}

section.about ul.nav.nav-tabs li>a {
    border-left: 1px solid #ddd;
    line-height: 14px;
}

section.about ul.nav.nav-tabs li.active a {
    color: #8e8e8e;
    font-weight: 600;
}

section.about ul.nav.nav-tabs li:first-child>a {
    border-left: 0;
}

section.about ul.nav.nav-tabs li:first-child a {
    border-left: 0;
    padding-left: 0;
}

section.about .tab-content p {
    padding: 0 0 30px;
    margin: 0;
}

section.about .tab-content .tab-pane a {
    color: #8e8e8e;
    text-decoration: none;

}

section.about .tab-content .tab-pane a:hover,
section.about .tab-content .tab-pane a:focus {
    color: #23527c;
}
/*END OF ABOUT*/

/*TESTIMONIALS*/
section.testimonials {
    background: url('../../assets/img/bck_temoignages.jpg') 50% 0 fixed;
    background-size: cover!important;
    background-position-y: bottom!important;
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
    margin-top: -50px;
    z-index: 2;
}

section.testimonials .owl-dots {
    text-align: center;
}

section.testimonials .owl-dots .owl-dot {
    background: #fff;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    text-indent: -999px;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
}

section.testimonials .owl-dots .owl-dot.active {
    color: #8e8e8e;
    background: #8e8e8e;
    width: 12px;
    height: 12px;
    margin-bottom: -1px;
}

section.testimonials .container {
    -webkit-transform: skewY(3deg);
    transform: skewY(3deg)
}

section.testimonials .header-text h1 {
    color: #fff;
}

section.testimonials .header-text h4 {
    color: #fff;
}

section.testimonials .testimonials-wrapper {
    margin-top: 30px;
}

section.testimonials .testimonials-wrapper p {
    font-style: italic;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

section.testimonials .testimonials-wrapper p:before,
section.testimonials .testimonials-wrapper p:after {
    font-family: "FontAwesome";
}

section.testimonials .testimonials-wrapper p:before {
    margin-right: 20px;
    content: "\f10d";
}

section.testimonials .testimonials-wrapper p:after {
    margin-left: 20px;
    content: "\f10e";
}

section.testimonials .testimonials-wrapper h5 {
    margin: 20px 0 10px;
    font-size: 20px;
    font-weight: 500;
    color: #8e8e8e;
    text-align: center;
}

section.testimonials .testimonials-wrapper .testimonials-image {
    width: 30%;
    text-align: center;
    margin: auto;
}

section.testimonials .testimonials-wrapper .testimonials-image img {
    border-radius: 50%;
    border: 7px solid #fff;
}
/*END OF TESTIMONIALS*/
/*PRICING*/
section.pricing {
    padding-bottom: 50px;
    background: #efefef;
}

section.pricing .container {
    padding: 50px 15px 135px !important;
}
/*END OF PRICING*/

/*-----------------------------------------------------------*/
/*REGISTRATION PAGE*/
.registration-inner-wrapper {
    padding: 40px 15px 150px !important;
    margin-top: 70px;    
}

.registration-inner-wrapper h2 {
    display: block;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 30px;
    font-family: Raleway, sans-serif;
    text-align: center;
}

.registration-inner-wrapper .checkcheck label {
    display: block;
    position: relative;
    margin-bottom: 12px;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Raleway", sans-serif;
    margin-bottom: 0px;

}
.registration-inner-wrapper .checkcheck label input {
    position: absolute;
    left: 0;
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.registration-inner-wrapper .checkcheck label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #8e8e8e;
}

.registration-inner-wrapper .checkcheck label input:checked ~ .checkmark {
    background-color: #8e8e8e;
}

.registration-inner-wrapper .checkcheck label input:checked ~ .checkmark:after {
    left: 10px;
    top: 6px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.registration-inner-wrapper .checkcheck label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.registration-inner-wrapper .checkcheck label input ~ .checkmark:after {
    display: block;
}

.registration-inner-wrapper .checkcheck label .checkmark:after {
    left: 10px;
    top: 6px;
    width: 5px;
    height: 10px;
    border: solid #8e8e8e;
    border-width: 0 2px 2px 0px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*END OF REGISTRATION PAGE*/

/*SELECT OFFERS PAGE*/
.offers-wrapper {
    position: relative;
    list-style-type: none;
    padding: 0;
}

.offers-wrapper .offers-inner-wrapper {
    position: relative;
    z-index: 5;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    background-color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    margin-bottom: 30px;    
    padding: 20px;
}

.offers-wrapper .offers-inner-wrapper .offers-header {
    height: auto;
    padding: 30px;
    pointer-events: auto;
    text-align: center;
    color: #173d50;
    background-color: transparent;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    z-index: 1;
}

.offers-wrapper .offers-inner-wrapper .offers-header img {
    border: 0 none;
    float: left !important;
    margin: 0 10px 0 0;
    float: none!important;
}

.offers-wrapper .offers-inner-wrapper .offers-header h2 {
    line-height: 1.8rem;
    color: #666;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 20px 0 0;
    font-size: 2rem;
}

.offers-wrapper .offers-inner-wrapper .offers-header .offers-content .value {
    font-size: 4rem;
    font-weight: 400;
    color: #555;
    font-family: "Raleway",sans-serif;
}

.offers-wrapper .offers-inner-wrapper .offers-header .offers-content .currency {
    display: inline-block;
    margin-top: 0;
    vertical-align: top;
    font-size: 2rem;
    font-weight: 700;
    color: rgba(23, 61, 80, 0.4);
    font-size: 20px;
    font-family: "Raleway",sans-serif;
    margin-top: 19px;
}

.offers-wrapper .offers-inner-wrapper .offers-header .offers-content .duration {
    font-size: 1.4rem;
    font-weight: 700;
    font-size: 1.3rem;
    color: #8dc8e4;
    text-transform: uppercase;
    font-family: "Raleway",sans-serif;
}

.offers-wrapper .offers-inner-wrapper .offers-header p {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 14px;
    color: #999;
}

.offers-wrapper .offers-inner-wrapper .offers-body {
    overflow-x: visible;
}

.offers-wrapper .offers-inner-wrapper .offers-body .offers-features {
    width: auto;
    padding: 0px;
}

.offers-wrapper .offers-inner-wrapper .offers-body .offers-features li {
    font-weight: bold;
    font-family: "Raleway",sans-serif;
    padding: 10px;
    border-bottom: none;
    float: none;
    width: auto;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    list-style: none;
}

.offers-wrapper .offers-inner-wrapper .offers-body .offers-features li:first-child {
    border-top: none;
}

.offers-wrapper .offers-inner-wrapper .pictos-paiment {
    text-align: center;
}

.offers-wrapper .offers-inner-wrapper .pictos-paiment img {
    display: inline-block;
    height: 25px;
    float: none!important;
    margin: 0;
    border: 0 none;
}

.offers-wrapper .offers-inner-wrapper .offers-footer {
    position: relative;
    height: auto;
    padding: 30px 0;
    text-align: center;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
}

.offers-wrapper .offers-inner-wrapper .offers-footer a {
    padding: 10px 25px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin: 0 30px;
    text-decoration: none;
}

.offers-wrapper .offers-inner-wrapper .offers-footer a:before {
    content: "\f07a";
    margin-top: -10px;
    right: 86px;
}

.offers-wrapper .offers-inner-wrapper .offers-footer a:hover {
    color: #fff;
}

.offers-wrapper .offers-inner-wrapper .offer-plan-bottom {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 5px;
    text-align: center;
}
/*END OF SELECT OFFERS PAGE*/

/*PAYMENT METHOD*/
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-inner {
    display: flex;
    align-items: center;
}

.stripe-inner label {
    margin: 0px;
    padding: 0px;
}

.btn-payment-method {
    margin-top: 50px;
}
/*END OF PAYMENT METHOD*/

/*FOOTER*/
footer {
    -webkit-transform: skewY(-2deg);
    transform: skewY(-2deg);
    margin-top: 30px;
    margin-bottom: -50px;
    padding-bottom: 50px;
    border: none;
    background: #fff;
}

footer .container {
    -webkit-transform: skewY(2deg);
    transform: skewY(2deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 120px 15px 0;
}

footer .top-footer h4 {
    text-transform: uppercase;
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 700;
}

footer .top-footer .menu ul {
    list-style-type: none;
    padding: 0px;
}

footer .top-footer .menu ul li {
    margin-bottom: 17px;
}

footer .top-footer .menu ul li a,
footer .top-footer .menu ul li span {
    text-transform: uppercase;
    color: #8e8e8e;
    font-size: 13px;
    font-weight: 400;
    transition: .1s;
    text-decoration: none;
}

footer .facts-footer>div {
    width: 49%;
    display: inline-block;
    margin-bottom: 18px;
}

footer .facts-footer>div h5 {
    font-size: 30px;
    font-weight: 500;
    margin: 15px 0 12px;
    color: #060003 !important;
}

footer .facts-footer>div span {
    text-transform: uppercase;
    font-size: 12px;
    color: #8e8e8e;
}

footer hr {
    background-color: #1d1d1d;
    border: 0;
    height: 1px;
    margin: 6px 0 17px;
}

footer .social-icons {
    padding-top: 10px;
}

footer .social-icons ul {
    margin: 0;
    padding: 0;
    line-height: 0;
    font-size: 0;
}

footer .social-icons ul li {
    display: inline-block;
    margin: 0 10px 15px 0;
    padding: 0;
    vertical-align: top;
    list-style: none;
}

footer .social-icons ul li a {
    width: 40px;
    height: 40px;
    line-height: 38px;
    border: 2px solid #8e8e8e;
    background: transparent;
    display: block;
    border-radius: 50%;
    transition: 0.8s;
    text-align: center;
    text-decoration: none;
}

footer .social-icons ul li.blue a {
    border: 2px solid #5a8dff;
}

footer .social-icons ul li.pink a {
    border: 2px solid #f95aff;
}

footer .footer .social-icons ul li a:before {
    font-size: 19px;
}

footer .social-icons ul li.pink a::before {
    color: #f95aff;
}

footer .social-icons ul li.blue a::before {
    color: #5a8dff;
}

footer .social-icons ul li a:before {
    display: block;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    font-family: FontAwesome;
    font-size: 20px;
    text-align: center;
}

footer .social-icons ul li a[title="instagram"]:before {
    content: "\f16d";
}

footer .social-icons ul li a[title="facebook"]:before {
    content: "\f09a";
}

footer .social-icons ul li a[title="youtube"]:before {
    content: "\f167";
}

footer .social-icons ul li a {
    width: 40px;
    height: 40px;
    line-height: 38px;
}

footer .social-icons ul li a:hover {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: #fff !important;
    background: #8e8e8e;
    border: 2px solid #8e8e8e;
}

footer .social-icons ul li a:hover:before {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: #fff !important;
}


.loader4 {
    width:45px;
    height:45px;
    display:inline-block;
    padding:0px;
    border-radius:100%;
    border:5px solid;
    border-top-color:rgba(246, 36, 89, 1);
    border-bottom-color:rgba(255,255,255, 0.3);
    border-left-color:rgba(246, 36, 89, 1);
    border-right-color:rgba(255,255,255, 0.3);
    -webkit-animation: loader4 1s ease-in-out infinite;
    animation: loader4 1s ease-in-out infinite;
 }
 @keyframes loader4 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
 }
 @-webkit-keyframes loader4 {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
 }