@font-face {
		font-family: "Raleway", sans-serif;
		src: url(../fonts/Raleway-Regular.ttf);
	}

	/************* GENERAL *************/


	a:hover{
		color: #0066cc;
		text-decoration: none;
	}

	

    /* conditionsgenerales */

    .conditions-generalestemp h1{
    	line-height: 1;
    }

	.list-child ol{
		list-style: none;
		counter-reset: item;
	}

	.list-child ol li{
		display: block;
	}

	.list-child ol li:before{
		content: counters(item, ".") ". "; 
		counter-increment: item;
	}

	.list-parent{
		list-style: none;
		counter-reset: item;
		padding-left: 10px;
	}

	.list-child{
		display: block;
	 	
	  margin-bottom: 25px;
		  font-family: "Raleway", sans-serif;
	    font-size: 14px;
	    line-height: 1.8;
	   font-weight: normal;
	    margin-top: 0px;
	    color: #666;

	}

	.list-child p:before{
		content: counters(item, ".") ". "; 
		counter-increment: item;
	}

	.list-child p{
		text-indent: 30px;
		font-weight: 700;
	}

	.list-child ol{
		margin: 0;
	  	padding: 0;
	}

	.definition-grandchild,
	.dans-parent,
	.lasociete-child{
		 display: block;
  		list-style-type: disc!important;


	}

	.definition-parent li,
	.objet-child li{
		margin-bottom: 12px;
	}

	.modalités li,
	.loi-application li{
		margin-bottom: 20px;
	}

	.lasociete li:nth-child(1){
		margin-bottom: 10px;
	}


	.lasociete-child,
	{
		margin-top: 15px!important;
	}

	.definition-grandchild li,
	.utilisateur-child li{
		margin-bottom: 10px;
		margin-left: 35px;
	}

	.loi-application p{
		margin-left: 0;
	}

	.dans-parent li,
	.lasociete-child li{
		margin-bottom: 0px!important;
		margin-left: 35px;
	}
	

	.preambule-parent li{
		margin-bottom: 20px;
		padding: 0;
	}

	.conditions-generales a{
		color: inherit;
		font-weight: normal;
	}

	.conditions-generales a:hover{
		color: #337ab7;
		
	}
	/* end conditionsgenerales*/

	.btn:focus,.btn:active {
	   outline: none !important;
	   box-shadow: none;
	}

	.pages-heading{
		
		font-size: 48px;
		line-height: 48px;
		font-weight: 800;
		font-family: Raleway, sans-serif;
		text-align: center;
		margin: 5px 0 32px 0;
	}


	.same-wrapper{
		margin: 100px 0 50px;
	}

	.inner-samecontent{
		padding-bottom: 55px;
	}

	.inner-contentheader{
		margin-bottom: 42px;
    	padding: 2px 0 0 0;
    	font-weight: normal;
	}

	.inner-samecontent #pvideo{
		margin-bottom: 55px;
	}

	.custombtn{
		border-radius: 40px;
		font-size: 14px;
		font-weight: 600;
		padding: 14px 25px;
		background-color: #8c8c8c;;
		border: none;
		transition: ease-in 0.3s;
		margin-top: 10px;
		
	}
	.custombtn:hover{
		background-color: #8c8c8c;
	}

	 .custombtn span{
		 display: inline-block;
		  position: relative;
		  transition: 0.5s;
		  right: -8px;
	}

	 .custombtn span:after {
	  content: '';
	  position: absolute;
	  opacity: 0;
	  top: 0;
	  right: -5px;
	  transition: ease-in 0.5s;
	}

	 .custombtn:hover span {
	  right: 7px;
	}

	 .custombtn:hover span:after {
	
	  right: 0;
	}

	 .custombtn i {
		    position: relative;
		    left: 0px;
		    visibility: hidden;
		    transition: ease-out .3s;
		   
	}

	 .custombtn:hover i{
			visibility: visible;
			left: 5px;	
	}

	 .same-wrapper .img-container{
		width: 100%;
		height: 100%;
		padding: 8px 14px;
		border-radius: 5px;

	}

	.img-container img{
		border: 1px solid #cccc;
		border-radius: 3px;
	}
     
	/* parallax*/

	.parallax-section{
		background-image: url('/assets/img/bg_sinscrire.jpg');
		background-position: center;
		background-size: cover;
		height: 620px;
		background-attachment: fixed;
		position: relative;
		
 	}

 	.overlay{
 		background-color: rgba(0,0,0,0.7);
 		width: 100%;
 		height: 100%;
 		position: relative;
 		top: 0;
 	}

 	.parallax-section .container{
 		position: absolute;
 		top: 0;
 		left: 50%;
 		transform: translate(-50%, 0);
 		height: 100%;
 	}


	.parallax-content{
		margin: 25px 20%;
		height: 100%;
		padding: 100px 0;
		color: #fff;
		
	}

	.parallax-content h1{
		    font-size: 48px;
		    line-height: 48px;
		    font-weight: 900;
		    color: #8c8c8c;
		   margin: 15px 0;
		    font-family: Raleway, sans-serif;
	}

	.parallax-content h1 span{
		 color: #ffff;
		  font-weight: 900;
	}

	.parallax-content h4{
		
		color: #ffff;
		margin: 23px 0 25px;
	}

	.parallax-checklist{
		margin-top: 40px;
	}

	.parallax-content .list-group{
		padding: 0;
    	list-style-type: none;
    	color: #fff;
    	text-align: left;
    	max-width: 270px;
    	margin: 0 auto;

	}
	.parallax-content .list-group li{
		font-size: 14px;
		margin-bottom: 10px;
		text-align: left;
		font-family: "Raleway", Arial, Helvetica, sans-serif;
		
	}

	.parallax-content .list-group li i{
		margin-right: 12px;
		
	}

	.parallax-content .custombtn{
		background-color: grey;
		border: none;
		font-size: 15px;
		border-radius: 50px;
		margin-top: 30px;
		width: 260px;
	}

	.parallax-content .custombtn:hover span {
	  right: 25px;
	}


	/* scroll to top btn*/
	
	#mybtntop{
		display: none;
		position: fixed;
		bottom: 25px;
		right: 25px;
		z-index: 99;
		font-size: 18px;
		  border: 2px solid grey;
		  outline: none;
		  background-color: transparent;
		  cursor: pointer;
		 transition: all 0.3s;
		  height: 45px;
		  width: 45px;
		  border-radius: 100px;
		 overflow: hidden;
	}

	#mybtntop i{
		display: block;
		overflow: hidden;
		margin-top: 10px;
		padding: 13px 0px;
		-webkit-transition: all linear 200ms;
	   -moz-transition: all linear 200ms;
	   -o-transition: all linear 200ms;
	    transition: all linear 200ms;
	    height: inherit;
	    width: 100%;
	    color: #fff;
	}

	#mybtntop i:first-of-type{
		color: grey;
		margin-top: -7px;
	}

	#mybtntop i:last-of-type{
		
		
		color: #fff;
	}

	#mybtntop:hover{
		background-color: grey;

	}

	#mybtntop:hover i:first-child {
	  margin-top: -64px;
	  background-color: grey;
	}


	/* end css for scroll to top btn */



/***************** ebook **************/


.ebook-section{
	margin-top: 80px;
}

.ebook-section #fitness-recipe{
	
	margin-top: 50px;
	padding-top: 30px;
}

.ebook-section .btn-primary{
	background-color: #000;
	border-radius: 0px;
	padding: 10px 0;
	font-size: 18px;
	transition: ease-out;
	border: none;

}

.ebook-section .ebook-heading{
	font-size: 26px;
	font-weight: lighter;
	text-transform: none;
	margin: 0 auto 20px;
}

.ebook-section .btn-primary:hover{
	background-color: rgb(255, 180, 0);
	color: #000;
}

.ebook-section .para,
.ebook-section #price{
	
	margin: 0 auto 20px;
}

.ebook-section #receipt-div{
	
	margin: 35px 0; 
}

.ebook-section .receipt-head{
	color: rgb(255, 180, 0);
	text-transform: none;
	font-size: 20px;
	font-weight: 600;
	margin: 0 auto 30px;
}
 


		ul{
			list-style: none outside none;
		    padding-left: 0;
            margin: 0;
		}
        .demo .item{
            margin-bottom: 60px;
        }
		.content-slider li{
		    background-color: #ed3020;
		    text-align: center;
		    color: #FFF;
		}
		.content-slider h3 {
		    margin: 0;
		    padding: 70px 0;
		}
		.demo{
			margin-top: 10px;
			
			padding: 25px;
			height: 100%;
		}

		.lSSlideWrapper, .lSSlideOuter.vertical, 
        .lSSlideOuter.vertical .lightSlider>* {
            height: 500px !important;

        }

        .lSSlideWrapper, .lSSlideOuter.vertical, 
        .lSSlideOuter.vertical .lightSlider>* {
            height: 500px !important;
        }

        .lSSlideOuter.vertical .lSGallery {
            height: auto !important;
        }
        .lSSlideOuter .lSPager.lSGallery li {
            height: auto !important;
        }

        .lSSlideOuter .lSPager.lSGallery img {
		    
		    margin: 3px -2px!important;
		    padding: 3px !important;
		}

		#cover{
			object-position: center;
			object-fit: cover;
			padding: 10px 130px;
		}

		.slidemeimg{
			object-position: center;
			padding: 120px 50px;
		}



/* *******************LOGIN************************/

	.login-wrapper{
		margin: 100px 0;
	}

	.login-wrapper a:hover,
	.login-form .form-group  a:hover{
		color: #0066cc;

	}

	.services-section{
		padding-top: 12px;
		text-align: center;
	}

	.services-section h3{
		font-size: 24px;
		line-height: 1;
	}

	.services-section p{
		font-family: "Raleway", sans-serif;
		font-size: 14px;
		padding: 0 5px;
	}

	.services-section a{
		text-decoration: none;
		color: grey;
		font-size: 15px;
	}

	.login-form .form-group,
	.reg-form .form-group {
		margin-bottom: 8px;
	}

	.login-form .form-group label,
	.reg-form .form-group label{
		font-weight: 700;
		font-size: 14px;
		color: grey;
		margin-bottom: 5px;
		font-family: "Raleway", sans-serif;
	}

	.login-form .form-check label,
	.reg-form .form-check label{
		font-weight: lighter;
		font-size: 16px;
		color: grey;
		margin-bottom: 10px;
	}

	.login-form .form-check .form-check-input,
	.reg-form .form-check .form-check-input{
		margin-left: 5px;
	}

	.reg-form .form-group input,
	.login-form .form-group input{

		border-radius: 0px;
		border: 1px solid grey;
		height: 30px;
	}

	.login-form button,
	.reg-form button{
		background-color: grey;
		padding: 5px 12px;
		border: none;
		margin-bottom: 20px;
		font-size: 15px;
	}

	.login-form .form-group a,
	.reg-form .form-group a{
		text-decoration: none;
		color: grey;
		font-size: 15px;
	}

/************************ end LOGIN ****************/



/************************ PROGRAM PAGE ************/
	 
	.program-wrapper{
		padding: 100px 0 0 0;
	}


	.programs-intro{
		margin-top: 85px;
	}

	.programs-intro h1{
		font-size: 30px;
		margin-bottom: 24px;
	}

	.programs-intro h3{
		font-size: 24px;
		font-weight: normal;
		
	}

	.programs-intro .first-para{
		margin-bottom: 22px;
	}

	.programs-intro .first-para p{
		line-height: 1.5;
		margin: 0;
	}


	.programs-intro div:last-of-type p{
		margin-bottom: 0px;
	}


	.grid-card{
		padding: 10px 5px;
	}

	.programs{
		text-align: center;
		box-shadow: 0px 0px 10px #33333329;
	    border-radius: 5px;
	    border: 1px solid #cacaca;	
	    padding: 40px 10px;
	}

	.programs .card-table a,
	.programs .card-body a{
		color: #6c757d;
		text-decoration: none;
	}

	.programs .card-body h3{
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 35px;
	}
		

	.programs .card-body p{
		border: none;
		font-size: 12px;
		font-family: Raleway, sans-serif;
		font-weight: 600;
	}

	.programs .card-body .biset-section{
		margin: 30px 0;
		
	}

	.programs .card-body .biset-section p{
		padding: 0;
		margin: 0;
	}

	.programs .card-body .random-set p{
		margin:  20px 0;
	}

	.program-videos{
		margin-top: 35px;
	}


	.planning-section{
		background-color: #e6e6e6;

	}

	.planning-section .planleft-section{
		margin: 0 0 30px 0;
		padding: 50px 30px;
	}

	.planning-section .planleft-section h3{
		font-size: 24px;
		font-weight: normal;
	}
	.planning-section .planleft-section p{
		padding: 0;
		margin: 0;
		line-height: 1.5;
	}

	.planright-section{
		margin: 10px 0 30px 0;
		padding: 20px 30px;
		text-align: center;
	}
	.planright-section a{
		text-decoration: none;
		color: #999999;
	}

	.planright-section a:hover,
	.programs .card-table a:hover{
		color: #0066cc;
	}



/*********************** END PROGRAM PAGE *********/

/************* CONCEPT / TOUT-SAVOIR PAGE *****/
	
	.toutsavoir .container{
		background-image: url('/../assets/img/banner-le-concept-tout-savoir.jpg');
	    background-position: center 67px;
    	background-size: auto 825px !important;
    	height: 825px;
    	z-index: 10 !important;
    	padding: 0px;
    	background-attachment: fixed;
    	background-repeat: no-repeat;
	}

	.toutsavoircontent .savoir-innercontent p{
		margin-bottom: 15px;
	}


	.toutsavoircontent #saviorwesweatpart h3{
		margin-top: 52px;
	}

	.toutsavoircontent #saviorwesweatpart p{
		margin-bottom: 40px;
	}

	#servicelinkbottom{
		margin-top: 85px;
	}

	.toutsavoircontent .leconcept-inner .topimgs{
		margin: 16px 49px;
	}

	.passion-section .toutsaviorparallax p{
		font-style: normal;
	}

	#imgbottom{
		margin-top: 50px;
		margin-bottom: 150px;
	}

/************* END CONCEPT / TOUT-SAVIOR PAGE *****/

/***************** WE TRAIN/ DEMO VIDEOS***********/

	#small-text{
		color: #666;
    	font-size: 10.5px;
	}
	
	 .inner-demovids p:first-of-type{
		margin-top: 18px;
	}



/***************** END WE TRAIN/ DEMO VIDEOS**********/

/***************** WE TRAIN/ MEETING TODAY************/

	.meetingtoday .img-container{
		margin-left: 15px;
	}


/***************** END WE TRAIN/ MEETING TODAY*********/


/***************** WE TRAIN/ FAQ ************/


	.banner-title{
		position: relative;
    	z-index: 999;
    	margin-top: -103px;
    	top: 90px;
    	background-color: #ff7733;
	}

	.imageslideup-section {
		background-image: url('/../assets/img/wetrain-faq-banner.jpg');
	    background-position: center 67px;
	    background-size: auto 825px !important;
	    height: 825px;
	    z-index: 10 !important;
	    padding: 0px;
	    background-attachment: fixed;
	}

	.faq-section h1{
		font-size: 48px;
	    line-height: 48px;
	    font-weight: 800;
	    margin-top: 27px;
	    margin-bottom: 10px!important;
	}

	.faq-section hr,
	.conditions-generalestemp hr{
		border-top: 5px solid #8e8e8e;
    	width: 80px;
   		margin-top: 32px;
    	margin-bottom: 35px;
	}

	.faq-section .line2{
		
    	margin-bottom: 20px;
	}

	.title-about{
		font-size: 28px;
    	line-height: 28px;
    	font-weight: 500;
    	margin-top: 13px;
    	margin-bottom: 44px;
	}

	/* definition section */

	.definition-section{
		margin: 70px 0;
	}

	.definition-section h3:first-of-type{
		font-size: 24px;
    	line-height: 24px;
    	font-weight: 700;
    	margin-top: 15px;
    	margin-bottom: 45px;
		
	}

	.definition-section .definition-div{
		text-align: center;
		
	}

	.definition-section .definition-div h5{
		font-weight: 800 !important;
		color: #666;
		font-size: 14.5px;
		text-transform: none;
		margin-top: 5px;
	}

	.definition-section .definition-div span{
		text-decoration: underline;
	}

	.definition-section #tempo p{
		margin-bottom: 0;
	}

	.definition-section #tempo p:last-of-type{
		margin-bottom: 15px;
	}



	/* we train section faq with collapse*/
	#accordion .faq-cards .card-header h4{
		font-weight: normal;
		font-size: 17px;
		margin: 0;
		
	}

	#accordion .faq-cards .card-header h4> a {
	  display: inline-block;
	 color: inherit;
	  margin: 5px 25px;
	  padding: 5px 0;
	  background-color: none;
	}

	#accordion .faq-cards .card-header h4> a:after {
	  content: "\f078";
	  font-family: 'FontAwesome';
	  position: absolute;
	  left: 20px;
	  font-weight: lighter!important;
	  font-size: 8px;

	}
	#accordion .faq-cards .card-header h4> a[aria-expanded="true"]:after {
	  content: "\f077";
	}


	/* faq with collapse*/

	.collapsingfaq-content{
		padding: 100px 15px 100px !important;
	}

	.collapsingfaq-content-row{
		
		margin-top: 40px;
	}

	.faq-cards .card-body p{
		text-align: justify;

	}

	.faq-cards .card-body{
		padding: 15px!important;
		background-color: none;
	}

	.faq-cards{
		border-radius: 5px;
		padding: 0!important;
	}


	.faq-rightimages{
		
	   border-radius: 4px;
	   	margin-bottom: 40px;
	}

	.faq-rightimages img{
		 border-radius: 4px;
		 border: 1px solid #ddd;
	}

	/* faqs parallax */

	#faqparallax{
		transform: skewY(-3deg);
		height: 460px;

	}

	#faqparallax .overlay{
		padding: 70px 0; 
	}


	#faqparallax .inner-parallax-section{
		transform: skewY(3deg);
	}

	#faqparallax .inner-parallax-section .parallax-content{
		padding: 70px 0 40px;
		margin: 0 20%;
	}

	/* services with flip cards section */


	#wetrainservice{
		padding: 70px 0;
	}

	#wetrainservice .container{
		padding: 50px 15px 110px !important;
	}

	#wetrainservice .container .services-box{
		margin-top: 50px;
	}



	/* passion-section*/


	.passion-section{
		background-image: url('/../assets/img/bg_notre_rencontre.jpg');
		background-attachment: fixed;
		background-position-x: 50%;
		/*background-origin: initial;
   		background-clip: initial;
    	background-color: initial;*/
    	transform: skewY(-3deg);
    	background-repeat: no-repeat;
    	/*background-position: center;*/
    	background-size: cover;
	}

	.passion-section img{
		border: 12px solid #8e8e8e;
		border-radius: 50%;
	}

	.passion-section .overlays{
		padding: 70px 0;
		background-color: rgba(0,0,0,0.7);
	}

	.passion-section .overlays .container{
		    backface-visibility: hidden;
		    transform: skewY(3deg);
	}

	.passion-section h1{
		font-size: 48px;
	    line-height: 48px;
	    font-weight: 800;
	   margin: 15px 0 20px;
	    color: #fff;
	}

	.passion-section h3{
		margin-top: 10px;
	    font-size: 30px;
	    line-height: 30px;
	    font-weight: 500;
	    color: #8e8e8e;
	    text-align: left;
	}

	.passion-section p{
		color: #fff;
		font-style: italic;
		margin: 30px 0 15px;
		text-align: left;
		font-weight: normal;
	}


	.passion-section .social-icons{
		padding-top: 0px;
		
	}

	.passion-section .social-icons ul {
	    margin: 0;
	    padding: 0;
	    line-height: 0;
	    font-size: 0;
	}

	.passion-section .social-icons ul li {
	    display: inline-block;
	    margin: 0 15px 15px 0;
	    padding: 0;
	    vertical-align: top;
	    list-style: none;
	}

	.passion-section .social-icons ul li a {
	    background: transparent;
	    display: block;
	    width: 63px;
	    height: 63px;
	    line-height: 59px;
	    border-radius: 50%;
	    -webkit-transition: 0.8s;
	    transition: 0.8s;
	    text-align: center;
	    text-decoration: none;
	    color: #fff !important;

	}

	.passion-section .social-icons ul li.blue a {
	    border: 2px solid #5a8dff;
	}

	.passion-section .social-icons ul li.pink a {
	    border: 2px solid #f95aff;
	}

	.passion-section .footer .social-icons ul li a:before {
	    font-size: 30px;
	}

	.passion-section .social-icons ul li.pink a::before {
	    color: #f95aff;
	}

	.passion-section .social-icons ul li.blue a::before {
	    color: #5a8dff;
	}

	.passion-section .social-icons ul li a:before {
	    display: block;
	    -webkit-transition: 0.8s;
	    transition: 0.8s;
	    font-family: FontAwesome;
	    font-size: 30px;
	    text-align: center;
	}

	.passion-section  .social-icons ul li a[title="instagram"]:before {
	    content: "\f16d";
	}

	.passion-section  .social-icons ul li a[title="facebook"]:before {
	    content: "\f09a";
	}

	.passion-section  .social-icons ul li a[title="youtube"]:before {
	    content: "\f167";
	}


	.passion-section  .social-icons ul li a:hover {
	    -webkit-transition: 0.4s;
	    transition: 0.4s;
	    color: #fff !important;
	    background: #8e8e8e;
	    border: 2px solid #8e8e8e;
	}

	.passion-section  .social-icons ul li a:hover:before {
	    transform: rotateY(360deg);
	    -webkit-transform: rotateY(360deg);
	    -webkit-transition: 0.4s;
	    transition: 0.4s;
	    color: #fff !important;
	}

	.notrep,
	.notrep2{
		font-style: italic!important;
	}
	

	
		

/***************** END WE TRAIN/ FAQ*********/

/***************** WE TRAIN/ CONCEPT ************/
	.concept-section .container{
		background-image: url('/../assets/img/banner-wepump.jpg');
	    background-position: center 67px;
    	background-size: auto 825px !important;
    	height: 825px;
    	z-index: 10 !important;
    	padding: 0px;
    	background-attachment: fixed;
    	background-repeat: no-repeat;
	}


	.leconcept-inner{
		padding: 37px 0px 0px;
	}

	
	.leconcept-innercontent p{
		text-align: justify;
	}

	.leconcept-inner img{
		border-radius: 2px;
	}

	.leconcept-inner #concept-bottomimg{
		margin-top: 55px;
	}

	#rightcontent{
		margin-top: 53px;
	}

/***************** WE TRAIN/ END CONCEPT ************/
/***************** WE SWEAT/ SEANCES VIDEOS / faq/ concept **********/

	.seancesvideos #seancesp{
		font-size: 12pt;
	}

	.we-talk .container{
		background-image: url('/../assets/img/banner-we-sweat-faq.jpg');
	    background-position: center 67px;
    	background-size: auto 825px !important;
    	height: 825px;
    	z-index: 10 !important;
    	padding: 0px;
    	background-attachment: fixed;
	}

	.we-talk-rightimages{
		margin-bottom: 1px!important;
		border: 1px solid #ddd;
	   border-radius: 4px;
	}

	.we-talk-rightimages img{
		 border-radius: 4px;
	}

	.leconcept .container{
		background-image: url('/../assets/img/banner-we-sweat-le-concept-bannieren.jpg');
	    background-position: center 67px;
    	background-size: auto 825px !important;
    	height: 825px;
    	z-index: 10 !important;
    	padding: 0px;
    	background-attachment: fixed;
	}

	#le-concepintro,
	#le-concepintro2{
		
		padding: 0 0 95px 0;
	}

	.leconcept-flipcards #flipcardOne{

			margin-top: 45px;
		}

		.leconcept-flipcards #flipcardlast{
			margin-top: 125px;
		}

/***************** END WE SWEAT/ SEANCES VIDEOS**********/

/***************** NOUS/ SISSY*************/
	.sissy-section,
	.tini-section{
		padding-bottom: 70px;
	}

	.sissy .container{
		background-image: url('/../assets/img/nous-sissy-banner.jpg');
	    background-position: center 67px;
	    background-size: auto 825px !important;
	    height: 825px;
	    z-index: 10 !important;
	    padding: 0px;
	    background-attachment: fixed;
	}

	.sissy-inner,
	.tini-inner,
	.rencontre-inner{
		padding: 12px 0 100px;
	}

	.sissy-rightimg{
		
		margin: 27px 0 0 0;
		padding-bottom: 60px;
	}

	.sissy-rightimg img{
		border: 1px solid #ddd;
    	border-radius: 4px;
	}

	.sissy-inner p{
		text-align: justify;

	}

	.sissy-notre .overlays,
	.tini-notre .overlays,
	.toutsaviorparallax .overlays{
		padding: 75px 0 30px;
	}

	.nousparallax{
		transform: skewY(-3deg);
		height: 500px;

	}

	.nousparallax .overlay{
		padding: 70px 0; 
	}


	.nousparallax .inner-parallax-section{
		transform: skewY(3deg);
	}

	.nousparallax .inner-parallax-section .parallax-content{
		padding: 70px 0 40px;
		margin: 0 20%;
	}

/***************** END NOUS/ SISSY*************/

/*****************  NOUS/ TINI *************/

	.tini .container{
		background-image: url('/../assets/img/Nous-tini-banner.jpg');
	    background-position: center 67px;
	    background-size: auto 825px !important;
	    height: 825px;
	    z-index: 10 !important;
	    padding: 0px;
	    background-attachment: fixed;
	}


/***************** END NOUS/ TINI *************/


/*****************  NOUS/ NOTRE RECONTRE  *************/
	
	.rencontre-section{
		padding-bottom: 35px;
	}

	.rencontre .container{
		background-image: url('/../assets/img/Nous-notre-rencontre-banner.jpg');
	    background-position: center 67px;
	    background-size: auto 825px !important;
	    height: 825px;
	    z-index: 10 !important;
	    padding: 0px;
	    background-attachment: fixed;
	}


/***************** END NOUS/ TINI *************/

 /************** TEMOIGNAGES PAGE*************/
 	.temoignages-section{
 		margin-top: 80px;
 	}

 	.temoignages-section h1{
 		font-weight: 900;
 		margin: 18px 0 20px;
 		font-size: 48px;
 	}

 	.temoignagesrow{
 		padding: 10px 0 10px;
 	}

 	.temoignagescards{
 		text-align: center;
 		margin-bottom: 40px;
 		border: none;
 		border-radius: 8px;
   		 box-shadow: 0px 0px 25px #efefef;
   		 padding: 0;
 	}

 	.temoignagescards img{
 		height: 240px;
 		border-top-left-radius: 8px;
 		border-top-right-radius: 8px;
 
 	}



 	.temoignagescards .card-body{
 		padding: 28px;
 	}

 /************** END TEMOIGNAGES PAGE************
/**************** LOGGED IN USER / LOGIN/ WE-EAT/ **************/
.btn-secondary:hover,.btn-secondary:focus,.btn-secondary:active{
	background-color: transparent;
	border: 1px solid transparent;
}

	.loginrecettes .container{
		background-image: url('/../assets/img/banner-weeatYL2.jpg');
	    background-position: center 67px;
	    background-size: auto 825px !important;
	    height: 825px;
	    z-index: 10 !important;
	    padding: 0px;
	    background-attachment: fixed;
	}


	#recettesfitcol{
		margin-bottom: 10px;
	}


	 .recettesfitbtn{
		padding: 20px 10px;
   		border-radius: 10px;
    	box-shadow: 0px 2px 5px #8e8e8e;
    	height: 100%;
    	background-color: #fff;
    	margin-left: auto;
    	margin-right: auto;
    	border: 1px solid transparent;
	}

	.categoriesbtn {
		text-decoration: none;
		margin-left: auto;
    	margin-right: auto;
    	padding: 0 15px 30px;
	}

	.categoriesbtn a{
		text-decoration: none;
		
	}

	.categoriesbtn .categoriesbtn-item{
		padding: 10px 10px 15px;
	    border-radius: 10px;
	    box-shadow: 0px 2px 5px #8e8e8e;
	    height: 100%;
	    align-items: center;
	    display: flex;
	    justify-content: center;
	    flex-direction: column;
	    margin-bottom: 20px;
	    background-color: #fff;
	    text-decoration: none;
	}

	.categoriesbtn .categoriesbtn-item h4,
	.recettesfitbtn h4{
		text-align: center;
	    font-weight: 700;
	    font-size: 15px;
	    color: #555;
	    margin: 10px 0;
	}

	.categoriesbtn .categoriesbtn-item img{

	margin: auto auto 0;
   	width: 50%;
   	-webkit-filter: opacity(.2) drop-shadow(0 0 0 grey);
    filter: opacity(.2) drop-shadow(0 0 0 grey);
	}

	.recettesfit-items article{
		margin-bottom: 20px!important;
	}


	.recettesfit-items article figure{
		margin: 0;
		padding: 0 5px 
	}

	.recettesfit-items article figure img{
		border-radius: 4px;
		    width: 100%;
	}

	.recettesfit-items article h4{
		color: #555;
    	text-transform: uppercase;
    	font-weight: 800;
    	font-size: 18px;
    	line-height: 25px;
    	margin-bottom: 0;
	}

	.recettesfit-itemsdesc h4{
		padding: 0 5px;
	}

	

/******** END LOGGED IN USER / LOGIN/ WE-EAT/ MES-RECETTES-FIT****/

/******** LOGGED IN USER / LOGIN/ WE-EAT/ ITEM/ ITEMS ********/
	.getItemContent{
		padding:  0 0 60px;
	}

	.getItemContent .display-img img{
		background-color: red;
		width: 100%;
		height: 100%;
		border-radius: 4px;
	}

	.getItemContent .itemname h2{
		font-size: 36px;
    	line-height: 36px;
    	font-weight: 800;
	}


	.itemname{
		margin-top: 20px;
    	margin-bottom: 10px;
	}

	.recentsactivity{
		clear: both;
	    padding: 20px 0;
	    width: 100%;
	    border-top: 1px solid #ddd;
	    border-bottom: 1px solid #ddd;
	    font-size: 13px;
	    margin-top: 30px;
	}

	.recentsactivity span{
		margin-right: 15px;
    	display: inline-block;
    	color: #999999;
    	font-family: "Raleway", sans-serif;
    	
	}

	.recentsactivity span a{
		color: #999999
	}

	.recentsactivity .preparation{
    	padding: 5px 25px;
	}

	.recentsactivity span i{
		 padding-right: 4px;
	}

	.itemboxes{
		border-radius: 15px;
    	box-shadow: 0px 0px 25px #efefef;
    	margin: 20px 0;
    		border: 1px solid transparent;
	}

	.itemboxes h3{
		font-size: 24px;
    	line-height: 24px;
	}

	.itemboxes .list-group-flush{
		margin-top: 0;
    	margin-bottom: 10px;
    	list-style-position: inside!important;
    	padding: 0  0 0 40px;
	}


	.itemboxes .list-group-flush .list-group-item{
		border-style: none;
		list-style-image: url(/../assets/img/puce.png);
    	display: list-item !important;
    	margin-right: 15px!important;
    	padding: 0 0 17px 0px;
	}

	.tables{
		width: 50%;
		margin-bottom: 5px!important;
	}

	#tabledisplay{
		padding-bottom: 0!important;
	}


	.tables tbody tr:nth-child(1) {
    	font-weight: 700;
	}



	.tables tbody tr td {
    	margin: 10px;
        font-family: "Raleway", sans-serif;
    	font-size: 14px;
    	border: 1px solid #999999;
	}

	.tables tbody tr:nth-child(odd) {
	    background: #DDD;
	}



	/*************** LOGGED IN USER WE-TRAIN/  VIDEOS************/

	.wetrainvid .container{
		background-image: url('/../assets/img/WETRAIN-banner3.jpg');
	    background-position: center 67px;
	    background-size: auto 825px !important;
	    height: 825px;
	    z-index: 10 !important;
	    padding: 0px;
	    background-attachment: fixed;
	}

	.materialouter{
	    position: relative;
	    top: 0px;
	    left: 0px;
	    z-index: 0;
	}
	

	.materialinner{
		margin-bottom: 30px;
    	background: rgb(239, 239, 239);
    	padding: 30px;
    	border-radius: 7px;
    	background-color: #e6e6e6;
	}

	.materialinner h3{
		font-size: 24px;
    	line-height: 24px;
    	margin: 20px 0 10px;
	}

	.wetrainvideos-items{
		padding: 0 0 90px;
	}

	.wetrainvideos-items .vidlists h4{
		text-overflow: ellipsis;
    	white-space: nowrap;
    	overflow: hidden;
    	text-align: center;
    	font-weight: 600;
    	color: inherit;
    	margin: 0 0 10px;

	}

	.vidlists .embed-responsive{
		margin-bottom: 30px;
	}

	.vidlists .embed-responsive iframe{
		padding: 8px;
	}

	.searchrow{
		text-align: center;
		padding: 0 30px 30px;
	    margin-bottom: 30px;
	    border-radius: 7px;
	}

	.searchrow .searchcol{
		padding: 0!important;
	}


	.searchrow p{
		text-align: center;
	    font-weight: 700;
	    font-size: 18px;
	    color: #555;
	    text-transform: uppercase;
	}

	.searchrow input{
		width: calc(100% - 39px);
	    border-radius: 4px 0 0 4px;
	    border-right: none;
	    font-family: "Raleway", sans-serif;
    	font-size: 14px;
	}

	.searchrow .searchtbtn{
    	border: none;
    	background-color: #e6e6e6;
    	font-size: 15px;
	}

	.searchrow .searchtbtn:hover{
    	color: #000;
	}

	.paginationrow{
		padding: 30px 0 50px;
	}

	.vidspagination{
		justify-content: center;


	}

	.vidspagination .page-item .page-link{
		padding: 10px 20px;
		color: #999999;
	}

	.vidspagination .page-item .page-link.active{
		background-color: #999999;
		color: #fff;
		outline: none;
	}


/*************** END LOGGED IN USER WE-TRAIN/ VIDEOS************/

/*************** LOGGED IN USER WE-TRAIN/ SEANCE VIDEOS************/
.wetrainseancesbonus .container{
	background-image: url('/../assets/img/WETRAIN-banner2.jpg');
	    background-position: center 67px;
	    background-size: auto 825px !important;
	    height: 825px;
	    z-index: 10 !important;
	    padding: 0px;
	    background-attachment: fixed;
}


 .seancelist-wrapper{
 	border-radius: 15px;
    box-shadow: 0px 0px 25px #efefef;
    margin-bottom: 20px;
    padding: 20px 0 0 0;
    text-align: center;
    background-color: #fff;
 }

 .seancelist-wrapper p{
 	padding: 0;
 	margin: 0;
 }

 .seancelist-inner{
 	padding: 10px 0 20px;
 }

  .seancelist-inner h4{
 	font-weight: 700;
 	color: inherit;
 }

/************** LOGGED IN USER / WE-SWEAT VIDEOS ***************/

.seacevid .container{
	background-image: url('/../assets/img/we-sweat-seances-videos.jpg');
	    background-position: center 67px;
	    background-size: auto 825px !important;
	    height: 825px;
	    z-index: 10 !important;
	    padding: 0px;
	    background-attachment: fixed;
}



#seancevid-intro hr{
	
	position: relative;
	bottom: 2px;
	z-index: 5;
}

.materialouter #seancevid-content{
	margin-top: -55px !important;
}

.list-materiel{
	margin-bottom: 20px; 
	z-index: 1;
}

.materialinner-header{
	font-size: 12pt;	
}

.list-materiel p{
	font-weight: 700;
	margin: 0;
}

.flex-items{
	padding: 10px 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #8e8e8e;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}


/**************** mon-copte ************/

.profile{
	list-style: none;
	background-color: transparent;
	padding: 0;
	border-bottom: none;
}

.container .tab-pane{
	padding: 0;
}

#profilehead{
	margin: 5px 0 20px 0;
}

.profile .nav-item{
	width: 33.33%;
	border-radius: 0px;
	text-align: center;
	padding: 0;
}

.profile .nav-item .nav-link{
	text-transform: uppercase;
	text-align: center;
    line-height: 30px;
    padding: 0px;
    color: rgb(119, 119, 119);
}

.profile .nav-item:nth-child(2) {
	border-right: 1px solid rgb(85, 85, 85);
	border-left: 1px solid rgb(85, 85, 85);
}

.profile .nav-item .nav-link.active{
	background-color: #fff;
	border-radius: 0px;
	border: none;
	font-weight: 600;

}

#modifiervotreprofil,
#historique,
#mesadhésions{
	margin-top: 25px;
}

#modifiervotreprofil label,
#mesadhésions label,
#historique label
{
	font-size: 15px;
    font-weight: 700;
     color: rgb(119, 119, 119);
}

#modifiervotreprofil label span{
	color: red;
	font-size: 10px;
	margin-top: 10px;
	margin-left: 5px;
}

#modifiervotreprofil .editprofile,
#modifiervotreprofil select{
	border-radius: 0px;
    border: 1px solid grey;
    height: 28px;
    width: 50%;
    padding-left: 2px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #666;
    margin: 4px 0;
}

#modifiervotreprofil select{
	height: 30px;
}

#modifiervotreprofil input:nth-child(4){
	border-radius: 0px;
    border: 0px solid grey;
}

.profilerow{
    margin-bottom: 0.5rem;
}

.profileform .btn-primary,
.subsform .btn-primary{
	background-color: grey;
    padding: 5px 12px;
    border: none;
    margin-bottom: 20px;
    font-size: 15px;

}

.subsform .btn-primary{
	margin-top: 10px;
}

.subsform h2{
	font-weight: 900;
}

.profileform input[type=checkbox]{
	-ms-transform: scale(1.3); /* IE */
  	-moz-transform: scale(1.3); /* FF */
  	-webkit-transform: scale(1.3); /* Safari and Chrome */
  	-o-transform: scale(1.3); /* Opera */
  	transform: scale(1.3);
  	padding: 10px;
  	margin-left: 0px;
 }

 .profileform #dets{
 	margin-left: 17px;
 	font-weight: 700;
 }

 .profileform #dets a{
 	color: inherit;
 }

 .profileform #dets a:hover{
 	color:  #337ab7;
 }

.subsform .form-check{
	margin-left: 35px;
}


.profiletable,
.adhésion{
	border: 1px solid #ddd;
	font-family: "Raleway", sans-serif;
	color: rgb(119, 119, 119);
}

.profiletable thead th:nth-child(1){
	width: 60%;
	padding: 0.5rem;
}

.profiletable thead th{
	width: 20%;
	padding: 0.5rem;
	font-size: 15px;
	line-height: 1.42857143;
	
}

.profiletable tr td,
.adhésion tr td{
	font-size: 14px;
}

.profiletable tr td:nth-child(2),
.adhésion tr td:nth-child(3){
	font-weight: 600;
}

.adhésion thead th{
	font-size: 15px;
	line-height: 1.42857143;
	padding: 0.5rem;
}

.horizontalslides{
	display: none;
}


/*************** RESPONSIVE ******************/
@media(max-width: 1200px){
	.same-wrapper {
	    margin: 150px 0 50px;
	}

	.ebook-section {
    	margin-top: 115px;
	}

	.login-wrapper {
	    margin: 175px 0 100px;
	}

	.registration-inner-wrapper {
   
    	margin-top: 115px;
	}

	.temoignages-section {
    	margin-top: 105px;
	}
}

@media(max-width: 1199px){

/****concept / tout savoir *****/

	.passion-section{
		
	    background-repeat: no-repeat!important;
    	background-size: cover!important;	
	}

	.toutsavoircontent .leconcept-inner .topimgs{
		margin: 16px 0;
	}


	.roundimg{
		width: 100%;
		margin: 0 auto 50px;
		text-align: center;
	}

	
	.passion-section h3{
		text-align: center;
	}

	.passion-section p{
	    text-align: center;
	    font-style: normal;
	    padding: 0 0 40px;
	}

	#imgbottom{
		margin-top: 80px;
	}

/**** end concept / tout savoir *****/
	
/**** we-train/training-du-jour-public***/

	.same-wrapper .img-container{
		padding: 8px 0px;
	
	}

	.passion-section .overlays{
		text-align: center;
	}

/**** end we-train/training-du-jour-public***/

/**** we train / faq and definitions******/

	.collapsingfaq-content{
		padding: 80px 15px 90px !important;
	}

	.passion-section .notrep{
		padding: 0;
	}

	.passion-section .notrep2{
		text-align: left;
		padding: 0;
	}

		.temoignagescards img{
 			height: auto;
 	}

 	.passion-section .social-icons ul{
		padding-left: 5%;
		padding-right: 5%;
	}

	.tables{
		width: 60%;
		
	}

	.grid-items{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
		grid-gap: 2px;
		grid-template-rows: auto;
		justify-content: center; 
		margin-left: auto;
		margin-right: auto; 
	}

/*  COLUMN SETUP  */

	/* ebook */


	#cover {
    
    	padding: 10px 58px;
	}

	.slidemeimg {
    
    	padding: 120px 35px;
	}


	

/**** end we train / faq and definitions******/

	/* navbar*/
	.header-wrapper ul.navbar-nav.ml-auto .nav-item>* {
   
    	line-height: 1;
    	padding: 20px 8px;
   
	}

	
}



@media(max-width: 991px){
/*********** concept / tout savoir ********/

	.leconcept-innerimg img{
		display: none;
	}

	#saviorwesweatpart{
		margin-top: 100px;
	}

	.toutsavoir .content{
		height: 825px;
	}
/**** end concept / tout savoir *****/

/**** we-train/training-du-jour-public***/

	 .img-container{
		width: 100%;
		margin-left: 0;
		text-align: center;
	}

	 .img-container img{
	
		text-align: center;
		
	}

	.meetingtoday .img-container{
		margin-left: 0px;
	}

/**** end we-train/training-du-jour-public***/	


/**** we sweat / faq******/
	#hidefaqimg{
		display: none;
	}

/**** end we sweat / faq******/

/**** nous / sissy******/

	 .sissy-img-hide{
	 	display: none;
	 }

	 .wetrainvideos-items .vidlists h4{
	
    	white-space: initial;
    	
	}

	.vidlists .embed-responsive{
		padding: 0 10%;
	}

	.recettescol{
		margin-bottom: 15px;
	}

	.tables{
		margin-right: auto;
		margin-left: auto;
	}

	#cover {
    	padding: 10px 110px;
	}

	 .demo .item{
            margin-bottom: 0;
        }

      .same-wrapper {
    	margin: 100px 0 50px;
	}

	.ebook-section {
    	margin-top: 80px;
	}

	.login-wrapper {
	    margin: 100px 0;
	}

	.registration-inner-wrapper {
   
    	margin-top: 70px;
	}

	.temoignages-section {
    	margin-top: 80px;
	}


}

@media(max-width: 767px){
	
	/* concept / tout savoir */

	.faq-section h1,
	.parallax-content h1,
	.services h1,
	.pages-heading,
	.temoignages-section h1,
	.registration-inner-wrapper h2{
		margin-left: 15px;
    	margin-right: 15px;
    	font-size: 30px;
    	line-height: 30px;
	}

	.pages-heading{
		margin-bottom: 70px;
	}

	.passion-section .overlays{
		padding: 90px 15px 100px !important;
	}
	
	.passion-section .overlays h1{
		font-size: 30px;
    	line-height: 30px;

	}

	#wetrainservice .container {
    	padding: 43px 15px 45px !important;
	}

	.faq-section{
		padding: 0 0 100px 0;
	}

	.passion-section .social-icons ul li a {
	   	width: 43px;
    	height: 43px;
    	line-height: 40px;
	}

	.passion-section .social-icons ul li a::before{
		    font-size: 20px;
	}

	/**** end concept / tout savoir *****/

	/***** we eat / training de jour*****/

	.inner-contentheader{
		line-height: 0.9;
		margin-top: 10px;
	}

/**** we train / faq and definitions******/

	.rightsideimg{
		margin-top: 80px;
		padding-top: 50px;
	}

	
	.faq-rightimages{
		text-align: center;

	}


/**** we train / faq and definitions******/

	#le-concepintro2 h1,
	.rencontre-section h1{
		margin-right: 0px;
		margin-left: 0px;
	}

/********* temoignages page *********/


	.categoriesbtn .categoriesbtn-item{
		padding: 5px 5px 10px;
	}

	

	.vidlists .embed-responsive{
		padding: 0;
	}

	.hidemeimg{
		display: none;
	}

	.recettesfit-items article h4{
		text-align: center;
		padding: 0;
	}

	.getItemContent .itemname h2{
		font-size: 32px;
		padding: 0 10px;
	}

	
 #pagenos{
	  display: inline-block;
	}

 #pagenos .page-item{
	  color: black;
	  float: left;
	  padding: 0;
	  text-decoration: none;
	  transition: background-color .3s;
	  width: 20%;
	  margin: 0;
	}

	#cover {
    	padding: 20px;
	}

	.slidemeimg {
    	padding: 158px 15px;
	}

	  .lSSlideOuter.vertical .lSGallery {
           width: 85px!important;
        }

}

@media(max-width: 576px){
	
	/******* concept / tout savoir *****/

	.passion-section .overlay{
		padding: 80px 15px 45px !important;
	}

	#faqparallax .inner-parallax-section .parallax-content,
	.parallax-section .inner-parallax-section .parallax-content
	 {
	    margin: 0 5%;
	}

	.inner-parallax-section .custombtn{
		width: 100%;
	}

	.parallax-content .list-group{
    	margin: 0;
	}

	.faq-section{
		padding: 0 0 50px 0;
	}

	.passion-section .social-icons ul {
	    padding-left: 0;
	    padding-right: 0;
	}

	/**** end concept / tout savoir *****/

	/***** we eat /  faq*****/

	section.services .services-box-item {
	    margin-top: 15px;
	    padding: 0 15px;

	}

	section.services .services-box-item-content{
	    margin-bottom: 11px;
	    padding: 15px;

	}


	#accordion .faq-cards .card-header h4> a {
	    margin: 0px 21px;
	}
	
	.planning-section .planleft-section{
		
		padding: 30px 15px 15px;
	}

	.categoriesbtn .categoriesbtn-item{
		padding: 8px 8px 12px;
	    

	}

	.categoriesbtn .categoriesbtn-item h4{
		 font-size: .8rem;
	}

	.categoriesbtn .categoriesbtn-item img{
		    margin: auto 0;
    		width: 75%;
	}

	.tables{
		width: 80%;
		
	}

	.recentsactivity{
		padding: 0 10px;
    	text-align: center;
	}

	.wetrainvideos-items .videolinks{
		margin: 0;
		padding: 0;
	}

	.searchrow{
		padding: 0 15px;
	}

	#wesweatcat{
		padding: 0;
	}

	.grid-items{
		
		margin-left: 0;
		margin-right: 0; 
	}


	.nav-tabs{
		display: block;
		width: 100%;
	}

	.nav-tabs .nav-item{
		width: 100%;
	}

	#modifiervotreprofil .editprofile,
	#modifiervotreprofil select{
    	width: 100%;
	}

	.subsform h2{
		font-size: 30px;
	}

	.verticalslides{
		display: none;
	}

	.horizontalslides{
		display: block;
	}

 #cover2 {
    	padding: 20px 10px; 
    	width: 65%;
    	margin-left: 18%;
    	margin-right: 18%;
    	    margin-top: 5%;
	}

	.definition-grandchild li, .utilisateur-child li {
    
   	 margin-left: 15px;
	}
	

}


@media (max-width: 425px){
		
		.categoriesbtn .categoriesbtn-item h4 {
		    font-size: .7rem;
		}	

		.categoriesbtn .categoriesbtn-item img {
    	
   	 		width: 50%;
		}

		.subsform h2{
		font-size: 25px;
	}

	.subsform .form-check {
    	margin-left: 5px;
	}

	.profileform .btn-primary, .subsform .btn-primary{
		width: 100%;
	}



	.lSSlideWrapper, .lSSlideOuter.vertical, .lSSlideOuter.vertical .lightSlider>* {
    	height: 400px !important;
	}

	.conditions-generalestemp .row {
    	word-break: break-word!important;
	}
}

@media (max-width: 375px){
		
		

	.lSSlideWrapper, .lSSlideOuter.vertical, .lSSlideOuter.vertical .lightSlider>* {
    	height: 350px !important;
	}

	.navbar-collapse {
  
    	overflow: auto;
    	height: 600px;
	}
}

@media (max-width: 320px){
		
	 #cover2 {
    	padding: 5px;
    	width: 80%;
    	margin-left: 10%;
    	margin-right: 10%;
    	
	}	

	.lSSlideWrapper, .lSSlideOuter.vertical, .lSSlideOuter.vertical .lightSlider>* {
    	height: 330px !important;
	}

	.navbar-collapse {
  
    	overflow: auto;
    	height: 400px;
	}
}

