<template lang="pug">

v-sheet.pt-5

	floating-create-button(
		:show = "!is_create_dialog_visible"
		:method = "showCreateDialog"
	)
	create-blog-dialog(
		v-model = "is_create_dialog_visible"
		@created = "fetchData"
		ref="form_dialog"
	)
	v-card
		v-card-title Les Articles
	v-sheet.mt-5
		data-table(
			ref="data_table"
			endpoint="/admin/api/blog_posts"
			:headers="headers"
		)
				template(
					v-slot:item.actions="{item}"
				)
					v-icon.mr-2(
						small
						@click="editItem(item)"
					) edit
					v-icon(
						small
						@click="deleteItem(item)"
					) delete
						
</template>
<script>
export default {
	data(){
		return{
			is_create_dialog_visible:false,
			headers:[
				{
					text:'ID',
					value:'id',
				},
				{
					text:'Titre',
					value:'title',
				},
				{
					text:'Est publié',
					value:'created_at',
				},
				{
					text:'Actions',
					value:'actions'
				}
			],
			pages:[
			]
		}
	},
	methods:{
		showCreateDialog(){
			this.is_create_dialog_visible=true
		},
		fetchData() {
			this.is_create_dialog_visible=false
			this.$refs.data_table.fetchData()
		},
		editItem(item) {
			this.is_create_dialog_visible=true
			this.$refs.form_dialog.editData(item);
		},
		deleteItem(item){
			axios
				.delete(`/admin/api/blog_post/${item.id}`)
				.then(res => {
					this.fetchData();
				})
				.catch(err => {
					console.log(err);
				})
				.finally(() => {
					this.fetchData()
				})
		}
	},
}
</script>
<style scoped>


</style>