<template lang="pug">

v-row

	//-
		CREATE NEW CATEGORY DIALOG
	v-dialog(
		v-model="is_create_dialog_visible"
		persistent
	)
		v-sheet.p-5
			v-overlay(
				absolute
				loading
				:value="posting_new_category"
			)
			v-card-title.ml-n8 {{editing_item_id?'Éditer':'Ajouter'}} Catégorie
			v-row
				v-col
					v-sheet
						v-row
							v-col(cols=12)
								v-form(
									ref="create_category_form"
									lazy-validation
								)
								v-sheet
									v-row
										v-col(cols=12 md=6)
											v-text-field(
												v-model="new_category.name"
												label="Nom"
												:rules="new_category_rules.name"
												required
											).mt-n2
			v-row
				v-btn(
					outlined
					color="error"
					@click="closeCreateDialog"
				).m-2 annuler
				v-spacer
				v-btn(
					outlined
					color="primary"
					:loading="posting_new_category"
					@click="postItem"
				).m-2 ajouter

	//-
		MAIN CATEGORIES INDEX VIEW
		
	v-col(cols="12")
		v-row
			v-col
				v-card
					v-card-title Catégories
					form(
						ref="file_form"
					).d-none
						input(
							type="file"
							ref="file_input"
							accept="image/"
							@change="handleFileInput"
						).d-none

		v-row(justify="space-around").pt-5
			v-col
				v-progress-linear(
						:active="loading_table_data"
						:indeterminate="loading_table_data"
				)
			v-col(cols="12"
				v-for="category in categories"
				:key="category.id"
			)
				v-sheet(elevation=3).pa-5
					h4.d-inline {{category.name}}
					v-btn(
						:loading="adding_new_subcategory.includes(category.id)"
						@click="addNewSubcategory(category)"
						style="position:absolute; right:20px; top:4px"
						large
						icon
						title="ajouter sous-catégorie"
					)
						v-icon mdi-plus-circle-outline
					v-sheet(
						v-for="(subcategory,index) in sortedSubcategories(category)"
						:key="index"
					)
						v-sheet(
							style="justify-content:space-between;border-top:1px solid gainsboro"
						).d-flex.pa-1
							div.d-flex
								h5(
									v-if="editing_subcategory_name_id!=subcategory.id"
								).pt-1 {{subcategory.name}}
								v-btn(
									v-if="editing_subcategory_name_id!=subcategory.id"
									@click="openChangeSubcategoryNameDialog(subcategory)"
									title="éditer le nom"
									icon
									small
								)
									v-icon(small) mdi-pencil
								v-text-field(
									v-if="editing_subcategory_name_id==subcategory.id"
									dense
									v-model="new_subcategory_name"
								).pa-0.m-0
									template(
										v-slot:append
									)
										v-btn(
											icon
											small
											:loading="updating_subcategory_name_id==subcategory.id"
											@click="updateSubcategoryName(subcategory)"
										)
											v-icon(small) mdi-content-save
										v-btn(
											icon
											small
											v-if="updating_subcategory_name_id!=subcategory.id"
											@click="closeChangeSubcategoryNameDialog()"
										)
											v-icon(small) mdi-close
							div.d-flex(
								style=`
									flex-direction:column;
									justify-content:
									space-between;
									height:100%;
									z-index:1;
								`
							).mb-n5
								v-btn(
									:loading="updating_subcategory_order_ahead_id==subcategory.id"
									@click="deleteSubcategory(category,subcategory)"
									icon
									title="supprimer sous-catégorie"
								)
									v-icon mdi-minus-circle
								v-btn(
									v-if="index!=0"
									:loading="updating_subcategory_order_ahead_id==subcategory.id"
									@click="orderAhead(subcategory)"
									icon
									title="monter"
								)
									v-icon mdi-arrow-up-bold-circle-outline
								v-btn(
									v-if="index!=category.subcategories.length-1"
									:loading="updating_subcategory_order_behind_id==subcategory.id"
									@click="orderBehind(subcategory)"
									icon
									title="descendre"
								)
									v-icon mdi-arrow-down-bold-circle-outline
						v-sheet.d-flex.flex-wrap.pa-5.pt-0.mt-n1(
							style="justify-content:space-evenly"
						)
							-
								let properties=[
									'image_background_web',
									'image_content_web',
									'image_background_mobile',
									'image_content_mobile',
								];
							-
								let labels=[
									'image en arrière-plan web',
									'image du contenu web',
									'image en arrière-plan mobile',
									'image du contenu mobile',
								];
							- for (let i=0; i<properties.length; i++)
								v-card(
									outlined
									:loading="shouldBeLoading(subcategory.id,'"+properties[i]+"')"
								).m-3
									div.text-center.m-2= labels[i]
									v-img(
										:src="subcategory."+properties[i]+"||'/img/no-image.png'"
										height=150
										width=200
									)
									v-btn.float-left.m-2(
										v-if="subcategory."+properties[i]+"!=null "
										@click="handleRemoveFile(subcategory.id,'"+properties[i]+"')"
										icon
									)
										v-icon mdi-close
									v-btn.float-right.m-2(
										v-if="subcategory."+properties[i]+"==null "
										@click="openFileUploadDialog(subcategory,'"+properties[i]+"')"
										icon
									)
										v-icon mdi-cloud-upload
									v-btn.float-right.m-2(
										v-if="subcategory."+properties[i]+"!=null "
										@click="openFileUploadDialog(subcategory,'"+properties[i]+"')"
										icon
									)
										v-icon mdi-square-edit-outline
					
</template>
<script>
export default {
	data(){
		return{

			editing_item_id:0,

			loading_table_data:true,

			change_subcategory_name_dialog:{
				name:'',
				id:0
			},
			
			adding_new_subcategory:[],
			open_file_input_dialog:null,
			uploading_image_progresses:[],
			posting_new_category:false,
			editing_subcategory_name_id:0,
			updating_subcategory_name_id:0,
			new_subcategory_name:'',
			updating_subcategory_order_ahead_id:0,
			updating_subcategory_order_behind_id:0,

			new_category_tag_input:'',
			new_category:{
				category_id:1,
				subcategory_id:1,
				name:'',
				description:'',
				content:'',
				duration:0,
				difficulty:0,
				video_link:'',
				api_video_link:'',
				tags:[],
			},
			new_category_rules:{
				name:[
					(v)=>{ return (!!v && v!='') || 'Nom est obligatoire'}
				]
			},

			is_create_dialog_visible:false,
			
			items_expanded:[],

			categories:[
			]
		}
	},
	methods:{
		addNewSubcategory(category){
			if (this.adding_new_subcategory.includes(category.id)) return;
			this.adding_new_subcategory.push(category.id);
			axios.post('/admin/api/subcategories',{
				category_id:category.id
			}).then((response)=>{
				if (response.data.object!='error')
					category.subcategories.push(response.data)
				else
					alert(response.data.error_content.message)
			}).finally(()=>{
				this.adding_new_subcategory=this.adding_new_subcategory.filter(id=>id!=category.id)
			})
		},
		deleteSubcategory(category,subcategory){
			let confirmDelete=window.confirm('Êtes-vous sûr de vouloir supprimer cette sous-catégorie ? ( '+subcategory.name+' )')

			if (!confirmDelete) return;

			let index;

			for (let i=0; i<category.subcategories.length; i++){
				if (category.subcategories[i].id==subcategory.id){
					index=i;
					break;
				}
			}

			axios.delete('/admin/api/subcategories/'+subcategory.id).then((response)=>{
				console.log(response);
				if (response.data.object!='error')
					category.subcategories.splice(index,1)
				else
					alert(response.data.error_content.message)
			})

		},
		shouldBeLoading(id,field){

			let isInitiated=this.uploading_image_progresses[id];
			let isActive=isInitiated?this.uploading_image_progresses[id].includes(field):false

			if (isInitiated) console.log(isActive)
			else return false;

			let isLoading=isInitiated&&isActive;

			return isLoading;
		},
		openFileUploadDialog(subcategory,field){
			this.open_file_input_dialog={id:subcategory.id,field};
			this.$refs.file_input.click();
		},
		handleRemoveFile(subcategory_id,field){
			
			if (this.uploading_image_progresses.length<subcategory_id){
				this.uploading_image_progresses.push(
					... new Array((subcategory_id-this.uploading_image_progresses.length)+1).fill('')
				)
			}

			this.uploading_image_progresses.splice(
				subcategory_id,
				1,
				this.uploading_image_progresses[subcategory_id]+field
			);

			axios.put('/admin/api/subcategories/'+subcategory_id,{
				[field]:''
			}).then((response)=>{
				if (response.data.object!="error")
					this.localSetSubcategory(subcategory_id,field,'')
				else
					alert(response.data.error_content.message);
			}).finally(()=>{
				this.uploading_image_progresses.splice(
					subcategory_id,
				1,
				this.uploading_image_progresses[subcategory_id].replace(field,''));
			})
		},
		handleFileInput(event){
			this.handleFileUpload(event.target.files[0]);
			this.$refs.file_form.reset();
		},
		handleFileUpload(file){
			let open_dialog=this.open_file_input_dialog;
			let subcategory_id=open_dialog.id;
			let field=open_dialog.field;
			let fullpath='/dynamic/img/subcategories/'+subcategory_id+'/0_'+field+'.'+file.name.split('.').pop();
			let data=new FormData();
			data.append('file',file);
			data.append('rename',field);
			data.append('path','public/dynamic/img/subcategories/'+subcategory_id+'/');

			if (this.uploading_image_progresses.length<subcategory_id){
				this.uploading_image_progresses.push(
					... new Array((subcategory_id-this.uploading_image_progresses.length)+1).fill('')
				)
			}

			this.uploading_image_progresses.splice(
				subcategory_id,
				1,
				this.uploading_image_progresses[subcategory_id]+field
			);
			axios.post('/admin/api/files',
				data
			).then((response)=>{
				console.log(response);
			}).finally(()=>{
				axios.put('/admin/api/subcategories/'+subcategory_id,{
					[field]:fullpath
				}).then((response)=>{
					if (response.data.object!="error")
						this.localSetSubcategory(subcategory_id,field,fullpath)
					else
						alert(response.data.error_content.message);
				}).finally(()=>{
					this.uploading_image_progresses.splice(
						subcategory_id,
					1,
					this.uploading_image_progresses[subcategory_id].replace(field,''));
				})
			})
		},
		orderAhead(subcategory){
			if (this.updating_subcategory_order_ahead_id) return;
			this.updating_subcategory_order_ahead_id=subcategory.id;
			axios.post('/admin/api/subcategories/'+subcategory.id+'/orderAhead').then((response)=>{
				if (response.object!='error')
					this.fetchData();
				else
					alert(response.data.error_content.message);
			}).catch((error)=>{
				console.log(error);
			}).finally(()=>{
				this.updating_subcategory_order_ahead_id=0;
			})
		},
		orderBehind(subcategory){
			if (this.updating_subcategory_order_behind_id) return;
			this.updating_subcategory_order_behind_id=subcategory.id;
			axios.post('/admin/api/subcategories/'+subcategory.id+'/orderBehind').then((response)=>{
				if (response.data.object!='error')
					this.fetchData();
				else
					alert(response.data.error_content.message);
			}).catch((error)=>{
				console.log(error);
			}).finally(()=>{
				this.updating_subcategory_order_behind_id=0;
			})
		},
		sortedSubcategories(category){
			return category.subcategories.slice().sort((a,b)=>a.order_index-b.order_index);
		},
		updateSubcategoryName(subcategory){
			if (this.updating_subcategory_name_id) return;
			this.updating_subcategory_name_id=subcategory.id;
			axios.put('/admin/api/subcategories/'+subcategory.id,{name:this.new_subcategory_name}).then((response)=>{
				if (response.data.object!='error')
					this.localSetSubcategory(subcategory,'name',this.new_subcategory_name)
				else
					alert(response.data.error_content.message);
			}).catch((error)=>{
				console.log(error);
			}).finally(()=>{
				this.editing_subcategory_name_id=0;
				this.updating_subcategory_name_id=0;
			})
		},
		openChangeSubcategoryNameDialog(subcategory){
			this.new_subcategory_name=subcategory.name;
			this.editing_subcategory_name_id=subcategory.id;
		},
		closeChangeSubcategoryNameDialog(){
			this.editing_subcategory_name_id=0;
		},
		showCreateDialog(){
			this.is_create_dialog_visible=true;
		},
		closeCreateDialog(){
			this.editing_item_id=0;
			this.is_create_dialog_visible=false;
			this.new_category={
				category_id:1,
				subcategory_id:1,
				name:'',
				description:'',
				content:'',
				duration:0,
				difficulty:0,
				video_link:'',
				api_video_link:'',
				tags:[],
			};
		},

		updateTable(){
			this.$refs.table.$forceUpdate();
		},
		updateItem(oldItem,newItem){
			Object.assign(oldItem,newItem);
			this.updateTable();
		},
		itemExpanded(event){
			if (event.value){
				this.fetchItem(event.item);
			}
		},
		untagItem(item,tag){
			item.isLoading=true;
			axios.delete('/admin/api/categories/'+item.id+'/tags/'+tag
			).finally(()=>{
				this.fetchItem(item);
			});
		},
		promptSearch(){
			window.clearTimeout(this.search_debounce);
			this.search_debounce=window.setTimeout(()=>{
				this.fetchData();
			},300);
		},
		changeSort(sort){
			this.orderBy=sort[0];
			this.fetchData();
		},
		changeAscending(ascending){
			this.ascending=!ascending[0];
			this.fetchData();
		},
		changePage(page){
			this.current_page=page;
			this.fetchData();
		},
		fetchData(){
			this.loading_table_data=true;
			axios.get('/admin/api/categories',{
				params:{
					orderBy:this.orderBy,
				}}
			).then((res)=>{
				this.categories=res.data.contents;
				this.total_item_count=res.data.total_item_count;
				this.current_page=res.data.current_page;
				this.last_page=res.data.last_page;
			}).finally(()=>{
				this.loading_table_data=false;
				this.items_expanded=[];
			});
		},
		fetchItem(item){
			item.isLoading=true;
			axios.get('/admin/api/categories/'+item.id,{
				params:{
				}}
			).then((res)=>{
				Object.assign(item,res.data);
			}).finally(()=>{
				item.isLoading=false;
				this.updateTable();
			});
		},
		localSetSubcategory(subcategory_wild,field,value){
			if (typeof subcategory_wild=='number'){
				
				mainIterator:
					for (let category of this.categories){
						for (let subcategory of category.subcategories){
							if (subcategory.id==subcategory_wild){
								subcategory_wild=subcategory;
								break mainIterator;
							}
						}
					}
			}

			let subcategory=subcategory_wild;

			this.$set(subcategory,field,value);

		},
		postItem(){
			this.posting_new_category=true;

			if(!this.editing_item_id){
				axios.post('/admin/api/categories',this.new_category
				).then((res)=>{
					this.closeCreateDialog();
					this.fetchData();
				}).finally(()=>{
					this.posting_new_category=false;
				})
			}else{
				axios.patch('/admin/api/categories/'+this.editing_item_id,this.new_category
				).then((res)=>{
					this.closeCreateDialog();
					this.fetchData();
				}).finally(()=>{
					this.posting_new_category=false;
				})
			}
		},
		deleteItem(item){
			if (!window.confirm('Êtes-vous sûr de vouloir effectuer cette action ?')) return;
			item.isLoading=true;
			axios.delete('/admin/api/categories/'+item.id,{
				params:{
				}}
			).finally(()=>{
				item.isLoading=false;
				this.fetchData();
			});
		}
	},
	created(){
		this.fetchData();
	}
}
</script>
<style lang="stylus" scoped>

.add-category-button
	position: fixed
	bottom: 50px;
	right: 50px
	z-index:1

.add-tag-field
	display: inline-block
	width: 50%

.add-tag-button
	display: inline-block
	position: absolute

.vtimeselector::before
	border-style: solid;
	border-width: thin 0 0;
	bottom: -1px;
	content: "";
	left: 0;
	position: absolute;
	transition: .3s cubic-bezier(.25,.8,.5,1);
	width: 100%;
	border-color: rgba(0,0,0,.42);

</style>