<template lang="pug">

v-row
    v-col(cols="12")
         v-row
            v-col(cols="6" md="6" sm="12" xs="12")
               data-graph(
                  endpoint="/admin/api/dashboard/user_stats"
			         title="utilisateurs"
               )
            
            v-col(cols="6" md="6" sm="12" xs="12")
               data-graph(
                  endpoint="/admin/api/dashboard/purchase_stats"
			         title="purchases"
               )
            v-col(cols="6" md="6" sm="12" xs="12")
               data-graph(
                  endpoint="/admin/api/dashboard/subscription_stats"
			         title="subscriptions"
               )
            v-col(cols="6" md="6" sm="12" xs="12")
               data-graph(
                  endpoint="/admin/api/dashboard/transaction_stats"
			         title="transactions"
               )
            v-col(cols="6" md="6" sm="12" xs="12")
               data-graph(
                  endpoint="/admin/api/dashboard/old_api_users"
			         title="utilisateurs dans l'ancienne API"
               )
              

</template>
<script>
export default {
   data() {
      return {
         
      };
   },
   created() {
   },
   methods: {
     
   }
};
</script>
<style lang="stylus" scoped></style>