<template lang="pug">

v-row
	
	floating-create-button(
		:show = "!is_create_dialog_visible"
		:method = "showCreateDialog"
	)
	//-
		CREATE NEW EXERCISE DIALOG
	v-dialog(
		v-model="is_create_dialog_visible"
	)
		v-sheet.p-5(
			min-height="100vh"
		)
			v-overlay(
				absolute
				loading
				:value="posting_new_exercise"
			)
			v-card-title.ml-n8 {{editing_item_id?'Éditer':'Ajouter'}} Exercice
			v-row
				v-col
					v-sheet
						v-row
							v-col(cols=12)
								v-form(
									ref="create_exercise_form"
									lazy-validation
								)
								v-sheet
									v-row
										v-col(cols=12 md=6)
											v-text-field(
												v-model="new_exercise.name"
												label="Nom"
												:rules="new_exercise_rules.name"
												required
											).mt-n2
										v-col(cols=12 md=6)
											v-text-field(
												v-model="new_exercise.description"
												label="Descriptif"
											).mt-n2
										v-col(cols=12 sm=6 md=3)
											v-select(
												v-model="new_exercise.category_id"
												:items="exercise_categories"
												label="Sélectionner la catégorie"
											).mt-n2
										v-col(cols=12 sm=6 md=3)
											v-select(
												v-model="new_exercise.subcategory_id"
												:items="exercise_subcategories[new_exercise.category_id]"
												label="Sélectionner la sous-catégorie"
											).mt-n2
										v-col(cols=12 sm=6 md=3) Difficulté
											star-rating(
												v-model="new_exercise.difficulty"
												rounded-corners
												:star-size="17"
												:max-rating="10"
											)
										v-col(cols=12 sm=6 md=3) Durée
											time-selector(
												:displayHours="false"
												:displaySeconds="true"
												:value="newExerciseDurationFormatted()"
												@formatedTime="fomatExerciseDuration"
												:interval="{m:1, s:1}"
												:displayFormat="'mm:ss'"
												:returnFormat="'mm:ss'"
											)
										v-col(cols=4)
											v-text-field(
												v-model="new_exercise_tag_input"
												label="Tag"
												@keyup.enter="addTagToCreateDialog()"
											).mt-n2.add-tag-field
											v-btn(
												icon
												x-large
												@click="addTagToCreateDialog()"
											).add-tag-button
												v-icon mdi-plus
										v-col(cols=8)
											v-chip-group(column).mt-n2
												v-chip(
													v-for="(tag,i) in new_exercise.tags"
													:key="i"
													close
													pill
													@click:close="new_exercise.tags.splice(i,1)"
												) {{tag}}
										v-col(cols=12 md=6)
											v-autocomplete(
												v-model="new_exercise.video"
												label="Vidéo"
												required
												:items="videos"
												:loading="loading_videos"
												:search-input.sync="search_videos"
												@change="new_exercise.video_id=new_exercise.video.id"
												hide-no-data
												no-filter
											).mt-n2
												template(
													v-slot:selection="{item}"
												)
													span {{item.vimeo_name}}
												template(
													v-slot:item="{item}"
												)
													v-list-item-content {{item.vimeo_name}}
													v-list-item-avatar(right)
														img(:src="item.thumbnails.small")
										v-col(cols=12 md=6)
											iframe(
												ref="videoframe"
												v-if="new_exercise.video?true:false"
												:src="new_exercise.video.thumbnails.small"
												style="width:100%;height:360px;"
												frameborder="0"
												allow="autoplay; fullscreen"
												allowfullscreen
											)
										//- v-col(cols=12)
										//- 	v-textarea(
										//- 		v-model="new_exercise.content"
										//- 		label="Contenu"
										//- 		placeholder="#Markdown"
										//- 	)
										//- v-col(cols=12)
										//- 	v-sheet.p-10
										//- 		| Aperçu
										//- 		v-divider
										//- 		div(
										//- 			style="text-align:center;"
										//- 			v-html="formatContent(new_exercise.content)"
										//- 		)
			v-row
				v-btn(
					outlined
					color="error"
					@click="closeCreateDialog"
				).m-2 annuler
				v-spacer
				v-btn(
					outlined
					color="primary"
					:loading="posting_new_exercise"
					@click="postItem"
				).m-2 ajouter

	//-
		MAIN EXERCISE INDEX VIEW
	v-col(cols="12")
		v-row
			v-col
				v-card
					v-card-title Exercices
					v-row.px-10
						v-col(cols=12 sm=6)
							v-select(
								v-model="category_selected"
								:items="categories_selectable"
								label="Sélectionner la catégorie"
								@input="subcategory_selected=0; fetchData()"
							)
						v-col(cols=12 sm=6)
							v-select(
								v-model="subcategory_selected"
								:items="subcategories_selectable[category_selected]"
								label="Sélectionner la sous-catégorie"
								@input="fetchData"
							)

		v-row(justify="space-around")
			v-col(cols="12")
				v-sheet(elevation=3).px-10
					v-row 
						v-col(cols=6 md=5)
							v-text-field(
								v-model="search"
								label="Rechercher"
								single-line
								hide-details
								@input="promptSearch"
							)
						v-spacer
						v-col(cols=4 md=3 lg=2)
							v-select(
								v-model="items_per_page"
								:items="per_page_selection"
								label="Par page"
								@input="fetchData"
							)
					v-sheet
						v-pagination(
							:value="current_page"
							:length="last_page"
							@input="changePage"
						)

					v-data-table(
						ref="table"
						:headers="headers"
						:items="exercises"
						:items-per-page="items_per_page"
						:server-items-length="total_item_count"
						:loading="loading_table_data"
						:search="search"
						@update:sort-by="changeSort"
						@update:sort-desc="changeAscending"
						show-expand
						:expanded.sync="items_expanded"
						@item-expanded="itemExpanded"
						hide-default-footer
					).mx-n10
						template(v-slot:item.actions="{item}")
							v-icon.mx-1(
								small
								@click="editItem(item)"
							) edit
							v-icon.mx-1(
								small
								@click="deleteItem(item)"
							) delete
						template(v-slot:expanded-item="{headers, item}")
							td(:colspan="headers.length" style="position:relative")
								v-overlay(
									absolute
									loading
									:value="item.isLoading"
								)
								v-row.py-1.pb-5
									v-col(
										cols=12
										md=5
										style="height:240px"
									)
										span Vignette vidéo
										img(
											:src="item.video.thumbnails.small"
											style="height:100%;"
											allowfullscreen
										).pt-2
									v-col(cols=12 md=4)
										span Difficulté
										star-rating(
											v-model="item.difficulty"
											read-only
											rounded-corners
											:star-size="17"
											:max-rating="10"
											text-class="strong-text"
										)
										span Durée
										strong.d-block.pt12 {{reverseDurationFormat(item.duration)}}
									v-col(cols=12 md=3) Tags&nbsp;
										v-btn(
											v-show="!tag_dialogs_shown[item.id]"
											icon
											x-small
											@click="tag_dialogs_shown[item.id]=true; updateTable()"
										)
											v-icon mdi-plus
										tag-dialog(
											:tag_url="'/admin/api/exercises/'+item.id+'/tags'"
											:show.sync="tag_dialogs_shown[item.id]"
											:ignore="item.tags"
											@close:dialog="tag_dialogs_shown[item.id]=false; updateTable()"
											@update:item="fetchItem(item)"
										)
										v-chip-group(column)
											v-chip(
												v-for="tag in item.tags"
												:key="tag.id"
												close
												pill
												draggable
												@click:close="untagItem(item,tag.name)"
											) {{tag.name}}

						template(v-slot:footer)
							v-row
								v-col(v-show="!loading_table_data")
									v-text-field(disabled)
								v-col(v-show="loading_table_data")
									v-text-field(loading disabled)

					v-sheet
						v-pagination(
							:value="current_page"
							:length="last_page"
							@input="changePage"
						)
					
</template>
<script>
export default {
	data(){
		return{

			editing_item_id:0,

			posting_new_exercise:false,
			new_exercise_tag_input:'',
			new_exercise:{
				category_id:1,
				subcategory_id:1,
				name:'',
				description:'',
				content:'',
				duration:0,
				difficulty:0,
				video_id:0,
				video:null,
				tags:[],
			},
			new_exercise_rules:{
				name:[
					(v)=>{ return (!!v && v!='') || 'Nom est obligatoire'}
				]
			},

			videos:[],
			loading_videos:false,
			search_videos:'',

			exercise_categories:[],
			exercise_subcategories:[],

			is_create_dialog_visible:false,

			categories_selectable:[],
			subcategories_selectable:[],

			category_selected:0,
			subcategory_selected:0,
			tag_dialogs_shown:{},
			items_expanded:[],

			search_debounce:0,
			search:'',
			loading_table_data:true,
			orderBy:'updated_at',
			ascending:false,
			items_per_page:25,
			current_page:1,
			last_page:1,
			total_item_count:0,
			per_page_selection:[5,10,25,50,100],
			headers:[
				{
					text:'ID',
					value:'id'
				},
				{
					text:'Nom',
					value:'name'
				},
				{
					text:'Descriptif',
					value:'description'
				},
				{
					text:'Vidéo',
					value:'video_name'
				},
				{
					text:'Actions',
					value:'actions'
				}
			],
			exercises:[
			]
		}
	},
	watch:{
		search_videos(){
			this.autocompleteVideos();
		},
	},
	methods:{
		newExerciseDurationFormatted(){
			let now=new Date();
			let minutes=Math.floor(this.new_exercise.duration/60);
			let seconds=this.new_exercise.duration%60;
			now.setMinutes(minutes);
			now.setSeconds(seconds);
			return now;
		},
		reverseDurationFormat(seconds){
			let minutes=Math.floor(seconds/60).toString().padStart(2,'0')
			let remaining_seconds=(seconds-(60*minutes)).toString().padStart(2,'0')
			return `${minutes}:${remaining_seconds}`
		},
		fomatExerciseDuration(input){
			let [minutes,seconds] = input.split(':');
			minutes=parseInt(minutes);
			seconds=parseInt(seconds);
			this.new_exercise.duration=seconds+(minutes*60);
		},
		editItem(item){
			this.new_exercise=Object.assign({},item);
			this.new_exercise.tags=this.new_exercise.tags.map((tag)=>tag.name);
			this.videos=[this.new_exercise.video]
			this.editing_item_id=item.id;
			this.showCreateDialog();
		},
		autocompleteVideos(){
			if(!this.search_videos) return
			this.loading_videos=true
			axios.get('/admin/api/videos/autocomplete',{
				params:{
					search:this.search_videos,
					ignore:[]
				}
			})
			.then(res=>{
				this.videos=res.data
			})
			.finally(()=>{
				this.loading_videos=false
			})
		},
		promptTagAutocomplete(){
			axios.get('/admin/api/tags/autocomplete',{
				params:{
					search:this.new_exercise_tag_input,
					ignore:this.new_exercise.tags,
				}
			})
			.then((res)=>{
				this.tagAutocompleteResults=res.data;
			});
		},
		tagItem(tagName){
			this.posting_tag=true;
			axios.post(this.tag_url+'/'+tagName,{
				params:{
				}
			})
			.then((res)=>{
				this.$emit('update:item',res.data);
				this.input='';
				this.results=[];
				this.closeDialog();
			})
			.finally((res)=>{
				this.posting_tag=false;
			});
		},
		addTagToCreateDialog(){
			this.new_exercise.tags.push(this.new_exercise_tag_input);
			this.new_exercise_tag_input='';
		},
		formatContent(content){
			if(typeof(content)!='string') return;

			let converter=new window.showdown.Converter({'simpleLineBreaks':'true','tables':'true','strikethrough':'true'});

			return converter.makeHtml(content);

		},
		showCreateDialog(){
			this.is_create_dialog_visible=true;
		},
		closeCreateDialog(){
			this.editing_item_id=0;
			this.is_create_dialog_visible=false;
			this.new_exercise={
				category_id:1,
				subcategory_id:1,
				name:'',
				description:'',
				content:'',
				duration:0,
				difficulty:0,
				video_id:0,
				video:null,
				tags:[],
			};
		},

		updateTable(){
			this.$refs.table.$forceUpdate();
		},
		updateItem(oldItem,newItem){
			Object.assign(oldItem,newItem);
			this.updateTable();
		},
		itemExpanded(event){
			if (event.value){
				this.fetchItem(event.item);
			}
		},
		untagItem(item,tag){
			item.isLoading=true;
			axios.delete('/admin/api/exercises/'+item.id+'/tags/'+tag
			).finally(()=>{
				this.fetchItem(item);
			});
		},
		promptSearch(){
			window.clearTimeout(this.search_debounce);
			this.search_debounce=window.setTimeout(()=>{
				this.fetchData();
			},300);
		},
		changeSort(sort){
			this.orderBy=sort[0];
			this.fetchData();
		},
		changeAscending(ascending){
			this.ascending=!ascending[0];
			this.fetchData();
		},
		changePage(page){
			this.current_page=page;
			this.fetchData();
		},
		loadExercises(data){

			this.exercises=data.contents;
			this.total_item_count=data.total_item_count;
			this.current_page=data.current_page;
			this.last_page=data.last_page;
		},
		loadCategories(data){
			let exercise_categories=[];
			let exercise_subcategories=[
				[]
			];
			let categories_selectable=[
				{text:'Tous', value:0}
			];
			let subcategories_selectable=[
				[
					{text:'Tous', value:0}
				]
			];

			for (let category of data){
				exercise_categories.push(
					{text:category.name,value:category.id}
				)
				categories_selectable.push(
					{text:category.name, value:category.id}
				)
				let temp_exercise_subcategories=[]
				let temp_subcategories_selectable=[
					{text:'Tous',value:0}
				]

				for (let subcategory of category.subcategories){
					subcategories_selectable[0].push(
						{text:subcategory.name, value:subcategory.id}
					)
					temp_exercise_subcategories.push(
						{text:subcategory.name, value:subcategory.id}
					)
					temp_subcategories_selectable.push(
						{text:subcategory.name, value:subcategory.id}
					)
				}

				exercise_subcategories.push(
					temp_exercise_subcategories
				)
				subcategories_selectable.push(
					temp_subcategories_selectable
				)
			}

			this.exercise_categories=exercise_categories
			this.exercise_subcategories=exercise_subcategories
			this.categories_selectable=categories_selectable
			this.subcategories_selectable=subcategories_selectable

		},
		setupFilterParameters(){

			return {
				filters:[
					this.category_selected?{field:'category_id', value:this.category_selected}:{},
					this.subcategory_selected?{field:'subcategory_id', value:this.subcategory_selected}:{},
				],
				search:this.search,
				perPage:this.items_per_page,
				page:this.current_page,
				orderBy:this.orderBy,
				ascending:this.ascending,
			}
		},
		fetchData(){
			this.loading_table_data=true;
			axios.get('/admin/api/categories/list',{
				params:{
					'with':'subcategories'
				}
			}).then((response)=>{

				this.loadCategories(response.data)
				
				axios.get('/admin/api/exercises',{
					params:this.setupFilterParameters()
				}).then((res)=>{
					
					this.loadExercises(res.data)
				})
			}).finally(()=>{
				this.loading_table_data=false;
				this.$el.scrollIntoView({behaviour:'smooth'});
				this.items_expanded=[];
			});
		},
		fetchItem(item){
			item.isLoading=true;
			axios.get('/admin/api/exercises/'+item.id,{
				params:{
				}}
			).then((res)=>{
				Object.assign(item,res.data);
			}).finally(()=>{
				item.isLoading=false;
				this.updateTable();
			});
		},
		postItem(){
			if (!this.$refs.create_exercise_form.validate()) return;
			this.posting_new_exercise=true;
			if(!this.editing_item_id){
				axios.post('/admin/api/exercises',this.new_exercise
				).then((res)=>{
					this.closeCreateDialog();
					this.fetchData();
				}).finally(()=>{
					this.posting_new_exercise=false;
				})
			}else{
				axios.patch('/admin/api/exercises/'+this.editing_item_id,this.new_exercise
				).then((res)=>{
					this.closeCreateDialog();
					this.fetchData();
				}).finally(()=>{
					this.posting_new_exercise=false;
				})
			}
		},
		deleteItem(item){
			if (!window.confirm('Êtes-vous sûr de vouloir effectuer cette action ?')) return;
			item.isLoading=true;
			axios.delete('/admin/api/exercises/'+item.id,{
				params:{
				}}
			).finally(()=>{
				item.isLoading=false;
				this.fetchData();
			});
		}
	},
	created(){
		this.fetchData();
	}
}
</script>
<style lang="stylus" scoped>

.add-exercise-button
	position: fixed
	bottom: 50px
	right: 50px
	z-index:1

.add-tag-field
	display: inline-block
	width: 50%

.add-tag-button
	display: inline-block
	position: absolute

.vtimeselector::before
	border-style: solid
	border-width: thin 0 0
	bottom: -1px
	content: ""
	left: 0
	position: absolute
	transition: .3s cubic-bezier(.25,.8,.5,1)
	width: 100%
	border-color: rgba(0,0,0,.42)

.strong-text
	font-weight:bolder

</style>