<template lang="pug">

v-row
	v-col(cols="12")
		v-card
			v-card-title Gateways
			v-sheet.p-3
				v-row
					v-col
						h6 Endpoints
						v-text-field(
							readonly
							label="Stripe"
							:value="endpoints.stripe"
							:loading="loading.endpoints"
						)
						v-text-field(
							readonly
							label="Paypal"
							:value="endpoints.paypal"
							:loading="loading.endpoints"
						)
				v-row
					v-col
						v-dialog(
							v-model="dialog.add_webhook"
							max-width="400px"
						)
							template(v-slot:activator="{on}")
								v-btn.float-right(
									v-on="on"
									small
								) Ajouter
							v-card.p-3
								v-card-title Ajouter Webhook
								v-form(@submit.prevent="")
									v-text-field(
										v-model="forms.add_webhook.url"
										label="URL"
									)
									v-menu(
										top
									)
										template(v-slot:activator="{on}")
											v-btn(
												type="submit"
												v-on.stop="on"
												:loading="loading.add_webhook"
											).float-right Ajouter
										v-list
											v-list-item(
												@click="createWebhook(1, forms.add_webhook.url)"
											)
												v-list-item-title Pour Stripe
											v-list-item(
												@click="createWebhook(2, forms.add_webhook.url)"
											)
												v-list-item-title Pour Paypal
											v-list-item(
												ref="create_webhook_default"
												tab-index="0"
												@click="createWebhook(0, forms.add_webhook.url)"
											)
												v-list-item-title Pour tous
											
								.clearfix

						h6 Webhooks&nbsp;
							v-btn(
								v-if="!loading.webhooks"
								x-small
								icon
								@click="fetchWebhooks"
							)
								v-icon mdi-reload
						hr.clearfix
						v-simple-table
							thead
								th Gateway
								th ID
								th URL
								th Action
							tbody
								tr(v-for="webhook in webhooks.stripe")
									td Stripe
									td {{ webhook.id }}
									td {{ webhook.url }}
									td
										v-btn(
											x-small
											icon
											:loading="webhook.loading_delete"
											@click="deleteWebhook(1,webhook)"
										)
											v-icon mdi-delete
								tr(v-for="webhook in webhooks.paypal")
									td Paypal
									td {{ webhook.id }}
									td {{ webhook.url }}
									td 
										v-btn(
											x-small
											icon
											:loading="webhook.loading_delete"
											@click="deleteWebhook(2,webhook)"
										)
											v-icon mdi-delete
						v-progress-linear(
							v-if="loading.webhooks"
							indeterminate
						)
				v-row
					v-col
						h6 Events&nbsp;
							v-btn(
								v-if="!loading.events"
								x-small
								icon
								@click="fetchEvents"
							)
								v-icon mdi-reload
						hr
						v-simple-table
							thead
								th Event
								th Gateway
								th ID
								th URL
								th Time
							tbody
								tr(v-for="webhook_event in events")
									td {{webhook_event.data.type}}
									td {{webhook_event.gateway_id==1?'Stripe':'Paypal'}}
									td {{webhook_event.id}}
									td {{webhook_event.url}}
									td {{webhook_event.created_at}}
						v-progress-linear(
							v-if="loading.events"
							indeterminate
						)
				hr
					
</template>
<script>
export default {
	data(){
		return{

			loading:{
				endpoints:false,
				webhooks:false,
				events:false,
				add_webhook:false,
			},

			dialog:{
				add_webhook:false,
			},

			forms:{
				add_webhook:{
					url:'',
				}
			},

			endpoints:{
				stripe:'',
				paypal:'',
			},

			webhooks:{
				stripe:[],
				paypal:[],
			},

			events:[
				
			]
		}
	},
	methods:{
		addWebhook(gateway_id, webhook){

			let webhook_array=gateway_id==1?
				this.webhooks.stripe:
				this.webhooks.paypal

			webhook_array.push(webhook)
		},
		removeWebhook(gateway_id, webhook){
			
			let webhook_array=gateway_id==1?
				this.webhooks.stripe:
				this.webhooks.paypal

			let element_index=webhook_array.indexOf(webhook)
			
			webhook_array.splice(element_index,1);
		},
		createWebhook(gateway_id, url){

			if (!gateway_id){
				
				this.createWebhook(1,url)
				this.createWebhook(2,url)
				
				return
			}

			this.loading.add_webhook=true;

			return axios
			.post('/admin/api/gateways/webhooks',{
				gateway_id,
				url
			})
			.then(response=>{
				this.addWebhook(gateway_id,response.data)
				this.dialog.add_webhook=false
			})
			.catch(error=>{
				window.alert(error)
			})
			.finally(()=>{
				this.loading.add_webhook=false
			})
			
		},
		deleteWebhook(gateway_id, webhook){

			webhook.loading_delete=true

			return axios
			.post('/admin/api/gateways/webhooks',{
				_method:'delete',
				gateway_id,
				webhook_id:webhook.id,
			})
			.then(response=>{
				this.removeWebhook(gateway_id, webhook)
			})
			.finally(()=>{
				if (webhook.loading_delete)
					webhook.loading_delete=false
			})
		},
		fetchWebhookEndpoints(){

			this.loading.endpoints=true

			return axios
			.get('/admin/api/gateways/endpoints')
			.then(response=>{
				let data=response.data

				this.endpoints.stripe=data.stripe
				this.endpoints.paypal=data.paypal
			})
			.finally(()=>{
				this.loading.endpoints=false
			})
		},
		fetchWebhooks(){

			this.loading.webhooks=true

			return axios
			.get('/admin/api/gateways/webhooks')
			.then(response=>{
				this.webhooks=response.data
			})
			.finally(()=>{
				this.loading.webhooks=false
			})
		},
		fetchEvents(){

			this.loading.events=true

			return axios
			.get('/admin/api/gateways/events')
			.then(response=>{
				this.events=response.data
			})
			.finally(()=>{
				this.loading.events=false
			})
		}
	},
	mounted(){
		this.fetchWebhooks()
		this.fetchWebhookEndpoints()
		this.fetchEvents()
	}
}
</script>
<style lang="stylus" scoped>

</style>