<template lang="pug">

v-row

	//-
		CREATE NEW SESSION DIALOG
	v-dialog(
		v-model="is_create_dialog_visible"
	)
		v-sheet.p-5
			v-overlay(
				absolute
				loading
				:value="posting_new_offer"
			)
			v-card-title {{editing_item_id?'Éditer':'Ajouter'}} Offre
			v-row
				v-col
					v-sheet
						v-row
							v-col(cols=12)
								v-form(
									ref="create_offer_form"
									lazy-validation
								)
								v-sheet
									v-row
										v-col(cols=12 md=5)
											v-text-field(
												v-model="new_offer.name"
												label="Nom"
												:rules="new_offer_rules.name"
												required
											)
											v-text-field(
												v-model="new_offer.title"
												label="Titre"
												required
											).mt-n2
										v-col(cols=12 md=7)
											v-text-field(
												v-model="new_offer.description"
												label="Descriptif"
											)
											v-checkbox(
												v-if="!editing_item_id"
												v-model="new_offer.new_plan"
												label="Nouveau plan"
											)
											v-text-field(
												v-show="new_offer.new_plan"
												v-model="new_offer.plan.name"
												label="Nom du plan"
											).mt-n5
											v-select(
												v-if="!editing_item_id"
												:multiple="new_offer.new_plan"
												:chips="new_offer.new_plan"
												:value="new_offer.new_plan ? new_offer.products : new_offer.plan"
												:items="new_offer.new_plan ? products : plans"
												:label="new_offer.new_plan ? 'Sélectionner les produits' : 'Sélectionner un plan'"
												@input="updatePlanProductSelection"
												:class="new_offer.new_plan ? '' : 'mt-n5'"
											)
											v-text-field(
												v-if="editing_item_id"
												label="Nom du plan"
												disabled
												:value="new_offer.plan.name"
											).mt-n2
										v-col(cols=12)
											| {{!new_offer.new_plan?((new_offer.plan.products && new_offer.plan.products.length)?'Produits en plan':'Aucun produit dans le plan.'):''}}
											v-chip-group(
												v-if="!new_offer.new_plan"
												column
											)
												v-chip(
													v-for="product in new_offer.plan.products"
													:key="product.id"
												) {{product.name}}
										v-col(cols=12 sm=6 md=4 lg=3)
											v-text-field(
												type="number"
												v-model="new_offer.price"
												label="Prix TTC"
												append-icon="mdi-currency-eur"
												required
											)
										v-col(cols=12 sm=6 md=4 lg=3)
											v-text-field(
												type="number"
												v-model="new_offer.tax_percent"
												label="Pourcentage de taxe"
												append-icon="mdi-percent"
												required
											)
										v-col(cols=12 sm=6 md=4 lg=3
											v-if="!new_offer.is_lifetime"
										)
											v-text-field(
												type="number"
												v-model="new_offer.duration"
												label="Durée en mois"
												append-icon="mdi-timelapse"
												required
											)
										v-col(cols=12 sm=6 md=4 lg=3
											v-if="new_offer.is_limited"
										)
											v-text-field(
												v-model="new_offer.subscriber_limit"
												label="Nb maximum d'adhésion"
												append-icon="mdi-numeric-1-box-multiple-outline"
												required
											)
										v-col(cols=12 lg=12)
											v-row(
												align="center"
												justify="space-around"
											)
												v-switch(
													v-model="new_offer.is_limited"
													label="limité"
												)
												v-switch(
													v-model="new_offer.is_recurring"
													v-if="!new_offer.is_lifetime"
													:disabled="editing_item_id?true:false"
													label="récurrent"
												)
												v-switch(
													v-model="new_offer.is_lifetime"
													:disabled="editing_item_id?true:false"
													label="pour toujours"
												)
												v-switch(
													v-model="new_offer.is_public"
													label="public"
												)
												v-switch(
													v-model="new_offer.is_for_upgrade"
													label="disponible pour mise à niveau"
												)
												v-switch(
													v-model="new_offer.is_available"
													v-if="!new_offer.offer_schedules.length"
													label="disponible"
												)
										v-col(cols=12 sm=6 md=4 lg=3) Modes de paiement disponibles
											v-switch(
												v-model="new_offer.is_stripe_available"
												label="stripe"
											)
											v-switch(
												v-model="new_offer.is_paypal_available"
												label="paypal"
											)
										v-col(cols=12)
											| Ajouter un calendrier&nbsp;
											v-btn(
												icon
												@click="new_offer.is_available=false; new_offer.offer_schedules.push({})"
											)
												v-icon mdi-plus
											v-divider
											v-sheet(
												v-for="(offer_schedule,index) in new_offer.offer_schedules"
												:key="index"
											)
												v-row
													v-col(cols=12 sm=6 md=3)
														v-menu(
															transition='scale-transition'
															offset-y=''
															full-width=''
															min-width='290px'
														)
															template(
																v-slot:activator='{ on }'
															)
																v-text-field(
																	v-model='offer_schedule.from'
																	label='Date du'
																	prepend-icon='event'
																	readonly=''
																	v-on='on'
																)
															v-date-picker(
																v-model='offer_schedule.from'
																no-title=''
																scrollable=''
															)
													v-col(cols=12 sm=6 md=3)
														v-menu(
															transition='scale-transition'
															offset-y=''
															full-width=''
															min-width='290px'
														)
															template(
																v-slot:activator='{ on }'
															)
																v-text-field(
																	v-model='offer_schedule.to'
																	label='Date au'
																	prepend-icon='event'
																	readonly=''
																	v-on='on'
																)
															v-date-picker(
																v-model='offer_schedule.to'
																no-title=''
																scrollable=''
															)
													v-col(cols=6 md=3)
														v-checkbox(
															v-model="offer_schedule.is_custom"
															label="Personnaliser"
														)
													v-col(cols=6 md=3)
														v-btn(
															icon
															@click="new_offer.offer_schedules.splice(index,1)"
															style="position:absolute;right:5px;top:0px;"
														)
															v-icon mdi-close
												v-row(
													v-if="offer_schedule.is_custom"
													cols=12
												)
													v-col(cols=12 sm=6)
														v-text-field(
															v-model="offer_schedule.title"
															label="Titre"
														)
													v-col(cols=12 sm=6)
														v-text-field(
															v-model="offer_schedule.description"
															label="Descriptif"
														)
												v-divider
											
											
			v-row
				v-col(cols=3)
					v-btn(
						outlined
						color="error"
						@click="closeCreateDialog"
						style="position:absolute;"
					) annuler
						
				v-spacer
				v-col(cols=3)
					v-btn(
						outlined
						color="primary"
						:loading="posting_new_offer"
						@click="postItem"
						style="position:absolute;right:13px;"
					) ajouter

	//-
		MAIN EXERCISE INDEX VIEW
	v-col(cols="12")
		v-row
			v-col
				v-card
					v-card-title Les Offres

		v-row(justify="space-around")
			v-col(cols="12")
				v-sheet(elevation=3).px-10
					v-row 
						v-col(cols=6 md=5)
							v-text-field(
								v-model="search"
								label="Rechercher"
								single-line
								hide-details
								@input="promptSearch"
							)
						v-spacer
						v-col(cols=4 md=3 lg=2)
							v-select(
								v-model="items_per_page"
								:items="per_page_selection"
								label="Par page"
								@input="fetchData"
							)
							v-btn(
								v-show="!is_create_dialog_visible"
								fab
								@click="showCreateDialog"
							).add-offer-button
								v-icon mdi-plus
					v-sheet
						v-pagination(
							:value="current_page"
							:length="last_page"
							@input="changePage"
						)

					v-data-table(
						ref="table"
						:headers="headers"
						:items="offers"
						:items-per-page="items_per_page"
						:server-items-length="total_item_count"
						:loading="loading_table_data"
						:search="search"
						@update:sort-by="changeSort"
						@update:sort-desc="changeAscending"
						show-expand
						hide-default-footer
						:expanded.sync="items_expanded"
						@item-expanded="itemExpanded"
					).mx-n10
						template(
								v-slot:item.actions="{item}"
							)
							v-icon(
								small
								@click="editItem(item)"
							) edit
						template(v-slot:expanded-item="{headers, item}")
							td(:colspan="headers.length" style="position:relative")
								v-overlay(
									absolute
									loading
									:value="item.isLoading"
								)
								v-row.py-1.pb-5
									v-col(
										v-if="item.offer_schedules && item.offer_schedules.length"
									) Planning
										v-card(
											v-for="offer_schedule in item.offer_schedules"
											:key="offer_schedule.id"
											row
										).mt-2
											v-col(cols=6) Date du: {{offer_schedule.from.split(' ')[0]}}
											v-col(cols=6) Date au: {{offer_schedule.to.split(' ')[0]}}

						template(v-slot:footer)
							v-row
								v-col(v-show="!loading_table_data")
									v-text-field(disabled)
								v-col(v-show="loading_table_data")
									v-text-field(loading disabled)

						template(v-slot:item.is_available="{value}")
							v-icon(
								v-if="value == true"
							) mdi-check
								

					v-sheet
						v-pagination(
							:value="current_page"
							:length="last_page"
							@input="changePage"
						)
					
</template>
<script>
export default {
	data(){
		return{

			editing_item_id:0,

			posting_new_offer:false,
			new_offer_session_input:'',
			new_offer:{
				name:'',
				description:'',
				content:'',
				title:'',
				new_plan:false,
				plan_name:'',
				plan:{
					name:'',
					products:[],
				},
				offer_schedules:[
				],
				price:null,
				tax_percent:20,
				products:[],
				subscriber_limit:0,
				is_limited:false,
				is_recurring:true,
				is_lifetime:false,
				is_public:true,
				is_for_upgrade:false,
				is_available:false,
				is_stripe_available:true,
				is_paypal_available:true,
			},
			new_offer_rules:{
				name:[
					(v)=>{ return (!!v && v!='') || 'Nom est obligatoire'}
				]
			},
			
			plans:[

			],
			products:[
				{text:'Tous les exercices',value:{id:1}},
				{text:'Toutes les recettes',value:{id:2}},
				{text:'Toutes les séances',value:{id:3}},
				{text:'Tous les programmes',value:{id:4}},
			],

			is_create_dialog_visible:false,

			category_selected:0,
			tag_dialogs_shown:{},

			items_expanded:[],
			search_debounce:0,
			search:'',
			loading_table_data:true,
			orderBy:'updated_at',
			ascending:false,
			items_per_page:25,
			current_page:1,
			last_page:1,
			total_item_count:0,
			per_page_selection:[5,10,25,50,100],
			headers:[
				{
					text:'ID',
					value:'id',
				},
				{
					text:'Nom',
					value:'name',
				},
				{
					text:'Titre',
					value:'title',
				},
				{
					text:'Nom du plan',
					value:'plan.name',
					// sortable:false,
				},
				{
					text:'Prix TVA',
					value:'price',
				},
				{
					text:'Disponible',
					value:'is_available',
				},
				{
					text:'Actions',
					value:'actions',
				},
			],
			offers:[
			]
		}
	},
	methods:{

		updatePlanProductSelection(event){
			if (this.new_offer.new_plan){
			
				this.new_offer.plan.products=event
			}else{

				this.new_offer.plan=event
			}
				
		},

		editItem(item){
			this.new_offer=Object.assign({},item);
			this.editing_item_id=item.id;
			this.showCreateDialog();
		},
		
		fetchCurrentPlans(){
			axios.get('/admin/api/plans/list')
			.then((res)=>{
				this.plans=res.data.map((plan)=>{
					return {text:plan.name,value:{id:plan.id,products:plan.products}};
				});
			})
		},

		promptSessionAutocomplete(){
			axios.get('/admin/api/sessions/autocomplete',{
				params:{
					search:this.new_offer_session_input,
					ignore:this.new_offer.sessions?this.new_offer.sessions.map(session=>session.id):[],
				}
			})
			.then((res)=>{
				this.session_search_results=res.data;
			});
		},
		showCreateDialog(){
			this.is_create_dialog_visible=true;
		},
		closeCreateDialog(){
			this.editing_item_id=0;
			this.is_create_dialog_visible=false;
			this.new_offer={
				name:'',
				description:'',
				content:'',
				title:'',
				new_plan:false,
				plan_name:'',
				plan:{
					name:'',
					products:[],
				},
				offer_schedules:[
				],
				price:null,
				tax_percent:20,
				products:[],
				subscriber_limit:0,
				is_limited:false,
				is_recurring:true,
				is_lifetime:false,
				is_public:true,
				is_for_upgrade:false,
				is_available:false,
				is_stripe_available:true,
				is_paypal_available:true,
			};
		},


		updateTable(){
			this.$refs.table.$forceUpdate();
		},
		updateItem(oldItem,newItem){
			Object.assign(oldItem,newItem);
			this.updateTable();
		},
		itemExpanded(event){
			if (event.value){
				this.fetchItem(event.item);
			}
		},
		untagItem(item,tag){
			item.isLoading=true;
			axios.delete('/admin/api/offers/'+item.id+'/tags/'+tag
			).finally(()=>{
				this.fetchItem(item);
			});
		},
		promptSearch(){
			window.clearTimeout(this.search_debounce);
			this.search_debounce=window.setTimeout(()=>{
				this.fetchData();
			},300);
		},
		changeSort(sort){
			this.orderBy=sort[0];
			this.fetchData();
		},
		changeAscending(ascending){
			this.ascending=!ascending[0];
			this.fetchData();
		},
		changePage(page){
			this.current_page=page;
			this.fetchData();
		},
		fetchData(){
			this.loading_table_data=true;
			axios.get('/admin/api/products/list')
			.then(res=>{
				this.products=res.data.map(product=>{
					return {
						text:product.name,
						value:{id:product.id}
					}
				})
			})
			axios.get('/admin/api/offers',{
				params:{
					filters:[
						this.category_selected?{field:'category_id', value:this.category_selected}:{},
					],
					search:this.search,
					perPage:this.items_per_page,
					page:this.current_page,
					orderBy:this.orderBy,
					ascending:this.ascending,
				}}
			).then((res)=>{
				this.offers=res.data.contents;
				this.total_item_count=res.data.total_item_count;
				this.current_page=res.data.current_page;
				this.last_page=res.data.last_page;
			}).finally(()=>{
				this.loading_table_data=false;
				this.$el.scrollIntoView({behaviour:'smooth'});
				this.items_expanded=[];
			});
		},
		fetchItem(item){
			item.isLoading=true;
			axios.get('/admin/api/offers/'+item.id,{
				params:{
				}}
			).then((res)=>{
				Object.assign(item,res.data);
			}).finally(()=>{
				item.isLoading=false;
				this.updateTable();
			});
		},
		postItem(){
			this.posting_new_offer=true;

			if(!this.editing_item_id){
				axios.post('/admin/api/offers',this.new_offer
				).then((res)=>{
					this.closeCreateDialog();
					this.fetchData();
				}).finally(()=>{
					this.posting_new_offer=false;
				})
			}else{
				axios.patch('/admin/api/offers/'+this.editing_item_id,this.new_offer
				).then((res)=>{
					this.closeCreateDialog();
					this.fetchData();
				}).finally(()=>{
					this.posting_new_offer=false;
				})
			}
		},
		deleteItem(item){
			if (!window.confirm('Êtes-vous sûr de vouloir effectuer cette action ?')) return;
			item.isLoading=true;
			axios.delete('/admin/api/offers/'+item.id,{
				params:{
				}}
			).finally(()=>{
				item.isLoading=false;
				this.fetchData();
			});
		}
	},
	created(){
		this.fetchData();
		this.fetchCurrentPlans();
	}
}
</script>
<style lang="stylus" scoped>

.add-offer-button
	position: fixed
	bottom: 50px;
	right: 50px
	z-index:1

.add-session-button
	display: inline-block
	position: absolute

.session-search-results
	position: absolute
	width: 95%
	z-index: 1

.new_offer_session_autocomplete_selection
	cursor: pointer

.new_offer_session_autocomplete_selection:hover
	filter: invert(0.1)

</style>