<template lang="pug">

v-row

	v-dialog(
		v-model="is_view_dialog_visible"
		persistent
	)
		v-sheet.p-5
			v-btn.float-right(
				icon
				@click="is_view_dialog_visible=false"
			)
				v-icon close
			v-card-title {{viewing_item.title}}
			v-card-text
				p {{viewing_item.name}}
				p {{viewing_item.slug}}
			v-card
				div(
					v-html="viewing_item.content"
				)

	//-
		CREATE NEW SESSION DIALOG
	v-dialog(
		v-model="is_create_dialog_visible"
		persistent
	)
		v-sheet.p-5
			v-overlay(
				absolute
				loading
				:value="posting_new_page"
			)
			v-card-title {{editing_item_id?'Éditer':'Ajouter'}} Page
			v-row
				v-col
					v-card
						v-row
							v-col(cols=12)
								v-form(
									ref="create_page_form"
									lazy-validation
								)
								v-sheet.px-10
									v-row
										v-col(cols=12)
											tiny-mce(
												v-if="!html_editor"
												v-model="new_page.content"
												:init="{ \
													height:500, \
													plugins: [ \
														'advlist autolink lists link image charmap print preview anchor', \
														'searchreplace visualblocks code fullscreen', \
														'insertdatetime media table paste code help wordcount' \
													], \
													toolbar: \
														'undo redo | formatselect | bold italic backcolor | ' + \
														'alignleft aligncenter alignright alignjustify | ' + \
														'bullist numlist outdent indent | removeformat | help' \
												}"
												height="300px"
											)
											textarea(
												v-if="html_editor"
												v-model="new_page.content"
												style="width:100%;min-height:500px;border:1px solid gainsboro;border-radius:3px"
											)
										v-col(cols=12 md=6)
											v-text-field(
												v-model="new_page.name"
												label="Nom"
												tabindex=1
												required
											).mt-n2
										v-col(cols=12 md=6)
											v-text-field(
												v-model="new_page.title"
												label="Titre"
												required
											).mt-n2
										v-col(cols=12 md=6)
											v-text-field(
												:value="new_page.slug"
												@input="maskSlug"
												@change="maskSlug"
												ref="slugfield"
												label="Slug"
												required
											).mt-n2
										v-col(cols=12 md=6).d-md-flex.justify-content-around
											v-switch(
												v-model="new_page.is_public"
												label="Est public"
											).mt-n2
											v-switch(
												v-model="new_page.is_published"
												label="Est publié"
											).mt-n2
											v-switch(
												v-model="html_editor"
												label="HTML"
											).mt-n2
										v-col(cols=12)
											v-combobox(
												v-model="new_page.page_groups"
												:items="page_groups"
												:loading="loading_page_groups"
												item-text="name"
												return-object
												label="Page Groupe"
												multiple
												chips
												deletable-chips
											)
											
			v-row
				v-col(cols=3)
					v-btn(
						outlined
						color="error"
						@click="closeCreateDialog"
						style="position:absolute;"
					) annuler
						
				v-spacer
				v-col(cols=3)
					v-btn(
						outlined
						color="primary"
						:loading="posting_new_page"
						@click="postItem"
						style="position:absolute;right:13px;"
					) ajouter

	//-
		MAIN EXERCISE INDEX VIEW
	v-col(cols="12")
		v-row
			v-col
				v-card
					v-card-title Les Pages
		
		v-row
			v-col
				v-sheet(elevation=3).px-10
					v-row 
						v-col(cols=6 md=5)
							v-text-field(
								v-model="search"
								label="Rechercher"
								single-line
								hide-details
								@input="promptSearch"
							)
						v-spacer
						v-col(cols=4 md=3 lg=2)
							v-select(
								v-model="items_per_page"
								:items="per_page_selection"
								label="Par page"
								@input="fetchData"
							)
							v-btn(
								v-show="!is_create_dialog_visible"
								fab
								@click="showCreateDialog"
							).add-page-button
								v-icon mdi-plus
					v-sheet
						v-pagination(
							:value="current_page"
							:length="last_page"
							@input="changePage"
						)

					v-data-table(
						ref="table"
						:headers="headers"
						:items="pages"
						:items-per-page="items_per_page"
						:server-items-length="total_item_count"
						:loading="loading_table_data"
						:search="search"
						@update:sort-by="changeSort"
						@update:sort-desc="changeAscending"
						hide-default-footer
					).mx-n10
						template(
							v-slot:item.actions="{item}"
						)
							v-icon.mr-2(
								small
								@click="viewItem(item)"
							) mdi-eye
							v-icon.mr-2(
								small
								@click="editItem(item)"
							) edit
							v-icon(
								small
								@click="deleteItem(item)"
							) delete
					
</template>
<script>
export default {
	data(){
		return{

			html_editor:false,

			editing_item_id:0,

			posting_new_page:false,
			new_page_session_input:'',
			new_page:{
				name:'',
				title:'',
				slug:'',
				content:'',
				is_public:true,
				is_published:false,
				page_groups:[]
			},

			loading_page_groups:false,
			page_groups:[],
			
			is_view_dialog_visible:false,
			viewing_item:{},

			is_create_dialog_visible:false,

			search_debounce:0,
			search:'',
			loading_table_data:true,
			orderBy:'updated_at',
			ascending:false,
			items_per_page:25,
			current_page:1,
			last_page:1,
			total_item_count:0,
			per_page_selection:[5,10,25,50,100],
			headers:[
				{
					text:'ID',
					value:'id',
				},
				{
					text:'Nom',
					value:'name',
				},
				{
					text:'Titre',
					value:'title',
				},
				{
					text:'Slug',
					value:'slug',
				},
				{
					text:'Est public',
					value:'is_public',
				},
				{
					text:'Est publié',
					value:'is_published',
				},
				{
					text:'Actions',
					value:'actions'
				}
			],
			pages:[
			]
		}
	},
	methods:{

		maskSlug(slug){
			console.log(slug)
			this.new_page.slug=slug
			.replace(' ','-')
			.replace(/[^0-9A-Za-z\-\/]/g,'')
			.replace(/\-+/g,'-')
			.replace(/^-+/g,'')
			.replace(/-+$/g,'')
			.replace('-/','/')
			.replace('/-','/')
			.replace(/[\/]+/g,'/')

			this.$refs.slugfield.$forceUpdate()

		},

		formatPageGroups(){
			if (!this.new_page.page_groups) return;
			this.new_page.page_groups=this.new_page.page_groups.map(group=>{
				if (typeof group=='string')
					return {name:group}
				else
					return group
			})
		},

		editItem(item){
			if (this.loading_table_data) return
			this.new_page=Object.assign({},item);
			this.editing_item_id=item.id;
			this.showCreateDialog();
		},

		viewItem(item){
			if (this.loading_table_data) return
			this.viewing_item=item;
			this.is_view_dialog_visible=true;
		},

		showCreateDialog(){
			this.fetchPageGroups();
			this.is_create_dialog_visible=true;
		},

		closeCreateDialog(){
			this.editing_item_id=0;
			this.is_create_dialog_visible=false;
			this.new_page={
				name:'',
				title:'',
				slug:'',
				content:'',
				is_public:true,
				is_published:false,
				page_groups:[]
			};
			this.fetchPageGroups();
		},

		updateTable(){
			this.$refs.table.$forceUpdate();
		},
		updateItem(oldItem,newItem){
			Object.assign(oldItem,newItem);
			this.updateTable();
		},
		itemExpanded(event){
			if (event.value){
				this.fetchItem(event.item);
			}
		},
		promptSearch(){
			window.clearTimeout(this.search_debounce);
			this.search_debounce=window.setTimeout(()=>{
				this.fetchData();
			},300);
		},
		changeSort(sort){
			this.orderBy=sort[0];
			this.fetchData();
		},
		changeAscending(ascending){
			this.ascending=!ascending[0];
			this.fetchData();
		},
		changePage(page){
			this.current_page=page;
			this.fetchData();
		},
		fetchData(){
			this.loading_table_data=true;
			axios.get('/admin/api/pages',{
				params:{
					search:this.search,
					perPage:this.items_per_page,
					page:this.current_page,
					orderBy:this.orderBy,
					ascending:this.ascending,
				}}
			).then((res)=>{
				this.pages=res.data.contents;
				this.total_item_count=res.data.total_item_count;
				this.current_page=res.data.current_page;
				this.last_page=res.data.last_page;
			}).finally(()=>{
				this.loading_table_data=false;
				this.$el.scrollIntoView({behaviour:'smooth'});
				this.items_expanded=[];
			});
		},
		fetchPageGroups(){
			this.loading_page_groups=true;
			axios.get('/admin/api/page_groups/list')
			.then(res=>{
				this.page_groups=res.data
			})
			.finally(()=>{
				this.loading_page_groups=false;
			})
		},
		fetchItem(item){
			item.isLoading=true;
			axios.get('/admin/api/pages/'+item.id,{
				params:{
				}}
			).then((res)=>{
				Object.assign(item,res.data);
			}).finally(()=>{
				item.isLoading=false;
				this.updateTable();
			});
		},
		postItem(){
			this.posting_new_page=true;

			this.formatPageGroups()

			if(!this.editing_item_id){
				axios.post('/admin/api/pages',this.new_page
				).then((res)=>{
					this.closeCreateDialog();
					this.fetchData();
				}).finally(()=>{
					this.posting_new_page=false;
				})
			}else{
				axios.patch('/admin/api/pages/'+this.editing_item_id,this.new_page
				).then((res)=>{
					this.closeCreateDialog();
					this.fetchData();
				}).finally(()=>{
					this.posting_new_page=false;
				})
			}
		},
		deleteItem(item){
			if (this.loading_table_data) return
			if (!window.confirm('Êtes-vous sûr de vouloir effectuer cette action ?')) return;
			this.loading_table_data=true;
			axios.delete('/admin/api/pages/'+item.id,{
				params:{
				}}
			).finally(()=>{
				this.fetchData();
			});
		}
	},
	created(){
		this.fetchData();
		this.fetchPageGroups();
	}
}
</script>
<style lang="stylus" scoped>

.add-page-button
	position: fixed
	bottom: 50px;
	right: 50px
	z-index:1

.add-session-button
	display: inline-block
	position: absolute

.session-search-results
	position: absolute
	width: 95%
	z-index: 1

.new_page_session_autocomplete_selection
	cursor: pointer

.new_page_session_autocomplete_selection:hover
	filter: invert(0.1)

</style>