<template lang="pug">

v-row

	//-
		CREATE NEW PRODUCT DIALOG
	v-dialog(
			v-model="is_create_product_dialog_visible"
			persistent
			width="450px"
		)
			v-overlay(
				absolute
				loading
				:value="posting_new_product"
			)
			v-sheet.p-3
				v-row
					v-col
						span
							|{{'Ajout d\'un produit : ' + new_product.resource_name + '('+new_product.resource_id+')'}}
						v-text-field(
							v-model="new_product.name"
							label="Nom"
						)
						v-text-field(
							v-model="new_product.description"
							label="Description"
						)
						v-btn(
							outlined
							color="error"
							@click="closeCreateProductDialog"
						).float-left annuler
						v-btn(
							outlined
							color="primary"
							@click="postItem"
							:loading="posting_new_product"
						).float-right ajouter

	v-dialog(
		v-model="is_list_resources_dialog_visible"
		fullscreen
	)
		v-sheet.p-5
			v-card-title {{editing_item_id?'Éditer':'Ajouter'}} Product
			v-row
				v-col
					v-card
						v-row
							v-col(cols=12)
								v-form(
									ref="create_product_form"
									lazy-validation
								)
								v-sheet.px-10
									v-row 
										v-col(cols=6 md=5)
											v-text-field(
												v-model="search_resources"
												label="Rechercher"
												single-line
												hide-details
												@input="promptSearchResources"
											)
										v-spacer
										v-col(cols=4 md=3 lg=2)
											v-select(
												v-model="items_per_page"
												:items="resource_types"
												label="Filter Type"
												@input="fetchData"
											)
											v-btn(
												v-show="!is_list_resources_dialog_visible"
												fab
												@click="showListResourcesDialog"
											).add-product-button
												v-icon mdi-plus
									v-sheet
										v-pagination(
											:value="current_page_resources"
											:length="resource_last_page"
											@input="changePageResources"
										)

									v-data-table(
										ref="table"
										:headers="resource_headers"
										:items="resources"
										:items-per-page="25"
										:server-items-length="total_resources_count"
										:loading="loading_table_data_resources"
										:search="search_resources"
										@update:sort-by="changeSortResources"
										@update:sort-desc="changeAscendingResources"
										hide-default-footer
									).mx-n10
										template(
											v-slot:item.resource_object_id="{item}"
										)
											|{{item.resource_object_id?item.resource_object_id:'Tous'}}
										template(
											v-slot:item.actions="{item}"
										)
											v-icon.ml-2(
												v-show="item.product ? false : true"
												@click="showCreateProductDialog(item)"
											) mdi-plus-circle-outline
											v-icon.ml-2(
												v-show="item.product ? true : false"
												@click="deleteItem(item.product)"
											) mdi-minus-circle
											
			v-row
				v-col(cols=3)
						
				v-spacer
				v-col(cols=3)
					v-btn(
						outlined
						color="primary"
						:loading="posting_new_product"
						@click="closeListResourcesDialog"
						style="position:absolute;right:13px;"
					) fini

	//-
		MAIN EXERCISE INDEX VIEW
	v-col(cols="12")
		v-row
			v-col
				v-card
					v-card-title Les Products
		
		v-row
			v-col
				v-sheet(elevation=3).px-10
					v-row 
						v-col(cols=6 md=5)
							v-text-field(
								v-model="search"
								label="Rechercher"
								single-line
								hide-details
								@input="promptSearch"
							)
						v-spacer
						v-col(cols=4 md=3 lg=2)
							v-select(
								v-model="items_per_page"
								:items="per_page_selection"
								label="Par page"
								@input="fetchData"
							)
							v-btn(
								v-show="!is_list_resources_dialog_visible"
								fab
								@click="showListResourcesDialog"
							).add-product-button
								v-icon mdi-plus
					v-sheet
						v-pagination(
							:value="current_page"
							:length="last_page"
							@input="changePage"
						)

					v-data-table(
						ref="table"
						:headers="headers"
						:items="products"
						:items-per-product="items_per_page"
						:server-items-length="total_item_count"
						:loading="loading_table_data"
						:search="search"
						@update:sort-by="changeSort"
						@update:sort-desc="changeAscending"
						hide-default-footer
					).mx-n10
						template(
							v-slot:item.actions="{item}"
						)
							v-icon.mr-2(
								small
								@click="editItem(item)"
							) edit
							v-icon(
								small
								@click="deleteItem(item)"
							) delete
					
</template>
<script>
export default {
	data(){
		return{

			html_editor:false,

			editing_item_id:0,

			posting_new_product:false,
			new_product_session_input:'',
			new_product:{
				resource_id:0,
				resource_name:'',
				name:'',
				description:'',
			},

			is_create_product_dialog_visible:false,
			loading_product_groups:false,
			product_groups:[],

			search_resources:'',
			search_resources_debounce:0,
			loading_table_data_resources:false,
			is_list_resources_dialog_visible:false,
			total_resources_count:0,
			current_page_resources:1,
			resource_last_page:1,
			resource_types:[
				{
					text:'Catégories vidéo',
					value:'Category'
				},
				{
					text:'Sous-catégories vidéo',
					value:'Subcategory'
				},
				{
					text:'Catégories de recettes',
					value:'RecipeCategory'
				},
				{
					text:'Exercices',
					value:'Exercise'
				},
				{
					text:'Recettes',
					value:'Recipe'
				},
				{
					text:'Livres',
					value:'Book'
				},
				{
					text:'Programmes',
					value:'Program'
				},
				{
					text:'Séances',
					value:'Session'
				},
				{
					text:'Pages',
					value:'Page'
				},
			],

			search_debounce:0,
			search:'',
			loading_table_data:true,
			orderBy:'updated_at',
			ascending:false,
			items_per_page:25,
			current_page:1,
			last_page:1,
			total_item_count:0,
			per_page_selection:[5,10,25,50,100],
			headers:[
				{
					text:'ID',
					value:'id',
				},
				{
					text:'Nom',
					value:'name',
				},
				{
					text:'Description du produit',
					value:'description',
				},
				{
					text:'Actions',
					value:'actions'
				}
			],
			resource_headers:[
				{
					text:'ID',
					value:'id'
				},
				{
					text:'Nom',
					value:'name'
				},
				{
					text:'Type du resource',
					value:'resource_object_type'
				},
				{
					text:'ID du resource',
					value:'resource_object_id'
				},
				{
					text:'Nom du produit', 
					value:'product.name'
				},
				{
					text:'Actions',
					value:'actions'
				}
			],
			products:[
			],
			resources:[

			]
		}
	},
	methods:{

		editItem(item){
			if (this.loading_table_data) return
			this.new_product=Object.assign({},item)
			this.editing_item_id=item.id
			this.showCreateProductDialog(item.resource)
		},

		viewItem(item){
			if (this.loading_table_data) return
			this.viewing_item=item
			this.is_view_dialog_visible=true
		},

		showCreateProductDialog(resource){
			
			this.new_product.resource_id=resource.id
			this.new_product.resource_name=resource.name

			this.is_create_product_dialog_visible=true
		},

		closeCreateProductDialog(){

			this.editing_item_id=0
			
			this.new_product={
				resource_id:0,
				resource_name:'',
				name:'',
				description:'',
			}

			this.is_create_product_dialog_visible=false
		},

		showListResourcesDialog(){
			this.is_list_resources_dialog_visible=true
		},

		closeListResourcesDialog(){
			this.is_list_resources_dialog_visible=false
		},

		updateTable(){
			this.$refs.table.$forceUpdate()
		},
		updateItem(oldItem,newItem){
			Object.assign(oldItem,newItem)
			this.updateTable()
		},
		itemExpanded(event){
			if (event.value){
				this.fetchItem(event.item)
			}
		},
		promptSearch(){
			window.clearTimeout(this.search_debounce)
			this.search_debounce=window.setTimeout(()=>{
				this.fetchData()
			},300)
		},
		promptSearchResources(){
			window.clearTimeout(this.search_resources_debounce)
			this.search_resources_debounce=window.setTimeout(()=>{
				this.fetchDataResources()
			},300)
		},
		changeSort(sort){
			this.orderBy=sort[0]
			this.fetchData()
		},
		changeAscending(ascending){
			this.ascending=!ascending[0]
			this.fetchData()
		},
		changePage(page){
			this.current_page=page
			this.fetchData()
		},
		changeSortResources(sort){
			this.orderBy_resources=sort[0]
			this.fetchData()
		},
		changeAscendingResources(ascending){
			this.ascending_resources=!ascending[0]
			this.fetchData()
		},
		changePageResources(page){
			this.current_page_resources=page
			this.fetchDataResources()
		},
		fetchDataResources(){
			this.loading_table_data_resources=true
			axios.get('/admin/api/resources',{
				params:{
					page:this.current_page_resources,
					search:this.search_resources,
					perPage:25,
					orderBy:this.orderBy_resources,
					ascending:this.ascending_resources,
				}
			})
			.then(res=>{
				this.resources=res.data.contents
				this.total_resources_count=res.data.total_item_count
				this.current_page_resources=res.data.current_page
				this.resource_last_page=res.data.last_page
			})
			.finally(()=>{
				this.loading_table_data_resources=false
			})
		},
		fetchData(){
			this.loading_table_data=true
			axios.get('/admin/api/products',{
				params:{
					page:this.current_page,
					search:this.search,
					perProduct:this.items_per_page,
					orderBy:this.orderBy,
					ascending:this.ascending,
				}}
			).then((res)=>{
				this.products=res.data.contents
				this.total_item_count=res.data.total_item_count
				this.current_page=res.data.current_page
				this.last_page=res.data.last_page
			}).finally(()=>{
				this.loading_table_data=false
				this.$el.scrollIntoView({behaviour:'smooth'})
				this.items_expanded=[]
			})
		},
		fetchItem(item){
			item.isLoading=true
			axios.get('/admin/api/products/'+item.id,{
				params:{
				}}
			).then((res)=>{
				Object.assign(item,res.data)
			}).finally(()=>{
				item.isLoading=false
				this.updateTable()
			})
		},
		postItem(){
			this.posting_new_product=true

			if(!this.editing_item_id){
				axios.post('/admin/api/products',this.new_product
				).then((res)=>{
					this.closeCreateProductDialog()
					this.fetchData()
					this.fetchDataResources()
				}).finally(()=>{
					this.posting_new_product=false
				})
			}else{
				axios.patch('/admin/api/products/'+this.editing_item_id,this.new_product
				).then((res)=>{
					this.closeCreateProductDialog()
					this.fetchData()
					this.fetchDataResources()
				}).finally(()=>{
					this.posting_new_product=false
				})
			}
		},
		deleteItem(item){
			if (this.loading_table_data) return
			if (!window.confirm('Êtes-vous sûr de vouloir effectuer cette action ?')) return
			this.loading_table_data=true
			axios.delete('/admin/api/products/'+item.id,{
				params:{
				}}
			).finally(()=>{
				this.fetchData()
			})
		}
	},
	created(){
		this.fetchData()
		this.fetchDataResources()
	}
}
</script>
<style lang="stylus" scoped>

.add-product-button
	position: fixed
	bottom: 50px
	right: 50px
	z-index:1

.add-session-button
	display: inline-block
	position: absolute

.session-search-results
	position: absolute
	width: 95%
	z-index: 1

.new_product_session_autocomplete_selection
	cursor: pointer

.new_product_session_autocomplete_selection:hover
	filter: invert(0.1)

</style>