<template lang="pug">

v-row

	//-
		CREATE NEW SESSION DIALOG
	v-dialog(
		v-model="is_create_dialog_visible"
		persistent
	)
		v-sheet.p-5
			v-overlay(
				absolute
				loading
				:value="posting_new_program"
			)
			v-card-title.ml-n8 {{editing_item_id?'Éditer':'Ajouter'}} Programme
			v-row
				v-col
					v-sheet
						v-row
							v-col(cols=12)
								v-form(
									ref="create_program_form"
									lazy-validation
								)
								v-sheet
									v-row
										v-col(cols=12 md=6)
											v-text-field(
												v-model="new_program.name"
												label="Nom"
												:rules="new_program_rules.name"
												required
											)
										v-col(cols=12 md=6)
											v-text-field(
												v-model="new_program.title"
												label="Titre"
												required
											)
										v-col(cols=12 md=6)
											v-text-field(
												v-model="new_program.description"
												label="Descriptif"
											)
										v-col(cols=12 md=6)
											v-text-field(
												v-model="new_program_session_input"
												label="Ajouter Séance"
												@input="promptSessionAutocomplete"
												@focus="promptSessionAutocomplete"
											).add-session-field
											v-card(
												:value="session_search_results.length"
											).session-search-results
												v-sheet(
													v-for="session in session_search_results"
													:key="session.id"
													v-text="session.name+' - ' +session.description"
													@click="addSessionToSessionDialog(session)"
													tile
												).p-1.pl-3.new_program_session_autocomplete_selection
										v-col(cols=12)
											v-textarea(
												v-model="new_program.content"
												label="Contenu"
												placeholder="#Markdown"
											)
										v-col(cols=12)
											v-chip-group(column).mt-n2
												v-chip(
													v-for="(session,i) in new_program.sessions"
													:key="i"
													close
													@click:close="new_program.sessions.splice(i,1)"
												) {{session.name}}
										v-col(cols=12)
											| Calendrier de publication&nbsp;
											v-btn(
												icon
												@click="new_program.program_schedules.push({})"
											)
												v-icon mdi-plus
											v-divider
											v-sheet(
												v-for="(program_schedule,index) in new_program.program_schedules"
												:key="index"
											)
												v-row
													v-col(cols=6 md=3)
														v-menu(
															transition='scale-transition'
															offset-y=''
															full-width=''
															min-width='290px'
														)
															template(
																v-slot:activator='{ on }'
															)
																v-text-field(
																	v-model='program_schedule.from'
																	label='Date du'
																	prepend-icon='event'
																	readonly=''
																	v-on='on'
																)
															v-date-picker(
																v-model='program_schedule.from'
																no-title=''
																scrollable=''
															)
													v-col(cols=6 md=3)
														v-menu(
															transition='scale-transition'
															offset-y=''
															full-width=''
															min-width='290px'
														)
															template(
																v-slot:activator='{ on }'
															)
																v-text-field(
																	v-model='program_schedule.to'
																	label='Date au'
																	prepend-icon='event'
																	readonly=''
																	v-on='on'
																)
															v-date-picker(
																v-model='program_schedule.to'
																no-title=''
																scrollable=''
															)
													v-col(cols=6 md=3)
														v-checkbox(
															v-model="program_schedule.is_custom"
															label="Personnaliser"
														)
													v-col(cols=6 md=3)
														v-btn(
															style="position:absolute;right:0"
															icon
															@click="new_program.program_schedules.splice(index,1)"
														)
															v-icon mdi-close
												v-row(
													v-if="program_schedule.is_custom"
													cols=12
												)
													v-col(cols=12 md=6)
														v-text-field(
															v-model="program_schedule.title"
															label="Titre"
														)
													v-col(cols=12 md=6)
														v-text-field(
															v-model="program_schedule.description"
															label="Descriptif"
														)
												v-divider
										v-col(cols=12)
											v-sheet.p-10
												| Aperçu
												v-divider
												div(
													style="text-align:center;"
													v-html="`<h1>${new_program.title}</h1><br>`+formatContent(new_program.content)"
												)
												v-row
													v-col(
														v-for="session in new_program.sessions"
														:key="session.id"
														cols=6
													)
														v-card.p-2
															div.h5.text-center {{session.title}}
															div.text-center.my-8
																p.text-wrap {{session.description}}
															div(
																v-for="exercise_set in session.exercise_sets"
																:key="exercise_set.id"
															).text-center.py-2
																h6.text-uppercase.mb-n3 {{exercise_set.name}}
																p(
																	v-for="exercise_assignment in exercise_set.exercise_assignments"
																	:key="exercise_assignment.id"
																) {{exercise_assignment.exercise.name}} : {{exercise_assignment.reps}}
																	template(v-if="exercise_assignment.tempo") &nbsp;({{exercise_assignment.tempo}})
																	template(v-if="exercise_assignment.description")
																		br
																		| {{exercise_assignment.description}}


			v-row
				v-btn(
					outlined
					color="error"
					@click="closeCreateDialog"
				).m-2 annuler
				v-spacer
				v-btn(
					outlined
					color="primary"
					:loading="posting_new_program"
					@click="postItem"
				).m-2 ajouter

	//-
		MAIN EXERCISE INDEX VIEW
	v-col(cols="12")
		v-row
			v-col
				v-card
					v-card-title Programmes

		v-row(justify="space-around")
			v-col(cols="12")
				v-sheet(elevation=3).px-10
					v-row 
						v-col(cols=6 md=5)
							v-text-field(
								v-model="search"
								label="Rechercher"
								single-line
								hide-details
								@input="promptSearch"
							)
						v-spacer
						v-col(cols=4 md=3 lg=2)
							v-select(
								v-model="items_per_page"
								:items="per_page_selection"
								label="Par page"
								@input="fetchData"
							)
							v-btn(
								v-show="!is_create_dialog_visible"
								fab
								@click="showCreateDialog"
							).add-program-button
								v-icon mdi-plus
					v-sheet
						v-pagination(
							:value="current_page"
							:length="last_page"
							@input="changePage"
						)

					v-data-table(
						ref="table"
						:headers="headers"
						:items="programs"
						:items-per-page="items_per_page"
						:server-items-length="total_item_count"
						:loading="loading_table_data"
						:search="search"
						@update:sort-by="changeSort"
						@update:sort-desc="changeAscending"
						show-expand
						hide-default-footer
						:expanded.sync="items_expanded"
						@item-expanded="itemExpanded"
					).mx-n10
						template(v-slot:expanded-item="{headers, item}")
							td(:colspan="headers.length" style="position:relative")
								v-overlay(
									absolute
									loading
									:value="item.isLoading"
								)
								v-row.py-1.pb-5
									v-col(cols=12 md=5) Planning
										v-card(
											v-for="program_schedule in item.program_schedules"
											:key="program_schedule.id"
											row
										).mt-2
											v-col(cols=6) Date du: {{program_schedule.from.split(' ')[0]}}
											v-col(cols=6) Date au: {{program_schedule.to.split(' ')[0]}}
									v-col(cols=12 md=7) Séances&nbsp;
										v-chip-group(column)
											v-chip(
												v-for="session in item.sessions"
												:key="session.id"
												v-text="session.name"
											)
									v-col(
										cols=12
									)
										div(
											style="overflow-x:auto; text-align:center;"
											v-html="`<h1>${item.title}</h1><br>`+formatContent(item.content)"
										)
										v-row
											v-col(
												v-for="session in item.sessions"
												:key="session.id"
												cols=12
												md=6
											)
												v-card.p-2
													div.h5.text-center {{session.title}}
													div.text-center.my-8
														p.text-wrap {{session.description}}
													div(
														v-for="exercise_set in session.exercise_sets"
														:key="exercise_set.id"
													).text-center.py-2
														h6.text-uppercase(
															v-if="exercise_set.name"
														) {{exercise_set.name}}
														p(
															v-for="exercise_assignment in exercise_set.exercise_assignments"
															:key="exercise_assignment.id"
														) {{exercise_assignment.exercise.name}} : {{exercise_assignment.reps}}
															template(v-if="exercise_assignment.tempo") &nbsp;({{exercise_assignment.tempo}})
															template(v-if="exercise_assignment.description")
																br
																| {{exercise_assignment.description}}
						template(
							v-slot:item.actions="{item}"
						)
							v-icon.mr-2(
								small
								@click="editItem(item)"
							) edit
							v-icon(
								small
								@click="deleteItem(item)"
							) delete

						template(v-slot:footer)
							v-row
								v-col(v-show="!loading_table_data")
									v-text-field(disabled)
								v-col(v-show="loading_table_data")
									v-text-field(loading disabled)

					v-sheet
						v-pagination(
							:value="current_page"
							:length="last_page"
							@input="changePage"
						)
					
</template>
<script>
export default {
	data(){
		return{

			editing_item_id:0,

			posting_new_program:false,
			new_program_session_input:'',
			new_program:{
				name:'',
				description:'',
				content:'',
				title:'',
				program_schedules:[
					{from:'',to:''}
				],
				sessions:[],
			},
			new_program_rules:{
				name:[
					(v)=>{ return (!!v && v!='') || 'Nom est obligatoire'}
				]
			},
			session_search_results:[],

			is_create_dialog_visible:false,

			category_selected:0,
			tag_dialogs_shown:{},

			items_expanded:[],
			search_debounce:0,
			search:'',
			loading_table_data:true,
			orderBy:'updated_at',
			ascending:false,
			items_per_page:25,
			current_page:1,
			last_page:1,
			total_item_count:0,
			per_page_selection:[5,10,25,50,100],
			headers:[
				{
					text:'ID',
					value:'id'
				},
				{
					text:'Nom',
					value:'name'
				},
				{
					text:'Titre',
					value:'title'
				},
				{
					text:'Descriptif',
					value:'description'
				},
				{
					text:'Actions',
					value:'actions'
				},
			],
			programs:[
			]
		}
	},
	methods:{

		editItem(item){
			this.new_program=Object.assign({},item);
			this.editing_item_id=item.id;
			this.showCreateDialog();
		},
		
		promptSessionAutocomplete(){
			axios.get('/admin/api/sessions/autocomplete',{
				params:{
					search:this.new_program_session_input,
					ignore:this.new_program.sessions?this.new_program.sessions.map(session=>session.id):[],
				}
			})
			.then((res)=>{
				this.session_search_results=res.data;
			});
		},
		tagItem(tagName){
			this.posting_tag=true;
			axios.post(this.tag_url+'/'+tagName,{
				params:{
				}
			})
			.then((res)=>{
				this.$emit('update:item',res.data);
				this.input='';
				this.results=[];
				this.closeDialog();
			})
			.finally((res)=>{
				this.posting_tag=false;
			});
		},
		addSessionToSessionDialog(session){
			if (!this.new_program.sessions) this.new_program.sessions=[];
			this.new_program.sessions.push(Object.assign({},session));
			this.new_program_session_input='';
			this.session_search_results=[];
		},
		formatContent(content){
			if(typeof(content)!='string') return;

			let converter=new window.showdown.Converter({'simpleLineBreaks':'true','tables':'true','strikethrough':'true'});

			return converter.makeHtml(content);
		},
		showCreateDialog(){
			this.is_create_dialog_visible=true;
		},
		closeCreateDialog(){
			this.editing_item_id=0;
			this.is_create_dialog_visible=false;
			this.new_program={
				name:'',
				description:'',
				content:'',
				title:'',
				program_schedules:[
					{from:'',to:''}
				],
				sessions:[],
			};
		},


		updateTable(){
			this.$refs.table.$forceUpdate();
		},
		updateItem(oldItem,newItem){
			Object.assign(oldItem,newItem);
			this.updateTable();
		},
		itemExpanded(event){
			if (event.value){
				this.fetchItem(event.item);
			}
		},
		untagItem(item,tag){
			item.isLoading=true;
			axios.delete('/admin/api/programs/'+item.id+'/tags/'+tag
			).finally(()=>{
				this.fetchItem(item);
			});
		},
		promptSearch(){
			window.clearTimeout(this.search_debounce);
			this.search_debounce=window.setTimeout(()=>{
				this.fetchData();
			},300);
		},
		changeSort(sort){
			this.orderBy=sort[0];
			this.fetchData();
		},
		changeAscending(ascending){
			this.ascending=!ascending[0];
			this.fetchData();
		},
		changePage(page){
			this.current_page=page;
			this.fetchData();
		},
		fetchData(){
			this.loading_table_data=true;
			axios.get('/admin/api/programs',{
				params:{
					filters:[
						this.category_selected?{field:'category_id', value:this.category_selected}:{},
					],
					search:this.search,
					perPage:this.items_per_page,
					page:this.current_page,
					orderBy:this.orderBy,
					ascending:this.ascending,
				}}
			).then((res)=>{
				this.programs=res.data.contents;
				this.total_item_count=res.data.total_item_count;
				this.current_page=res.data.current_page;
				this.last_page=res.data.last_page;
			}).finally(()=>{
				this.loading_table_data=false;
				this.$el.scrollIntoView({behaviour:'smooth'});
				this.items_expanded=[];
			});
		},
		fetchItem(item){
			item.isLoading=true;
			axios.get('/admin/api/programs/'+item.id,{
				params:{
				}}
			).then((res)=>{
				Object.assign(item,res.data);
			}).finally(()=>{
				item.isLoading=false;
				this.updateTable();
			});
		},
		postItem(){
			this.posting_new_program=true;

			if(!this.editing_item_id){
				axios.post('/admin/api/programs',this.new_program
				).then((res)=>{
						this.closeCreateDialog();
						this.fetchData();

				}).finally(()=>{
					this.posting_new_program=false;
				})
			}else{
				axios.patch('/admin/api/programs/'+this.editing_item_id,this.new_program
				).then((res)=>{
						this.closeCreateDialog();
						this.fetchData();

				}).finally(()=>{
					this.posting_new_program=false;
				})
			}
		},
		deleteItem(item){
			if (!window.confirm('Êtes-vous sûr de vouloir effectuer cette action ?')) return;
			item.isLoading=true;
			axios.delete('/admin/api/programs/'+item.id,{
				params:{
				}}
			).finally(()=>{
				item.isLoading=false;
				this.fetchData();
			});
		}
	},
	created(){
		this.fetchData();
	}
}
</script>
<style lang="stylus" scoped>

.add-program-button
	position: fixed
	bottom: 50px;
	right: 50px
	z-index:1

.add-session-button
	display: inline-block
	position: absolute

.session-search-results
	position: absolute
	width: 95%
	z-index: 1

.new_program_session_autocomplete_selection
	cursor: pointer

.new_program_session_autocomplete_selection:hover
	filter: invert(0.1)

</style>