<template lang="pug">

v-sheet.pt-5

	create-purchase-dialog(
		v-model = "is_create_dialog_visible"
		@created = "fetchData"
	)
	floating-create-button(
		:show = "!is_create_dialog_visible"
		:method = "showCreateDialog"
	)

	v-card
		v-card-title Achats
		v-card-text
			| Customer purchases (including
			| subscription-based, one-time purchases,
			| and freebies)

	v-sheet.mt-5
		data-table(
			ref="data_table"
			endpoint="/admin/api/purchases"
			:headers="headers"
		)
			template(v-slot:expanded-item="{headers, item}")
				td(:colspan="headers.length" style="position:relative")
					v-overlay(
						absolute
						loading
						:value="item.isLoading"
					)
					.row.py-5.px-3
						.col.col-12.col-md-4
							h6 Transaction
							hr
							template(v-if="item.transaction")
								div
									label Montant HT
									em.float-right € {{formatHundredFR(item.transaction.gross_amount)}}
								div
									label Montant TVA
									em.float-right € {{formatHundredFR(item.transaction.tax_amount/100)}}
								div.border-bottom
									label Tarifs
									em.float-right (€ {{formatHundredFR(item.transaction.gateway_fee/100)}})
								div
									strong Montant TTC
									strong.float-right € {{formatHundredFR(item.transaction.net_amount/100)}}
							template(v-else)
								span Aucun
						.col.col-12.col-md-5
							h6 Détails
							hr
							div
								label Gateway
								strong.float-right {{item.transaction ? item.transaction.gateway.name : 'free'}}
							div
								label Date de la transaction
								strong.float-right {{formatDateFR(item.transaction)}}
							div
								label Achat créé à
								strong.float-right {{formatDateFR(item.created_at)}}
						.col.col-12.col-md-3
							h6 Objets connexes
							hr
							div
								label Utilisateur
								strong(
									v-if="item.user"
								).float-right &#8470; {{item.user.id}}
								strong(v-else).float-right Aucun
							div
								label Abonnement
								strong(
									v-if="item.transaction && item.transaction.subscription"
								).float-right &#8470; {{item.transaction.subscription.id}}
								strong(v-else).float-right Aucun
							div
								label Transaction
								strong(
									v-if="item.transaction"
								).float-right &#8470; {{item.transaction.id}}
								strong(v-else).float-right Aucun
						.col.col-12.col-md-9
							h6 Payeur
							hr
							.row.p-3(v-if="item.user")
								.col.col-6.col-md-4.border
									label Email
									br
									strong.float-right {{item.user.email}}
								.col.col-6.col-md-4.border
									label Téléphone
									br
									strong.float-right {{item.user.phone}}
								.col.col-6.col-md-4.border
									label Membre depuis
									br
									strong.float-right {{formatDateFR(item.user.created_at)}}
								.col.col-6.col-md-4.border
									label Nom
									br
									strong.float-right {{item.user.surname}}
								.col.col-6.col-md-4.border
									label Prénom
									br
									strong.float-right {{item.user.name}}

			template(v-slot:item.duration="{item}")
				template(v-if = "!(item.duration == 0)") {{item.duration}}
				template(v-else) Eternel

			template(v-slot:item.effective_on="{item}")
				template {{formatDateFR(item.effective_on)}}

			template(v-slot:item.expires_on="{item}")
				template {{formatDateFR(item.expires_on)}}

			template(v-slot:item.is_active="{item}")
				v-icon(v-if = "item.is_active == true") check
				v-icon(v-else) close
					
</template>
<script>
import has_formatter from '@mixins/has-formatter'
export default {
	mixins:[
		has_formatter
	],
	data(){
		return{
			is_create_dialog_visible:false,
			headers:[
				{
					text:'ID',
					value:'id',
				},
				{
					text:'Offre',
					value:'offer.name',
				},
				{
					text:'Plan',
					value:'plan.name',
				},
				{
					text:'Durée (mois)',
					value:'duration',
				},
				{
					text:'En date du',
					value:'effective_on',
				},
				{
					text:'Date d\'expiration',
					value:'expires_on',
				},
				{
					text:'Actif',
					value:'is_active',
				},
				{
					text:'Actions',
					value:'actions',
				},
			],
		}
	},
	methods:{
		showCreateDialog(){
			this.is_create_dialog_visible=true
		},
		fetchData(){
			this.is_create_dialog_visible=false
			this.$refs.data_table.fetchData()
		}
	}
}
</script>