<template lang="pug">

v-row

	//-
		CREATE NEW RECIPE DIALOG
	v-dialog(
		v-model="is_create_dialog_visible"
		persistent
	)
		v-sheet.p-5
			v-overlay(
				absolute
				loading
				:value="posting_new_recipe"
			)
			v-card-title.ml-n8 {{editing_item_id?'Éditer':'Ajouter'}} Recette
			v-row
				v-col
					v-sheet
						v-row
							v-col(cols=12)
								v-form(
									ref="create_recipe_form"
									lazy-validation
								)
								v-sheet
									v-row
										v-col(cols=12 md=5)
											v-text-field(
												v-model="new_recipe.name"
												label="Nom"
												:rules="new_recipe_rules.name"
												required
											)
										v-col(cols=12 md=7)
											v-text-field(
												v-model="new_recipe.description"
												label="Descriptif"
											)
										v-col(cols=12 md=5)
											v-file-input(
												v-model="new_recipe.image"
												label="Portrait"
												required
												accept="image/*"
												append-icon="mdi-camera"
												prepend-icon=""
											)
											v-img(
												contain
											)
										v-col(cols=12 md=7)
											v-select(
												v-model="new_recipe.recipe_category_id"
												:items="recipe_categories"
												label="Sélectionner la catégorie"
											)
										v-col(cols=6 md=2) Durée de préparation
											time-selector(
												:displayHours="false"
												:displaySeconds="true"
												:value="newRecipeDurationFormatted('preparation_time')"
												@formatedTime="fomatRecipeDuration($event,'preparation_time')"
												:interval="{m:1, s:1}"
												:displayFormat="'mm:ss'"
												:returnFormat="'mm:ss'"
											)
										v-col(cols=6 md=2) Durée de cuisson
											time-selector(
												:displayHours="false"
												:displaySeconds="true"
												:value="newRecipeDurationFormatted('cook_time')"
												@formatedTime="fomatRecipeDuration($event,'cook_time')"
												:interval="{m:1, s:1}"
												:displayFormat="'mm:ss'"
												:returnFormat="'mm:ss'"
											)
										v-col(cols=4 md=3 offset-md=1)
											v-text-field(  
												v-model="new_recipe_tag_input"
												label="Tag"
												@input="promptTagAutocomplete"
												@focus="promptTagAutocomplete"
											).mt-n2.add-tag-field
											v-btn(
												icon
												x-large
												v-show="new_recipe_tag_input"
												@click="addTagToCreateDialog(new_recipe_tag_input)"
											).add-tag-button
												v-icon mdi-plus
											v-card(
												:value="tag_search_results.length"
											).tag-search-results
												v-sheet(
													v-for="tag in tag_search_results"
													:key="tag.id"
													v-text="tag.name"
													@click="addTagToCreateDialog(tag.name)"
													tile
												).p-1.pl-3.new_session_tag_autocomplete_selection
										v-col(cols=8 md=9)
											v-chip-group(column).mt-n2
												v-chip(
													v-for="(tag,i) in new_recipe.tags"
													:key="i"
													v-text="tag"
													@click="new_recipe.tags.splice(i,1)"
												)
									v-row
										v-col(
											cols=12
											sm=6
											md=4
											lg=3
											v-for="section in sections"
											:key="section.id"
										)
											v-textarea(
												v-model="new_recipe.sections[section.id]"
												:label="section.name"
												placeholder="#Markdown"
											)
										v-col(cols=12)
											v-sheet.p-10
												| Aperçu
												v-divider
												v-row
													v-col(
															v-for="section in sections"
															:key="section.id"
															cols=12
															md=6
															xl=3
														)
														v-card.p-2
															v-card-title {{section.name}}
															div(
																v-html="new_recipe.sections[section.id]"
																style="overflow-x:auto"
															).p-2
			v-row
				v-btn(
					outlined
					color="error"
					@click="closeCreateDialog"
				).m-2 annuler
				v-spacer
				v-btn(
					outlined
					color="primary"
					:loading="posting_new_recipe"
					@click="postItem"
				).m-2 ajouter

	//-
		MAIN EXERCISE INDEX VIEW
	v-col(cols="12")
		v-row
			v-col
				v-card
					v-card-title Recettes
					v-row.px-10
						v-col(cols=12)
							v-select(
								v-model="category_selected"
								:items="categories_selectable"
								label="Sélectionner la catégorie"
								@input="fetchData"
							)

		v-row(justify="space-around")
			v-col(cols="12")
				v-sheet(elevation=3).px-10
					v-row 
						v-col(cols=6 md=5)
							v-text-field(
								v-model="search"
								label="Rechercher"
								single-line
								hide-details
								@input="promptSearch"
							)
						v-spacer
						v-col(cols=4 md=3 lg=2)
							v-select(
								v-model="items_per_page"
								:items="per_page_selection"
								label="Par page"
								@input="fetchData"
							)
							v-btn(
								v-show="!is_create_dialog_visible"
								fab
								@click="showCreateDialog"
							).add-recipe-button
								v-icon mdi-plus
					v-sheet
						v-pagination(
							:value="current_page"
							:length="last_page"
							@input="changePage"
						)

					v-data-table(
						ref="table"
						:headers="headers"
						:items="recipes"
						:items-per-page="items_per_page"
						:server-items-length="total_item_count"
						:loading="loading_table_data"
						:search="search"
						@update:sort-by="changeSort"
						@update:sort-desc="changeAscending"
						show-expand
						:expanded.sync="items_expanded"
						@item-expanded="itemExpanded"
						hide-default-footer
					).mx-n10
						template(v-slot:expanded-item="{headers, item}")
							td(:colspan="headers.length" style="position:relative")
								v-overlay(
									absolute
									loading
									:value="item.isLoading"
								)
								v-row.py-1.pb-5
									v-col(
										cols=3
										style="height:120px"
									)
										v-img(
											:src="getRecipeImage(item)"
										)
									v-col(
										cols=6
									)
										v-card(
											v-for="section in item.sections"
											:key="section.pivot.id"
										).p-2.my-2
											v-card-title 
											div(
												v-html="section.pivot.content"
												style="overflow-x:auto"
											)
									v-col(cols=3) Tags&nbsp;
										v-btn(
											v-show="!tag_dialogs_shown[item.id]"
											icon
											x-small
											@click="tag_dialogs_shown[item.id]=true; updateTable()"
										)
											v-icon mdi-plus
										tag-dialog(
											:tag_url="'/admin/api/recipes/'+item.id+'/tags'"
											:show.sync="tag_dialogs_shown[item.id]"
											:ignore="item.tags"
											@close:dialog="tag_dialogs_shown[item.id]=false; updateTable()"
											@update:item="fetchItem(item)"
										)
										v-chip-group(column)
											v-chip(
												v-for="tag in item.tags"
												:key="tag.id"
											) {{tag.name}}&nbsp;
												v-btn(
													rounded
													max-height=16
													max-width=16
													min-width=16
													@click.stop="untagItem(item,tag.name)"
												)
													v-icon(x-small) mdi-close
						template(
							v-slot:item.actions="{item}"
						)
							v-icon.mr-2(
								small
								@click="editItem(item)"
							) edit
							v-icon(
								small
								@click="deleteItem(item)"
							) delete

						template(v-slot:footer)
							v-row
								v-col(v-show="!loading_table_data")
									v-text-field(disabled)
								v-col(v-show="loading_table_data")
									v-text-field(loading disabled)

					v-sheet
						v-pagination(
							:value="current_page"
							:length="last_page"
							@input="changePage"
						)
					
</template>
<script>
export default {
	data(){
		return{

			editing_item_id:0,

			tag_search_results:[],
			posting_new_recipe:false,
			new_recipe_tag_input:'',
			new_recipe:{
				name:'',
				description:'',
				preparation_time:'',
				cook_time:'',
				recipe_category_id:1,
				image:null,
				sections:[
					null,
					'',
					'',
					'',
					'',
				],
				tags:[],
			},
			new_recipe_rules:{
				name:[
					(v)=>{ return (!!v && v!='') || 'Nom est obligatoire'}
				]
			},

			sections:[
				{name:'Ingrédients', id:1},
				{name:'Préparation', id:2},
				{name:'Astuce de sissy', id:3},
				{name:'Informations Nutritionnelles', id:4},
			],

			recipe_categories:[
				{text:'Petits dej\' et brunchs', value: 1},
				{text:'Les classiques de sissy', value: 2},
				{text:'«chat meal» healthy', value: 3},
				{text:'Les exofit\'', value: 4},
				{text:'Collations healthy fit\'', value: 5},
				{text:'Desserts pour le plaisir', value: 6},
			],

			is_create_dialog_visible:false,

			categories_selectable:[
				{text:'Tous', value: 0},
				{text:'Petits dej\' et brunchs', value: 1},
				{text:'Les classiques de sissy', value: 2},
				{text:'«chat meal» healthy', value: 3},
				{text:'Les exofit\'', value: 4},
				{text:'Collations healthy fit\'', value: 5},
				{text:'Desserts pour le plaisir', value: 6},
			],
			category_selected:0,
			tag_dialogs_shown:{},
			items_expanded:[],

			search_debounce:0,
			search:'',
			loading_table_data:true,
			orderBy:'updated_at',
			ascending:false,
			items_per_page:25,
			current_page:1,
			last_page:1,
			total_item_count:0,
			per_page_selection:[5,10,25,50,100],
			headers:[
				{
					text:'ID',
					value:'id'
				},
				{
					text:'Nom',
					value:'name'
				},
				{
					text:'Descriptif',
					value:'description'
				},
				{
					text:'Actions',
					value:'actions'
				},
			],
			recipes:[
			]
		}
	},
	methods:{
		newRecipeDurationFormatted(key){
			let now=new Date();
			let minutes=Math.floor(this.new_recipe[key]/60);
			let seconds=this.new_recipe[key]%60;
			now.setMinutes(minutes);
			now.setSeconds(seconds);
			return now;
		},
		reverseRecipeFormat(seconds){
			let minutes=Math.floor(seconds/60).toString().padStart(2,'0')
			let remaining_seconds=(seconds-(60*minutes)).toString().padStart(2,'0')
			return `${minutes}:${remaining_seconds}`
		},
		fomatRecipeDuration(input,key){
			let [minutes,seconds] = input.split(':');
			minutes=parseInt(minutes);
			seconds=parseInt(seconds);
			this.new_recipe[key]=seconds+(minutes*60);
		},
		editItem(item){
			this.new_recipe=Object.assign({},item);
			this.new_recipe.sections=this.new_recipe.sections.reduce((carry,section)=>{
				carry[section.id]=section.pivot.content
				return carry
			},[])
			this.new_recipe.tags=this.new_recipe.tags.map((tag)=>tag.name);
			this.editing_item_id=item.id;
			this.showCreateDialog();
		},
		
		getRecipeImage(item){
			return '/admin/files?path=recipes/'+item.id+'/image/0_main_image.jpg';
		},
		
		promptTagAutocomplete(){
			axios.get('/admin/api/tags/autocomplete',{
				params:{
					search:this.new_recipe_tag_input,
					ignore:this.new_recipe.tags,
				}
			})
			.then((res)=>{
				this.tag_search_results=res.data;
			});
		},
		tagItem(tagName){
			this.posting_tag=true;
			axios.post(this.tag_url+'/'+tagName,{
				params:{
				}
			})
			.then((res)=>{
				this.$emit('update:item',res.data);
				this.input='';
				this.results=[];
				this.closeDialog();
			})
			.finally((res)=>{
				this.posting_tag=false;
			});
		},
		addTagToCreateDialog(tag){
			this.new_recipe.tags.push(tag);
			this.new_recipe_tag_input='';
			this.tag_search_results=[];
		},
		formatContent(content){
			if(typeof(content)!='string') return;
			return content.replace(/\r\n|\r|\n/g,"<br />");
		},
		showCreateDialog(){
			this.is_create_dialog_visible=true;
		},
		closeCreateDialog(){
			this.editing_item_id=0;
			this.is_create_dialog_visible=false;
			this.new_recipe={
				name:'',
				description:'',
				preparation_time:'',
				cook_time:'',
				recipe_category_id:1,
				image:null,
				sections:[
					null,
					'',
					'',
					'',
					'',
				],
				tags:[],
			};
		},

		updateTable(){
			this.$refs.table.$forceUpdate();
		},
		updateItem(oldItem,newItem){
			Object.assign(oldItem,newItem);
			this.updateTable();
		},
		itemExpanded(event){
			if (event.value){
				this.fetchItem(event.item);
			}
		},
		untagItem(item,tag){
			item.isLoading=true;
			axios.delete('/admin/api/recipes/'+item.id+'/tags/'+tag
			).finally(()=>{
				this.fetchItem(item);
			});
		},
		promptSearch(){
			window.clearTimeout(this.search_debounce);
			this.search_debounce=window.setTimeout(()=>{
				this.fetchData();
			},300);
		},
		changeSort(sort){
			this.orderBy=sort[0];
			this.fetchData();
		},
		changeAscending(ascending){
			this.ascending=!ascending[0];
			this.fetchData();
		},
		changePage(page){
			this.current_page=page;
			this.fetchData();
		},
		fetchData(){
			this.loading_table_data=true;
			axios.get('/admin/api/recipes',{
				params:{
					filters:[
						this.category_selected?{field:'category_id', value:this.category_selected}:{},
					],
					search:this.search,
					perPage:this.items_per_page,
					page:this.current_page,
					orderBy:this.orderBy,
					ascending:this.ascending,
				}}
			).then((res)=>{
				this.recipes=res.data.contents;
				this.total_item_count=res.data.total_item_count;
				this.current_page=res.data.current_page;
				this.last_page=res.data.last_page;
			}).finally(()=>{
				this.loading_table_data=false;
				this.$el.scrollIntoView({behaviour:'smooth'});
				this.items_expanded=[];
			});
		},
		fetchItem(item){
			item.isLoading=true;
			axios.get('/admin/api/recipes/'+item.id,{
				params:{
				}}
			).then((res)=>{
				Object.assign(item,res.data);
			}).finally(()=>{
				item.isLoading=false;
				this.updateTable();
			});
		},
		postItem(){
			this.posting_new_recipe=true;

			var form_data = new FormData();

			for ( var key in this.new_recipe ) {
					if (this.new_recipe[key]==null)
						form_data.append(key, '');
					else
						form_data.append(key, this.new_recipe[key]);
			}
			

			if(!this.editing_item_id){
				axios.post('/admin/api/recipes',form_data
				).then((res)=>{
					this.closeCreateDialog();
					this.fetchData();
				}).finally(()=>{
					this.posting_new_recipe=false;
				})
			}else{
				form_data.append('_method','patch')
				axios.post('/admin/api/recipes/'+this.editing_item_id,form_data
				).then((res)=>{
					this.closeCreateDialog();
					this.fetchData();
				}).finally(()=>{
					this.posting_new_recipe=false;
				})
			}
		},
		deleteItem(item){
			if (!window.confirm('Êtes-vous sûr de vouloir effectuer cette action ?')) return;
			item.isLoading=true;
			axios.delete('/admin/api/recipes/'+item.id,{
				params:{
				}}
			).finally(()=>{
				item.isLoading=false;
				this.fetchData();
			});
		}
	},
	created(){
		this.fetchData();
	}
}
</script>
<style lang="stylus" scoped>

.add-recipe-button
	position: fixed
	bottom: 50px;
	right: 50px
	z-index:1

.add-tag-field
	display: inline-block
	width: 80%

.add-tag-button
	display: inline-block
	position: absolute
	z-index: 1

.tag-search-results
	position: absolute
	width: 95%
	z-index: 1

.new_session_tag_autocomplete_selection
	cursor: pointer

.new_session_tag_autocomplete_selection:hover
	filter: invert(0.1)

</style>