<template lang="pug">

v-row

	//-
		CREATE NEW SESSION DIALOG
	v-dialog(
		v-model="is_create_dialog_visible"
		persistent
	)
		v-sheet.p-5
			v-overlay(
				absolute
				loading
				:value="posting_new_session"
			)
			v-card-title.ml-n8 {{editing_item_id?'Éditer':'Ajouter'}} Séance
			v-row
				v-col
					v-sheet
						v-row
							v-col(cols=12)
								v-form(
									ref="create_session_form"
									lazy-validation
								)
								v-sheet
									v-row
										v-col(cols=12 md=5)
											v-text-field(
												v-model="new_session.name"
												label="Nom"
												:rules="new_session_rules.name"
												required
											)
											v-text-field(
												v-model="new_session.title"
												label="Titre"
												required
											)
											v-text-field(
												v-model="new_session.description"
												label="Descriptif"
											)
											v-switch(
												v-model="new_session.is_bonus"
												label="bonus"
											)
											v-file-input(
												v-model="new_session.image"
												label="Portrait"
												required
												accept="image/*"
												append-icon="mdi-camera"
												prepend-icon=""
											)
										v-col(cols=12 md=7)
											v-row
												v-col(cols=12)
													v-text-field(
														v-model="new_session_exercise_input"
														label="Ajouter Exercice"
														:loading="loading_exercise_results"
														@input="promptExerciseAutocomplete"
														@focus="promptExerciseAutocomplete"
													).mt-n2.add-exercise-field
													v-card(
														:value="exercise_search_results.length"
													).exercise-search-results
														v-sheet(
															v-for="exercise in exercise_search_results"
															:key="exercise.id"
															v-text="exercise.name+' - ' +exercise.description"
															@click="addExerciseSetToSessionDialog(exercise)"
															tile
														).p-1.pl-3.new_session_exercise_autocomplete_selection
												v-col(
													cols=12
												).d-flex.flex-wrap
													v-card(
														v-for="(exercise_set,i) in new_session.exercise_sets"
														:key="exercise_set.temp_uid"
														@drop="dropIntoSet(exercise_set,$event)"
														@dragover="$event.preventDefault()"
														@dragstart="startDraggingSet(exercise_set,$event)"
														outlined
														draggable
													).m-1.cursor-grab.exercise_set_card
														select(
															v-model="exercise_set.name"
															label="set type"
															style="border-bottom:1px solid gainsboro"
														).m-1.overline
															option(value='') pas de set
															option(value='biset') biset
															option(value='triset') triset
															option(value='superset') superset
														v-icon(
															@click="new_session.exercise_sets.splice(i,1)"
															x-small
															style="cursor:pointer;position:absolute;right:0"
														).m-1 mdi-close
														v-container.d-flex.justify-content-between.flex-wrap
															v-card(
																v-for="(exercise_assignment,j) in exercise_set.exercise_assignments"
																@drop="dropIntoExercise(exercise_assignment,exercise_set,$event)"
																@dragover="$event.preventDefault()"
																@dragstart="startDraggingExercise(exercise_assignment,exercise_set,$event)"
																:key="exercise_assignment.temp_uid"
																draggable
																min-width="180"
																max-width="180"
															).m-1.d-flex.flex-wrap.cursor-grab.exercise_assignment_card
																v-card-text {{exercise_assignment.name}}
																v-icon(
																	@click="removeExerciseFromSet(j,exercise_set,i)"
																	x-small
																	style="cursor:pointer;position:absolute;right:0"
																).m-1 mdi-close
																div.m-3.d-flex.justify-content-between
																	v-text-field(
																		label="Reps"
																		v-model="exercise_assignment.reps"
																		style="width:60%"
																	)
																	v-text-field(
																		label="Tempo"
																		v-model="exercise_assignment.tempo"
																		style="width:35%"
																	)
																v-text-field(
																	label="Descriptif"
																	v-model="exercise_assignment.description"
																).m-3
			v-row
				v-btn(
					outlined
					color="error"
					@click="closeCreateDialog"
				).m-2 annuler
				v-spacer
				v-btn(
					outlined
					color="primary"
					:loading="posting_new_session"
					@click="postItem"
				).m-2 ajouter

	//-
		MAIN EXERCISE INDEX VIEW
	v-col(cols="12")
		v-row
			v-col
				v-card
					v-card-title Séances

		v-row(justify="space-around")
			v-col(cols="12")
				v-sheet(elevation=3).px-10
					v-row 
						v-col(cols=6 md=5)
							v-text-field(
								v-model="search"
								label="Rechercher"
								single-line
								hide-details
								@input="promptSearch"
							)
						v-spacer
						v-col(cols=4 md=3 lg=2)
							v-select(
								v-model="items_per_page"
								:items="per_page_selection"
								label="Par page"
								@input="fetchData"
							)
							v-btn(
								v-show="!is_create_dialog_visible"
								fab
								@click="showCreateDialog"
							).add-session-button
								v-icon mdi-plus
					v-sheet
						v-pagination(
							:value="current_page"
							:length="last_page"
							@input="changePage"
						)

					v-data-table(
						ref="table"
						:headers="headers"
						:items="sessions"
						:items-per-page="items_per_page"
						:server-items-length="total_item_count"
						:loading="loading_table_data"
						:search="search"
						@update:sort-by="changeSort"
						@update:sort-desc="changeAscending"
						hide-default-footer
					).mx-n10
						template(
							v-slot:item.actions="{item}"
						)
							v-icon.mr-2(
								small
								@click="editItem(item)"
							) edit
							v-icon(
								small
								@click="deleteItem(item)"
							) delete

						template(v-slot:footer)
							v-row
								v-col(v-show="!loading_table_data")
									v-text-field(disabled)
								v-col(v-show="loading_table_data")
									v-text-field(loading disabled)

					v-sheet
						v-pagination(
							:value="current_page"
							:length="last_page"
							@input="changePage"
						)
					
</template>
<script>
export default {
	data(){
		return{

			dragging_from:{},
			dragging_object:{},

			editing_item_id:0,

			exercise_search_debounce:0,
			loading_exercise_results:false,

			posting_new_session:false,
			new_session_exercise_input:'',
			new_session:{
				name:'',
				description:'',
				content:'',
				title:'',
				exercise_sets:[],
				is_bonus:false,
				image:null,
			},
			new_session_rules:{
				name:[
					(v)=>{ return (!!v && v!='') || 'Nom est obligatoire'}
				]
			},
			exercise_search_results:[],

			is_create_dialog_visible:false,

			tag_dialogs_shown:{},

			items_expanded:[],
			search_debounce:0,
			search:'',
			loading_table_data:true,
			orderBy:'updated_at',
			ascending:false,
			items_per_page:25,
			current_page:1,
			last_page:1,
			total_item_count:0,
			per_page_selection:[5,10,25,50,100],
			headers:[
				{
					text:'ID',
					value:'id'
				},
				{
					text:'Nom',
					value:'name'
				},
				{
					text:'Titre',
					value:'title'
				},
				{
					text:'Descriptif',
					value:'description'
				},
				{
					text:'Actions',
					value:'actions'
				},
			],
			sessions:[
			]
		}
	},
	methods:{
		removeExerciseFromSet(exercise_index,exercise_set,exercise_set_index){
			if (exercise_set.exercise_assignments.length==1)
				this.new_session.exercise_sets.splice(exercise_set_index,1)
			else
				exercise_set.exercise_assignments.splice(exercise_index,1)
		},
		dropIntoExercise(exercise_assignment,exercise_set,event){
			let type_dragged=event.dataTransfer.getData('type_dragged')
			if (type_dragged!='exercise')
				return
			event.stopImmediatePropagation()
			if (exercise_assignment==this.dragging_object)
				return
			let card=event.path.filter(element=>{
				return (
					('classList' in element) &&
					element.classList.contains('exercise_assignment_card')
				)
			})[0]
			let recipient_index=exercise_set.exercise_assignments.indexOf(exercise_assignment)
			let card_width=card.offsetWidth
			let drop_position=event.offsetX
			let drop_after=Math.floor(drop_position/(card_width/2))

			this.moveExerciseIntoFrom(
				this.dragging_object,
				this.dragging_from,
				exercise_set,
				recipient_index+drop_after
			)
		},
		dropIntoSet(exercise_set,event){

			let type_dragged=event.dataTransfer.getData('type_dragged')
			if (type_dragged=='exercise'){
				
				this.moveExerciseIntoFrom(
					this.dragging_object,
					this.dragging_from,
					exercise_set
				)
			}else if (type_dragged=='exercise_set'){
				
				let card=event.path.filter(element=>{
					return (
						('classList' in element) &&
						element.classList.contains('exercise_set_card')
					)
				})[0]
				let payload_index=this.new_session.exercise_sets.indexOf(this.dragging_object)
				let recipient_index=this.new_session.exercise_sets.indexOf(exercise_set)
				let card_width=card.offsetWidth
				let card_height=card.offsetHeight
				let drop_x=event.offsetX
				let drop_y=event.offsetY
				let offsetX=(drop_x/card_width)-0.5
				let offsetY=(drop_y/card_height)-0.5
				let drop_after=
					Math.abs(offsetX)>Math.abs(offsetY)?
						Math.floor(offsetX+1):
						Math.floor(offsetY+1)
				
				this.shuffleSet(payload_index,recipient_index+drop_after)
			}
		},
		startDraggingExercise(exercise,exercise_set,event){
			event.stopImmediatePropagation()
			event.dataTransfer.effectAllowed='move'
			event.dataTransfer.setData('type_dragged','exercise')
			this.dragging_object=exercise
			this.dragging_from=exercise_set
		},
		startDraggingSet(exercise_set,event){
			event.stopImmediatePropagation()
			event.dataTransfer.effectAllowed='move'
			event.dataTransfer.setData('type_dragged','exercise_set')
			this.dragging_object=exercise_set
		},
		shuffleExercise(exercise_set,index_from,index_to){
			
			if (
				index_to===null ||
				index_to>=exercise_set.exercise_assignments.length
			)
				index_to=exercise_set.exercise_assignments.length-1

			if (
				index_from==index_to ||
				exercise_set.exercise_assignments.length==1
			)
				return
			

			let temp=exercise_set.exercise_assignments[index_to]
			
			exercise_set.exercise_assignments.splice(
				index_to,
				1,
				exercise_set.exercise_assignments[index_from]
			)
			
			exercise_set.exercise_assignments.splice(
				index_from,
				1,
				temp
			)

			this.refreshOrderIndexes()
		},
		shuffleSet(index_from,index_to){

			if(index_from==index_to)
				return

			if (index_to>=this.new_session.exercise_sets.length)
				index_to=this.new_session.exercise_sets.length-1
			
			let temp=this.new_session.exercise_sets[index_to]
			
			this.new_session.exercise_sets.splice(
				index_to,
				1,
				this.new_session.exercise_sets[index_from]
			)
			
			this.new_session.exercise_sets.splice(
				index_from,
				1,
				temp
			)

			this.refreshOrderIndexes()
		},
		moveExerciseIntoFrom(exercise,from_set,to_set,index=null){

			
			let index_in_from=from_set.exercise_assignments.indexOf(exercise)
			let index_of_set=this.new_session.exercise_sets.indexOf(from_set)

			if (from_set===to_set)
				return this.shuffleExercise(from_set,index_in_from,index)

			from_set.exercise_assignments.splice(index_in_from,1)
			if (index===null)
				to_set.exercise_assignments.push(exercise)
			else{
				to_set.exercise_assignments.splice(index,0,exercise)
			}

			if (from_set.exercise_assignments.length==0) 
				this.new_session.exercise_sets.splice(index_of_set,1)

			this.refreshOrderIndexes()
		},

		refreshOrderIndexes(){
			for (let i=0; i<this.new_session.exercise_sets.length; i++){
				
				this.new_session.exercise_sets[i].order_index=i+1
				for (let j=0; j<this.new_session.exercise_sets[i].exercise_assignments.length; j++){

					this.new_session.exercise_sets[i].exercise_assignments[j].order_index=j+1
				}
			}
		},

		editItem(item){
			this.new_session=Object.assign({},item);
			this.editing_item_id=item.id;
			this.showCreateDialog();
		},
		
		promptExerciseAutocomplete(){

			let searchExercises=()=>{

				this.loading_exercise_results=true;

				axios.get('/admin/api/exercises/autocomplete',{
					params:{
						search:this.new_session_exercise_input
					}
				})
				.then((res)=>{
					this.exercise_search_results=res.data;
				})
				.finally(()=>{
					this.loading_exercise_results=false;
				});

			}

			window.clearTimeout(this.exercise_search_debounce);
			this.exercise_search_debounce=window.setTimeout(searchExercises,200);

		},
		tagItem(tagName){
			this.posting_tag=true;
			axios.post(this.tag_url+'/'+tagName,{
				params:{
				}
			})
			.then((res)=>{
				this.$emit('update:item',res.data);
				this.input='';
				this.results=[];
				this.closeDialog();
			})
			.finally((res)=>{
				this.posting_tag=false;
			});
		},

		addExerciseSetToSessionDialog(exercise){
			let exercise_assignment=Object.assign({},exercise)
			exercise_assignment.exercise_id=exercise.id
			exercise_assignment.order_index=1
			exercise_assignment.reps=''
			exercise_assignment.tempo=''
			exercise_assignment.description=''
			delete exercise.id
			let newset={
				is_dragging:false,
				temp_uid:window.uuid(),
				order_index:this.new_session.exercise_sets.length?
				this.new_session.exercise_sets[this.new_session.exercise_sets.length-1].order_index+1:
				1,
				name:'',
				description:'',
				exercise_assignments:[exercise_assignment]
			};
			this.new_session.exercise_sets.push(newset)
			this.new_session_exercise_input='';
			this.exercise_search_results=[];
		},
		addExerciseToSessionDialog(exercise){
			if (!this.new_session.exercises) this.new_session.exercises=[];
			this.new_session.exercises.push(Object.assign({},exercise));
			this.new_session_exercise_input='';
			this.exercise_search_results=[];
			this.new_session.content+=`\n[${exercise.name}](/exercises/${exercise.id}) : `;
		},
		formatContent(content){
			if(typeof(content)!='string') return;

			let converter=new window.showdown.Converter({'simpleLineBreaks':'true','tables':'true','strikethrough':'true'});

			return converter.makeHtml(content);

		},
		showCreateDialog(){
			this.is_create_dialog_visible=true;
		},
		closeCreateDialog(){
			this.editing_item_id=0;
			this.is_create_dialog_visible=false;
			this.new_session={
				name:'',
				description:'',
				content:'',
				title:'',
				exercise_sets:[],
				is_bonus:false,
				image:null,
			};
		},

		updateTable(){
			this.$refs.table.$forceUpdate();
		},
		updateItem(oldItem,newItem){
			Object.assign(oldItem,newItem);
			this.updateTable();
		},
		itemExpanded(event){
			if (event.value){
				this.fetchItem(event.item);
			}
		},
		promptSearch(){
			window.clearTimeout(this.search_debounce);
			this.search_debounce=window.setTimeout(()=>{
				this.fetchData();
			},300);
		},
		changeSort(sort){
			this.orderBy=sort[0];
			this.fetchData();
		},
		changeAscending(ascending){
			this.ascending=!ascending[0];
			this.fetchData();
		},
		changePage(page){
			this.current_page=page;
			this.fetchData();
		},
		fetchData(){
			this.loading_table_data=true;
			axios.get('/admin/api/sessions',{
				params:{
					filters:[
						this.category_selected?{field:'category_id', value:this.category_selected}:{},
					],
					search:this.search,
					perPage:this.items_per_page,
					page:this.current_page,
					orderBy:this.orderBy,
					ascending:this.ascending,
				}}
			).then((res)=>{
				this.sessions=res.data.contents;
				this.total_item_count=res.data.total_item_count;
				this.current_page=res.data.current_page;
				this.last_page=res.data.last_page;
			}).finally(()=>{
				this.loading_table_data=false;
				this.$el.scrollIntoView({behaviour:'smooth'});
				this.items_expanded=[];
			});
		},
		fetchItem(item){
			item.isLoading=true;
			axios.get('/admin/api/sessions/'+item.id,{
				params:{
				}}
			).then((res)=>{
				Object.assign(item,res.data);
				for (let exercise_set of item.exercise_sets){
					exercise_set.temp_uid=window.uuid()
					for (let exercise_assignment of exercise_set.exercise_assignments){
						exercise_assignment.temp_uid=window.uuid()
						exercise_assignment.name=exercise_assignment.exercise.name
						delete exercise_assignment.exercise
					}
				}
			}).finally(()=>{
				item.isLoading=false;
				this.updateTable();
			});
		},
		postItem(){
			this.posting_new_session=true

			let form_data = new FormData()

			buildFormData(form_data,this.new_session)

			if(!this.editing_item_id){
				axios.post('/admin/api/sessions',form_data
				).then((res)=>{
						this.closeCreateDialog();
						this.fetchData();

				}).finally(()=>{
					this.posting_new_session=false;
				})
			}else{
				form_data.append('_method','PATCH')
				axios.post('/admin/api/sessions/'+this.editing_item_id,form_data
				).then((res)=>{
						this.closeCreateDialog();
						this.fetchData();

				}).finally(()=>{
					this.posting_new_session=false;
				})
			}
		},
		deleteItem(item){
			if (!window.confirm('Êtes-vous sûr de vouloir effectuer cette action ?')) return;
			item.isLoading=true;
			axios.delete('/admin/api/sessions/'+item.id,{
				params:{
				}}
			).finally(()=>{
				item.isLoading=false;
				this.fetchData();
			});
		}
	},
	created(){
		this.fetchData();
	}
}
</script>
<style lang="stylus" scoped>

.add-session-button
	position: fixed
	bottom: 50px;
	right: 50px
	z-index:1

.add-exercise-button
	display: inline-block
	position: absolute

.exercise-search-results
	position: absolute
	width: 95%
	z-index: 1

.new_session_exercise_autocomplete_selection
	cursor: pointer

.new_session_exercise_autocomplete_selection:hover
	filter: invert(0.1)

.cursor-grab
	cursor: grab

</style>