<template lang="pug">

	v-row
		//-
			CREATE NEW SUBSCRIPTION DIALOG
		v-dialog(
			v-model="is_create_dialog_visible"
		)
			v-sheet.p-5
				v-overlay(
					absolute
					loading
					:value="posting_new_subscription"
				)
				v-card-title Ajouter Abonnement
				v-form.row
					.col.col-12.col-lg-6
						v-autocomplete(
							v-model = "new_subscription.user_id"
							:items = "user_search_results_formatted"
							:search-input.sync = "user_search_input"
							:loading = "search_users_is_loading"
							cache-items
							clearable
							item-text = "text"
							item-value = "id"
							label = "Email / Nom de utilisateur"
							required
						)
						select(v-model = "new_subscription.gateway_id" class="gateway-dropdown form-control")
							option(:value="gateway.id" v-for="gateway in gateways" :key="gateway.id") {{ gateway.label }}
					.col.col-12.col-lg-6
						v-autocomplete(
							ref='offer_autocomplete'
							v-model = "new_subscription.offer_id"
							:items = "offer_search_results_formatted"
							:search-input.sync="offer_search_input"
							:loading = "search_offers_is_loading"
							:disabled = "!new_subscription.user_id"
							cache-items
							clearable
							item-text = "text"
							item-value = "id"
							label = "Offre"
							required
						)

						v-text-field(
							v-model = "new_subscription.token"
							label = "Gateway Token"
							:disabled="!new_subscription.gateway_id"
							required
						)
					.col.col-12.col-lg-6
						v-switch(
							v-model = "new_subscription.is_legacy"
							class = "ma-4"
							label = "Legacy"
							v-if = "new_subscription.gateway_id == 2"
						) 
 
				v-row
					v-col(cols = 3)
						v-btn(
							outlined
							color = "error"
							type = "button"
							@click = "closeCreateDialog"
							style = "position:absolute;"
						) annuler
					v-spacer
					v-col(cols = 3)
						v-btn(
							@click = "postItem"
							outlined
							color = "primary"
							type = "submit"
							:loading = "posting_new_subscription"
							style = "position:absolute;right:13px;"
						) ajouter
		//-
			EDIT SUBSCRIPTION DIALOG
		v-dialog(
			v-model="is_edit_dialog_visible"
		)
			v-sheet.p-5
				v-overlay(
					absolute
					loading
					:value="posting_new_subscription"
				)
				v-card-title Éditer Abonnement
				p Status: {{ edit_subscription.is_active ? 'Active' : "Inactive" }}
				v-form.row
					.col.col-12.col-lg-6
						v-autocomplete(
							ref='user_autocomplete'
							v-model = "edit_subscription.user_id"
							:items = "user_search_results_formatted"
							:search-input.sync = "user_search_input"
							:loading = "search_users_is_loading"
							cache-items
							clearable
							item-text = "text"
							item-value = "id"
							label = "Email / Nom de utilisateur"
							required
						)
						v-text-field(
							v-model = "edit_subscription.gateway_name"
							label = "Gateway "
							:disabled="true"
							required
						)
						
					.col.col-12.col-lg-6
						v-autocomplete(
							ref='offer_autocomplete'
							v-model = "edit_subscription.offer_id"
							:items = "offer_search_results_formatted"
							:search-input.sync="offer_search_input"
							:loading = "search_offers_is_loading"
							:disabled = "!edit_subscription.user_id"
							cache-items
							clearable
							item-text = "text"
							item-value = "id"
							label = "Offre"
							required
						)

						v-text-field(
							v-model = "edit_subscription.token"
							label = "Gateway Token"
							:disabled="true"
							required
						)
					.col.col-12.col-lg-6
						v-switch(
							v-model = "edit_subscription.is_legacy"
							class = "ma-4"
							label = "Legacy"
							v-if = "edit_subscription.gateway_id == 2"
						) 
				v-row(class="justify-content-center")
					v-col(cols="5"  v-if="subscription_data && subscription_data.transactions && subscription_data.transactions.length > 0")
						h6 Transactions
						v-simple-table
							template(v-slot:default)
								thead
									tr
										th(class="text-left") Transaction number
										th(class="text-center") Amount
								tbody
									tr(v-for="transaction in subscription_data.transactions" :key="transaction.gateway_token")
										td {{ transaction.gateway_token }}
										td(class="text-center") {{(new Intl.NumberFormat('fr',{minimumFractionDigits:2})).format(transaction.net_amount/100)}}
					v-col(cols="1")
					v-col()
						h6 Purchases
						v-simple-table(cols="6" v-if="edit_subscription.purchases && edit_subscription.purchases.length > 0")
							template(v-slot:default)
								thead
									tr
										th(class="text-left") Transaction number
										th(class="text-center") Effective on
										th(class="text-center") Expires on
										th(class="text-right") Actions
								tbody
									tr(v-for="(purchase, index) in edit_subscription.purchases" :key="purchase.transaction_number")
										td {{ purchase.transaction_number }}
										td(class="text-center") {{ purchase.start_date }}
										td(class="text-center") {{ purchase.end_date }}
										td(class="text-right")
											v-btn(text icon @click="editPurchase(purchase.transaction_number, index)")
												v-icon(small) edit
											v-btn(text icon color="red" @click="removePurchase(purchase.transaction_number, index)")
												v-icon(small) mdi-delete

						p(class="mt-5 pt-5" v-if="edit_subscription.transactions && edit_subscription.transactions.length > 0") Add Purchases
						v-form.row(v-if="edit_subscription.transactions && edit_subscription.transactions.length > 0")
							.col-lg-4
								select(v-model = "new_purchase.transaction_number" class="gateway-dropdown form-control")
									option(v-for="transaction in edit_subscription.transactions" :key="transaction.id" :value="transaction.gateway_token") {{ transaction.gateway_token }}
							.col-lg-4
								v-menu(
									ref="menu1"
									v-model="new_purchase.menu1"
									:close-on-content-click="false"
									:return-value.sync="new_purchase.start_date"
									transition="scale-transition"
									offset-y
									min-width="290px"
								)
									template(v-slot:activator="{ on }")
										v-text-field(
											v-model="new_purchase.start_date"
											label="Start Date"
											prepend-icon="event"
											readonly
											v-on="on"
										)
									v-date-picker(v-model="new_purchase.start_date" no-title scrollable)
										v-spacer
										v-btn(text color="primary" @click="new_purchase.menu1 = false") Cancel
										v-btn(text color="primary" @click="$refs.menu1.save(new_purchase.start_date)") Ok
							.col-lg-4
								v-menu(
									ref="menu2"
									v-model="new_purchase.menu2"
									:close-on-content-click="false"
									:return-value.sync="new_purchase.end_date"
									transition="scale-transition"
									offset-y
									min-width="290px"
								)
									template(v-slot:activator="{ on }")
										v-text-field(
											v-model="new_purchase.end_date"
											label="End Date"
											prepend-icon="event"
											readonly
											v-on="on"
										)
									v-date-picker(v-model="new_purchase.end_date" no-title scrollable)
										v-spacer
										v-btn(text color="primary" @click="new_purchase.menu2 = false") Cancel
										v-btn(text color="primary" @click="$refs.menu2.save(new_purchase.end_date)") Ok

							v-btn(@click="addPurchase") Add
				v-row
					v-col(cols = 3)
						v-btn(
							outlined
							color = "error"
							type = "button"
							@click = "closeCreateDialog"
							style = "position:absolute;"
						) annuler
					v-spacer
					v-col(cols = 3)
						v-btn(
							@click = "upateSubscription"
							outlined
							color = "primary"
							type = "submit"
							:loading = "posting_new_subscription"
							style = "position:absolute;right:13px;"
						) editer
	
		v-col(cols="12")

			v-col(cols="12")
				v-card
					v-card-title Abonnements
						v-spacer
						v-col(cols=2)
							v-select(
								v-model="items_per_page"
								:items="per_page_selection"
								label="Per page"
							)
							v-btn(
								v-show="!is_create_dialog_visible"
								fab
								@click="showCreateDialog"
							).add-offer-button
								v-icon mdi-plus

						v-col(cols=5) 
							v-text-field(
								v-model="search"
								label="Rechercher"
								single-line
								hide-details
								@input="promptSearch"
							).pb-5
							
					v-pagination(
						:value="current_page"
						:length="last_page"
						@input="changePage"
					)

					v-data-table(
						:headers="headers"
						:items="subscriptions"
						:items-per-page="items_per_page"
						:server-items-length="total_item_count"
						:loading="loading_table_data"
						:search="search"
						@update:sort-by="changeSort"
						@update:sort-desc="changeAscending"
						show-expand
						:expanded.sync="items_expanded"
						@item-expanded="itemExpanded"
						hide-default-footer
						ref="table"
					)
						template(
								v-slot:item.actions="{item}"
							)
							v-icon(
								small
								@click="getSubscription(item.id)"
							) edit

						template(v-slot:item.subscribed_on="{item}")
							| {{item.subscribed_on ? new Intl.DateTimeFormat('fr-FR').format(new Date(item.subscribed_on)) : ''}}
						template(v-slot:item.next_payment_date="{item}")
							| {{item.next_payment_date ? new Intl.DateTimeFormat('fr-FR').format(new Date(item.next_payment_date)) : ''}}
						template(v-slot:item.cancelled_on="{item}")
							| {{item.cancelled_on ? new Intl.DateTimeFormat('fr-FR').format(new Date(item.cancelled_on)) : ''}}
						template(v-slot:item.is_active="{item}")
							v-icon {{item.is_active?'mdi-check':'mdi-close'}}
						template(v-slot:expanded-item="{headers, item}")
							td(:colspan="headers.length" style="position:relative")
								v-overlay(
									absolute
									loading
									:value="item.isLoading"
								)
								v-row
									v-col(
										cols=12
									)
										div.d-flex.justify-content-between
											h6 Transactions
											v-pagination.justify-content-end(
												v-if="item.transactions"
												:value="item.transactions.current_page"
												:length="item.transactions.last_page"
												@input="changePageExpanded($event,item,'transactions')"
											)
										v-simple-table(
											v-if="item.transactions"
										)
											thead
												tr
													th.text-left ID
													th.text-right Montant
													th.text-left ID d'abonnement
													th.text-right Dé
													th.text-right Statut
											tbody
												tr(
													v-for="transaction in item.transactions.items"
													:key="transaction.id"
												)
													td {{transaction.id}}
													td.text-right {{(new Intl.NumberFormat('fr',{minimumFractionDigits:2})).format(transaction.net_amount/100)}} €
													td {{transaction.subscription_id}}
													td.text-right {{moment(transaction.created_at).format('D/M/Y')}}
													td.text-right {{transaction.payment_status}}

					v-pagination(
						:value="current_page"
						:length="last_page"
						@input="changePage"
					)


</template>
<script>
export default {
	data(){
		return{
			
			editing_item_id:0,

			items_expanded:[],

			is_create_dialog_visible: false,
			is_edit_dialog_visible: false,
			posting_new_subscription: false,

			user_search_debounce:null,
			user_search_input:null,
			user_search_results:[],
			search_users_is_loading: false,

			user_search_debounce:null,
			offer_search_input:null,
			offer_search_results:[],
			search_offers_is_loading: false,

			new_subscription:{
				user_id: null,
				offer_id: null,
				gateway_id: null,
				is_legacy: false,
				token: null,
				start_date: new Date().toISOString().substr(0, 10),
			},

			edit_subscription:{
				id: null,
				user_id: null,
				offer_id: null,
				gateway_id: null,
				gateway_name: "",
				is_legacy: false,
				token: null,
				start_date: new Date().toISOString().substr(0, 10),
				transactions: [],
				purchases: []
			},

			subscription_data: {},

			
			new_purchase: {
				transaction_number: null,
				menu1: false,
				start_date: new Date().toISOString().substr(0, 10),
				menu2: false,
				end_date: new Date().toISOString().substr(0, 10),
			},

			offer_data:{},
			start_date: false,

			searchDebounce:0,
			search:'',
			loading_table_data:true,
			orderBy:null,
			ascending:false,
			items_per_page:25,
			current_page:1,
			last_page:1,
			total_item_count:0,
			per_page_selection:[5,10,25,50,100],
			headers:[
				{
					text:'ID',
					value:'id'
				},
				{
					text:'Email',
					value:'user.email'
				},
				{
					text:'Offre',
					value:'offer.name'
				},
				{
					text:'Gateway',
					value:'gateway.name'
				},
				{
					text:'Token',
					value:'gateway_token'
				},
				{
					text:'Du',
					value:'subscribed_on'
				},
				{
					text:'Prochain paiement',
					value:'next_payment_date'
				},
				{
					text:'Cancelled',
					value:'cancelled_on'
				},
				{
					text:'Actif',
					value:'is_active',
				},
				{
					text:'Actions',
					value:'actions',
				},
			],
			subscriptions:[
			],
			gateways: [
				{ id: 1, label: "Stripe", disabled: false },
				{ id: 2, label: "Paypal", disabled: false },
				{ id: 3, label: "Appstore" },
				{ id: 4, label: "Playstore" }
			]
		}
	},
	computed:{
		user_search_results_formatted:function(){
			if (!this.user_search_results)
				return

			return this.user_search_results.map((user)=>{

				let text = [
					user.email,
					' (',
					user.username,
					') ',
					user.surname,
					', ',
					user.name
				].join('');

				return {
					id: user.id,
					text
				}
			})
		},
		offer_search_results_formatted:function(){
			return this.offer_search_results.map((offer)=>{

				let text = [
					offer.name,
					' - ',
					offer.title,
				].join('');

				return {
					id: offer.id,
					text,
					offer,
				}
			})
		},
	},
	watch:{
		items_per_page(){
			this.fetchData();
		},
		user_search_input(search){
			if (!search)
				return
			console.log(search)
			window.clearTimeout(this.user_search_debounce)
			this.user_search_debounce = window.setTimeout(()=>this.promptUserAutocomplete(search),300)
		},
		offer_search_input(search){
			if (!search)
				return
			window.clearTimeout(this.offer_search_debounce)
			this.offer_search_debounce = window.setTimeout(()=>this.promptOfferAutocomplete(search),300)
			if (this.$refs.offer_autocomplete.selectedItem) {
				let selected_offer = this.$refs.offer_autocomplete.selectedItem.offer;
				if (selected_offer.is_stripe_available == false) {
					this.gateways[0].disabled = true;
				} else if (selected_offer.is_paypal_available == false) {
					this.gateways[1].disabled = true;
				} else if (!selected_offer.playstore_id) {
					this.gateways[2].disabled = true;
				}
			} else {
				this.gateways.map(gateway => {
					return { id: gateway.id, label: gateway.label, disabled: false };
				});
			}
		},
	},
	methods:{
		promptUserAutocomplete(search){
			if(!search) return
			this.search_users_is_loading = true;
			axios.get('/admin/api/users/autocomplete',{
				params:{
					search
				}
			})
			.then((res)=>{
				this.user_search_results=res.data;
			})
			.finally(()=>{
				this.search_users_is_loading=false;
			})
		},
		promptOfferAutocomplete(search){
			if(!search) return
			this.search_offers_is_loading = true;
			axios
				.get(`/admin/api/offers/availableForUser/${this.new_subscription.user_id}`,{
					params:{
						search,
						recurring:true
					}
				})
				.then((res)=>{
					this.offer_search_results=res.data;
				})
				.finally(()=>{
					this.search_offers_is_loading=false;
				})
		},
		updateTable(){
			this.$refs.table.$forceUpdate();
		},
		itemExpanded(event){
			if (event.value){
				this.fetchItem(event.item);
			}
		},
		editItem(item){
			this.new_offer = Object.assign({},item);
			this.editing_item_id = item.id;
			this.showCreateDialog();
		},
		showCreateDialog(){
			this.is_create_dialog_visible=true;
		},
		closeCreateDialog(){
			this.editing_item_id=0;
			if (this.is_create_dialog_visible == true) {
				this.is_create_dialog_visible=false;
			}else if (this.is_edit_dialog_visible == true) {
				this.is_edit_dialog_visible=false;
			}
			this.new_subscription={
				user_id: null,
				offer_id: null,
				token: null,
			};
			this.fetchData();
			this.clearEditSubscriptionState()
		},
		postItem(){
			this.posting_new_subscription = true
			axios
				.post('/admin/api/subscription', this.new_subscription)
				.then(res => {
					this.is_create_dialog_visible = false;
					this.clearForm()
					return res.data;
				}).then(id => {
					if (id) {
						this.getSubscription(id)
					}
				}) 
				.catch(err => {
					console.log(err)
				}).finally(() => {
					this.posting_new_subscription = false
				})
		},
		getSubscription(id) {
			this.is_edit_dialog_visible = true;
			this.posting_new_subscription = false
			axios
				.get(`/admin/api/subscription/edit/${id}`)
				.then(res => {
					this.subscription_data = res.data
					this.user_search_results.push(res.data.user)
					this.offer_search_results.push(res.data.offer)
					this.edit_subscription = {
						id: parseInt(res.data.id),
						user_id: parseInt(res.data.user_id),
						offer_id: parseInt(res.data.offer_id),
						gateway_id: parseInt(res.data.gateway_id),
						gateway_name: res.data.gateway.name,
						is_legacy: res.data.is_legacy == 0 ? false : true,
						token: res.data.gateway_token,
						is_active: res.data.is_active ? true : false,
						transactions: res.data.transactions.filter(transaction => {
							return transaction.purchase == null
						}),
						purchases: res.data.transactions.filter(transaction => {
							return transaction.purchase != null
						}).map(transaction => {
							return {
								id: transaction.purchase.id,
								transaction_number: transaction.gateway_token,
								start_date: this.moment(transaction.purchase.effective_on).format('YYYY-MM-DD'),
								end_date: this.moment(transaction.purchase.expires_on).format('YYYY-MM-DD')
							}
						}),
						offer: {
							...res.data.offer
						}
					}
				})
				.catch(err => {
					console.log(err)
				}).finally(() => {
					this.clearAddPurchaseForm()
				})
		},
		upateSubscription(){
			this.posting_new_subscription = true
			let id = this.edit_subscription.id
			axios
				.put(`/admin/api/subscription/${id}`, this.edit_subscription)
				.then(res => {
					this.closeCreateDialog()
				}).catch(err => {
					console.log(err)
				}).finally(() => {
					this.posting_new_subscription = false
				})
		},
		setDefaultStartDate() {
			if (this.edit_subscription && this.edit_subscription.purchases.length > 0) {
				let end_dates = this.edit_subscription.purchases.map(purchase => {
					if (purchase.end_date) {
						return new Date(purchase.end_date)
					}
				})
				this.new_purchase.start_date = this.moment(Math.max.apply(null,end_dates)).format('YYYY-MM-DD')
				this.new_purchase.end_date = this.moment(this.new_purchase.start_date).add(this.edit_subscription.offer.duration, "months").format('YYYY-MM-DD')
			}
		},
		addPurchase(){
			if (this.new_purchase.transaction_number) {
				let purchase_copy = Object.assign({}, this.new_purchase)
				this.edit_subscription.purchases.push(purchase_copy)
				this.clearAddPurchaseForm()
				
				let index = this.edit_subscription.transactions.filter(x => {
					return x.transaction_number == purchase_copy.transaction_number 
				}).indexOf(purchase_copy.transaction_number)
				this.edit_subscription.transactions.splice(index, 1);
			}
		},
		editPurchase(transaction_number, index) {
			if (this.new_purchase.transaction_number != null) {
				let purchase_copy = Object.assign({}, this.new_purchase)
				this.edit_subscription.purchases.push(purchase_copy)
			}
			let purchase = this.edit_subscription.purchases.find(obj => obj.transaction_number == transaction_number);
			this.new_purchase =  purchase;

			this.edit_subscription.purchases.splice(index, 1);
			this.edit_subscription.transactions.push({gateway_token: transaction_number})
		},
		removePurchase(transaction_number, index){
			this.edit_subscription.transactions.push({gateway_token: transaction_number})
			this.edit_subscription.purchases.splice(index, 1)
			return
		},
		clearAddPurchaseForm(){
			this.new_purchase.transaction_number= null
			this.new_purchase.menu1= false
			this.new_purchase.menu2= false
			this.setDefaultStartDate()
		},
		clearEditSubscriptionState(){
			this.edit_subscription.id = null
			this.edit_subscription.user_id = null
			this.edit_subscription.offer_id = null
			this.edit_subscription.gateway_id = null
			this.edit_subscription.is_legacy = false
			this.edit_subscription.token = null
			this.edit_subscription.start_date = null
		},
		clearForm() {
			this.new_subscription.user_id = null;
			this.new_subscription.offer_id = null;
			this.new_subscription.gateway_id = null;
			this.new_subscription.is_legacy = null;
			this.new_subscription.token = null;
			this.new_subscription.start_date = new Date().toISOString().substr(0, 10)
		},
		fetchItem(item){
			item.isLoading=true;
			axios.get('/admin/api/subscriptions/'+item.id,{params:{
				page_subscriptions:item.subscriptions?item.subscriptions.current_page:1,
				page_transactions:item.transactions?item.transactions.current_page:1,
			}})
			.then((res)=>{
				Object.assign(item,res.data);
			}).finally(()=>{
				item.isLoading=false;
				this.updateTable();
			});
		},
		promptSearch(){
			window.clearTimeout(this.searchDebounce);
			this.searchDebounce=window.setTimeout(()=>{
				this.fetchData();
			},300);
		},
		changeSort(sort){
			this.orderBy=sort[0];
			this.fetchData();
		},
		changeAscending(ascending){
			this.ascending=!ascending[0];
			this.fetchData();
		},
		changePageExpanded(page,item,relation){
			item[relation].current_page++
			this.fetchItem(item)
		},
		changePage(page){
			this.current_page=page;
			this.fetchData();
		},
		fetchData(){
			this.loading_table_data=true;
			axios.get('/admin/api/subscriptions',{
				params:{
					filters:[
					],
					search:this.search,
					perPage:this.items_per_page,
					page:this.current_page,
					orderBy:this.orderBy,
					ascending:this.ascending,
				}}
			).then((res)=>{
				this.subscriptions=res.data.contents;
				this.total_item_count=res.data.total_item_count;
				this.current_page=res.data.current_page;
				this.last_page=res.data.last_page;
			}).finally(()=>{
				this.loading_table_data=false;
			});
		}
	},
	created(){
		this.fetchData();
	}
}
</script>
<style lang="stylus" scoped>

.add-offer-button
	position: fixed
	bottom: 50px;
	right: 50px
	z-index:1
.gateway-dropdown
	border: none;
	border-radius: 0px;
	border-bottom: 0.7px solid rgba(0,0,0,.87);
	margin-top: 10px;
</style>