<template lang="pug">

v-row

	//-
		MAIN TRANSACTION INDEX VIEW
	v-col(cols="12")
		v-row
			v-col
				v-card
					v-card-title Transactions

		v-row(justify="space-around")
			v-col(cols="12")
				v-sheet(elevation=3).px-10
					v-row 
						v-col(cols=6 md=5)
							v-text-field(
								v-model="search"
								label="Rechercher"
								single-line
								hide-details
								@input="promptSearch"
							)
						v-spacer
						v-col(cols=4 md=3 lg=2)
							v-select(
								v-model="items_per_page"
								:items="per_page_selection"
								label="Par page"
								@input="fetchData"
							)
					v-sheet
						v-pagination(
							:value="current_page"
							:length="last_page"
							@input="changePage"
						)

					v-data-table(
						ref="table"
						:headers="headers"
						:items="transactions"
						:items-per-page="items_per_page"
						:server-items-length="total_item_count"
						:loading="loading_table_data"
						:search="search"
						@update:sort-by="changeSort"
						@update:sort-desc="changeAscending"
						show-expand
						single-expand
						hide-default-footer
						:expanded.sync="items_expanded"
						@item-expanded="itemExpanded"
					).mx-n10
						template(v-slot:expanded-item="{headers, item}")
							td(:colspan="headers.length" style="position:relative")
								v-overlay(
									absolute
									loading
									:value="item.isLoading"
								)
								.row.py-5.px-3
									.col.col-12.col-md-4
										h6 Répartition
										hr
										div
											label Montant HT
											em.float-right € {{(new Intl.NumberFormat('fr',{minimumFractionDigits:2})).format(item.gross_amount/100)}}
										div
											label Montant TVA
											em.float-right € {{(new Intl.NumberFormat('fr',{minimumFractionDigits:2})).format(item.tax_amount/100)}}
										div.border-bottom
											label Tarifs
											em.float-right (€ {{(new Intl.NumberFormat('fr',{minimumFractionDigits:2})).format(item.gateway_fee/100)}})
										div
											strong Montant TTC
											strong.float-right € {{(new Intl.NumberFormat('fr',{minimumFractionDigits:2})).format(item.net_amount/100)}}
									.col.col-12.col-md-5
										h6 Détails du portail
										hr
										div
											label Gateway Token
											strong.float-right {{item.gateway_token}}
										div
											label Date de la transaction
											strong.float-right {{item.created_at ? new Intl.DateTimeFormat('fr-FR').format(new Date(item.created_at)) : ''}}
									.col.col-12.col-md-3
										h6 Objets connexes
										hr
										div
											label Utilisateur
											strong(
												v-if="item.user"
											).float-right &#8470; {{item.user.id}}
											strong(v-else).float-right Aucun
										div
											label Abonnement
											strong(
												v-if="item.subscription_id"
											).float-right &#8470; {{item.subscription_id}}
											strong(v-else).float-right Aucun
										div
											label Achat
											strong(
												v-if="item.purchase"
											).float-right &#8470; {{item.purchase.id}}
											strong(v-else).float-right Aucun
									.col.col-12.col-md-9
										h6 Payeur
										hr
										.row.p-3(v-if="item.user")
											.col.col-6.col-md-4.border
												label Email
												br
												strong.float-right {{item.user.email}}
											.col.col-6.col-md-4.border
												label Téléphone
												br
												strong.float-right {{item.user.phone}}
											.col.col-6.col-md-4.border
												label Membre depuis
												br
												strong.float-right {{new Intl.DateTimeFormat('fr-FR').format(new Date(item.user.created_at))}}
											.col.col-6.col-md-4.border
												label Nom
												br
												strong.float-right {{item.user.surname}}
											.col.col-6.col-md-4.border
												label Prénom
												br
												strong.float-right {{item.user.name}}

									.col.col-12.col-md-3
										h6 Actions
										hr
										.row
											.col-6.col-md-12.d-flex.justify-content-between
												v-btn(
													disabled
												).m-auto.flex-fill Rembourser
											.col-6.col-md-12.d-flex.justify-content-between
												v-btn(
													disabled
												).m-auto.flex-fill Synchroniser
											.col.

						template(v-slot:footer)
							v-row
								v-col(v-show="!loading_table_data")
									v-text-field(disabled)
								v-col(v-show="loading_table_data")
									v-text-field(loading disabled)

						template(v-slot:item.net_amount="{value}")
							|€ {{(value/100).toFixed(2)}}
						template(v-slot:item.tax_amount="{value}")
							|€ {{(value/100).toFixed(2)}}
						template(v-slot:item.gateway_fee="{value}")
							|€ {{(value/100).toFixed(2)}}
						template(v-slot:item.discount="{value}")
							|€ {{(value/100).toFixed(2)}}
								
					v-sheet
						v-pagination(
							:value="current_page"
							:length="last_page"
							@input="changePage"
						)
					
</template>
<script>
export default {
	data(){
		return{

			items_expanded:[],
			search_debounce:0,
			search:'',
			loading_table_data:true,
			orderBy:'updated_at',
			ascending:false,
			items_per_page:25,
			current_page:1,
			last_page:1,
			total_item_count:0,
			per_page_selection:[5,10,25,50,100],
			headers:[
				{
					text:'ID',
					value:'id',
				},
				{
					text:'Montant TTC',
					value:'net_amount',
				},
				{
					text:'Offre achetée',
					value:'offer.name',
				},
				{
					text:'Gateway',
					value:'gateway.name',
				},
				{
					text:'Statut',
					value:'payment_status',
				},
			],
			transactions:[
			]
		}
	},
	methods:{
		updateTable(){
			this.$refs.table.$forceUpdate();
		},
		itemExpanded(event){
			if (event.value){
				this.fetchItem(event.item);
			}
		},
		promptSearch(){
			window.clearTimeout(this.search_debounce);
			this.search_debounce=window.setTimeout(()=>{
				this.fetchData();
			},300);
		},
		changeSort(sort){
			this.orderBy=sort[0];
			this.fetchData();
		},
		changeAscending(ascending){
			this.ascending=!ascending[0];
			this.fetchData();
		},
		changePage(page){
			this.current_page=page;
			this.fetchData();
		},
		fetchData(){
			this.loading_table_data=true;
			axios.get('/admin/api/transactions',{
				params:{
					filters:[
						this.category_selected?{field:'category_id', value:this.category_selected}:{},
					],
					search:this.search,
					perPage:this.items_per_page,
					page:this.current_page,
					orderBy:this.orderBy,
					ascending:this.ascending,
				}}
			).then((res)=>{
				this.transactions=res.data.contents;
				this.total_item_count=res.data.total_item_count;
				this.current_page=res.data.current_page;
				this.last_page=res.data.last_page;
			}).finally(()=>{
				this.loading_table_data=false;
				this.$el.scrollIntoView({behaviour:'smooth'});
				this.items_expanded=[];
			});
		},
		fetchItem(item){
			item.isLoading=true;
			axios.get('/admin/api/transactions/'+item.id,{
				params:{
				}}
			).then((res)=>{
				Object.assign(item,res.data);
			}).finally(()=>{
				item.isLoading=false;
				this.updateTable();
			});
		}
	},
	created(){
		this.fetchData();
	}
}
</script>
<style lang="stylus" scoped>

.add-transaction-button
	position: fixed
	bottom: 50px;
	right: 50px
	z-index:1

.add-session-button
	display: inline-block
	position: absolute

.session-search-results
	position: absolute
	width: 95%
	z-index: 1

.new_transaction_session_autocomplete_selection
	cursor: pointer

.new_transaction_session_autocomplete_selection:hover
	filter: invert(0.1)

</style>