<template lang="pug">

v-row

	//-
			CREATE NEW SESSION DIALOG
	v-dialog(
		v-model="is_create_dialog_visible"
	)
		v-sheet.p-5
			v-overlay(
				absolute
				loading
				:value="posting_new_user"
			)
			v-card-title {{editing_item_id?'Éditer':'Ajouter'}} User
			v-row
				v-col
					v-sheet
						v-row
							v-col(cols=12)
								v-form(
									ref="create_user_form"
									lazy-validation
									autocomplete="off"
								)
									v-sheet
										h6 Informations de base
										hr
										v-row.mb-6.px-3
											.col.col-12.col-md-6
												v-text-field(
													v-model="new_user.surname"
													label="Nom"
													:rules="new_user_rules.surname"
													required
												)
											.col.col-12.col-md-6
												v-text-field(
													v-model="new_user.name"
													label="Prenom"
												)
											.col.col-12.col-md-6
												v-text-field(
													v-model="new_user.email"
													type="email"	
													label="Email"
													:rules="new_user_rules.email"
													required
												)
											.col.col-12.col-md-6
												v-text-field(
													v-model="new_user.password"
													type="password"
													label="Mot de passe"
													:rules="new_user_rules.password"
												)
											.col.col-12.col-md-6.py-0
											.col.col-12.col-md-6
												v-text-field(
													v-model="new_user.password_confirmation"
													type="password"
													label="Confirmer le mot de passe"
													:rules="new_user_rules.password_confirmation"
												)
										h6 Informations personnelles
										hr
										v-row.mb-6.px-3
											.col.col-12.col-md-6
												v-text-field(
													v-model="new_user.organization"
													label="Enterprise"
												)
											.col.col-12.col-md-6
												v-text-field(
													v-model="new_user.address"
													label="Adresse"
												)
											.col.col-12.col-md-6
												v-text-field(
													v-model="new_user.address2"
													label="Adresse 2"
												)
											.col.col-12.col-md-6
												v-text-field(
													v-model="new_user.city"
													label="Ville"
												)
											.col.col-12.col-md-6
												v-text-field(
													v-model="new_user.postal_code"
													label="Code postal"
												)
											.col.col-12.col-md-6
												v-text-field(
													v-model="new_user.phone"
													label="Téléphone"
												)

											
			v-row
				v-col(cols=3)
					v-btn(
						outlined
						color="error"
						@click="closeCreateDialog"
						style="position:absolute;"
					) annuler
						
				v-spacer
				v-col(cols=3)
					v-btn(
						outlined
						color="primary"
						:loading="posting_new_user"
						@click="postItem"
						style="position:absolute;right:13px;"
					) ajouter
	
	//-
		VIEW USERS INDEX
	v-col(cols="12")
		v-row
			v-col
				v-card
					v-card-title Utilisateurs
		v-row(justify="space-around")
			v-col(cols="12")
				v-sheet(elevation=3).px-10
					v-row
						v-col(cols=6 md=5)
							v-text-field(
								v-model="search"
								label="Recherche"
								single-line
								hide-details
								@input="promptSearch"
							).pb-5
						v-spacer
						v-col(cols=4 md=3 lg=2)
							v-select(
								v-model="items_per_page"
								:items="per_page_selection"
								label="Par page"
								@input="fetchData()"
							)
							v-btn(
								v-show="!is_create_dialog_visible"
								fab
								@click="showCreateDialog"
							).add-user-button
								v-icon mdi-plus
					
					v-sheet
						v-pagination(
							:value="current_page"
							:length="last_page"
							@input="changePage"
						)

					v-data-table(
						:headers="headers"
						:items="users"
						:items-per-page="items_per_page"
						:server-items-length="total_item_count"
						:loading="loading_table_data"
						:search="search"
						@update:sort-by="changeSort"
						@update:sort-desc="changeAscending"
						show-expand
						:expanded.sync="items_expanded"
						@item-expanded="itemExpanded"
						hide-default-footer
						ref="table"
					).mx-n10
						template(
							v-slot:item.created_at="{item}"
						) {{moment(item.created_at).format('DD/MM/YYYY')}}
						template(
							v-slot:item.actions="{item}"
						)
							v-icon(
								small
								@click="editItem(item)"
							) edit
						template(v-slot:expanded-item="{headers, item}")
							td(:colspan="headers.length" style="position:relative")
								v-overlay(
									absolute
									loading
									:value="item.isLoading"
								)
								v-row
									v-col(
										cols=12
										md=5
									)
										v-label(
										) Nom
										v-text-field(
											readonly
											filled
											single-line
											dense
											:value="item.surname"
										)
										v-label(
										) Prenom
										v-text-field(
											readonly
											filled
											single-line
											dense
											:value="item.name"
										)
										v-label(
										) Enregistré le
										v-text-field(
											readonly
											filled
											single-line
											dense
											:value="item.created_at"
										)
									v-col(
										cols=12
										md=7
									)
										div.d-flex.justify-content-between
											h6 Abonnements
											v-pagination.justify-content-end(
												v-if="item.subscriptions"
												:value="item.subscriptions.current_page"
												:length="item.subscriptions.last_page"
												@input="changePageExpanded($event,item,'subscriptions')"
											)
										v-simple-table(
											v-if="item.subscriptions"
										)
											thead
												tr
													th.text-left ID
													th.text-left Offre
													th.text-left Montant
													th.text-left Mois
													th.text-right Dé
													th.text-right Actif
											tbody
												tr(
													v-for="subscription in item.subscriptions.items"
													:key="subscription.id"
												)
													td {{subscription.id}}
													td {{subscription.offer.name}}
													td € {{subscription.price}}
													td {{parseInt(subscription.offer.duration)}}
													td.text-right {{moment(subscription.created_at).format('D/M/Y')}}
													td.text-right
														v-icon {{subscription.is_active?'mdi-check':'mdi-close'}}
									v-col(
										cols=12
									)
										div.d-flex.justify-content-between
											h6 Transactions
											v-pagination.justify-content-end(
												v-if="item.transactions"
												:value="item.transactions.current_page"
												:length="item.transactions.last_page"
												@input="changePageExpanded($event,item,'transactions')"
											)
										v-simple-table(
											v-if="item.transactions"
										)
											thead
												tr
													th.text-left ID
													th.text-right Montant
													th.text-left Offre
													th.text-left ID d'abonnement
													th.text-right Dé
													th.text-right Statut
											tbody
												tr(
													v-for="transaction in item.transactions.items"
													:key="transaction.id"
												)
													td {{transaction.id}}
													td.text-right {{(new Intl.NumberFormat('fr',{minimumFractionDigits:2})).format(transaction.net_amount/100)}} €
													td {{transaction.offer.name}}
													td {{transaction.subscription_id}}
													td.text-right {{moment(transaction.created_at).format('D/M/Y')}}
													td.text-right {{transaction.payment_status}}

</template>
<script>
export default {
	data(){
		return{
			is_create_dialog_visible:false,
			posting_new_user:false,
			editing_item_id:null,
			new_user:{
				email:null,
				surname:null,
				name:null,
			},
			new_user_rules:{
				surname:[
					(v)=>{ return (!!v && v!='') || 'Nom est obligatoire'}
				],
				email:[
					(v)=>{ return (!!v && v!='') || 'Email est obligatoire'},
					(v)=>{ return (
						!!v &&
						/[^@]+@[^\.]+\..+/g.test(v)
					) || 'Le e-mail n\'est pas valide'}
				],
				password:[
					(v)=>{ return (this.editing_item_id || !!v && v!='') || 'Password est obligatoire'}
				],
				password_confirmation:[
					(v)=>{ return (this.editing_item_id || v == this.new_user.password) || 'Les mots de passe ne correspondent pas'}
				],
			},

			items_expanded:[],

			searchDebounce:0,
			search:'',
			loading_table_data:true,
			orderBy:null,
			ascending:false,
			items_per_page:25,
			current_page:1,
			last_page:1,
			total_item_count:0,
			per_page_selection:[5,10,25,50,100],
			headers:[
				{
					text:'ID',
					value:'id'
				},
				{
					text:'Email',
					value:'email'
				},
				{
					text:'Téléphone',
					value:'phone'
				},
				{
					text:'Ville',
					value:'city'
				},
				{
					text:'Inscrit le',
					value:'created_at'
				},
				{
					text:'Actions',
					value:'actions'
				}
			],
			users:[
			]
		}
	},
	methods:{
		updateTable(){
			this.$refs.table.$forceUpdate();
		},
		itemExpanded(event){
			if (event.value){
				this.fetchItem(event.item);
			}
		},
		showCreateDialog(){
			this.is_create_dialog_visible=true;
		},
		closeCreateDialog(){
			this.editing_item_id=0;
			this.is_create_dialog_visible=false;
			this.new_user={
				email:null,
				surname:null,
				name:null,
			};
		},
		fetchItem(item){
			item.isLoading=true;
			axios.get('/admin/api/users/'+item.id,{params:{
				page_subscriptions:item.subscriptions?item.subscriptions.current_page:1,
				page_transactions:item.transactions?item.transactions.current_page:1,
			}})
			.then((res)=>{
				Object.assign(item,res.data);
			}).finally(()=>{
				item.isLoading=false;
				this.updateTable();
			});
		},
		postItem(){

			if (!this.$refs.create_user_form.validate())
				return

			if (this.posting_new_user)
				return

			this.posting_new_user=true

			if (!this.editing_item_id){
				axios.post('/admin/api/users',this.new_user)
				.then(res=>{
					this.closeCreateDialog()
					this.fetchData()
				})
				.catch(err=>{
					console.log(err.response.data.errors)
				})
				.finally(()=>{
					this.posting_new_user=false
				})
			}else{
				axios.post('/admin/api/users/'+this.editing_item_id,this.new_user)
				.then(res=>{
					this.closeCreateDialog()
					this.fetchData()
				})
				.catch(err=>{
					console.log(err.response.data.errors)
				})
				.finally(()=>{
					this.posting_new_user=false
				})
			}
		},
		editItem(item){
			if (this.loading_table_data) return
			this.new_user=Object.assign({},item);
			this.editing_item_id=item.id;
			this.showCreateDialog();
		},    

		promptSearch(){
			window.clearTimeout(this.searchDebounce);
			this.searchDebounce=window.setTimeout(()=>{
				this.fetchData();
			},300);
		},
		changeSort(sort){
			this.orderBy=sort[0];
			this.fetchData();
		},
		changeAscending(ascending){
			this.ascending=!ascending[0];
			this.fetchData();
		},
		changePageExpanded(page,item,relation){
			item[relation].current_page++
			this.fetchItem(item)
		},
		changePage(page){
			this.current_page=page;
			this.fetchData();
		},
		fetchData(){
			this.loading_table_data=true;
			axios.get('/admin/api/users',{
				params:{
					filters:[
					],
					search:this.search,
					perPage:this.items_per_page,
					page:this.current_page,
					orderBy:this.orderBy,
					ascending:this.ascending,
				}}
			).then((res)=>{
				this.users=res.data.contents;
				this.total_item_count=res.data.total_item_count;
				this.current_page=res.data.current_page;
				this.last_page=res.data.last_page;
			}).finally(()=>{
				this.loading_table_data=false;
			});
		}
	},
	created(){
		this.fetchData();
	}
}
</script>
<style lang="stylus" scoped>
.add-user-button
	position: fixed
	bottom: 50px;
	right: 50px
	z-index:1
</style>