<template lang="pug">

v-row
	//-
		MAIN EXERCISE INDEX VIEW
	v-col(cols="12")
		v-overlay(
			contain
			absolute
			loading
			:value="requesting_vimeo_videos"
		)
		v-row
			v-col
				v-card
					v-card-title Vidéos

		v-row(justify="space-around")
			v-col(cols="12")
				v-sheet(elevation=3).px-10
					v-row 
						v-col(cols=6 md=5)
							v-text-field(
								v-model="search"
								label="Rechercher"
								single-line
								hide-details
								@input="promptSearch"
							)
						v-spacer
						v-col(cols=4 md=3 lg=2)
							v-select(
								v-model="items_per_page"
								:items="per_page_selection"
								label="Par page"
								@input="fetchData"
							)
							v-btn(
								v-show="!is_create_dialog_visible"
								fab
								@click="requestVimeoVideos"
								:loading="requesting_vimeo_videos"
							).refresh-video-button
								v-icon mdi-refresh
					v-sheet
						v-pagination(
							:value="current_page"
							:length="last_page"
							@input="changePage"
						)

					v-data-table(
						ref="table"
						:headers="headers"
						:items="exercises"
						:items-per-page="items_per_page"
						:server-items-length="total_item_count"
						:loading="loading_table_data"
						:search="search"
						@update:sort-by="changeSort"
						@update:sort-desc="changeAscending"
						show-expand
						:expanded.sync="items_expanded"
						@item-expanded="itemExpanded"
						hide-default-footer
					).mx-n10
						template(v-slot:item.last_modified_date="{item}")
							| {{ (new Date(item.last_modified_date).toLocaleDateString('fr')) }}
						template(v-slot:item.vimeo_created_date="{item}")
							| {{ (new Date(item.vimeo_created_date).toLocaleDateString('fr')) }}
						template(v-slot:expanded-item="{headers, item}")
							td(:colspan="headers.length" style="position:relative")
								v-overlay(
									absolute
									loading
									:value="item.isLoading"
								)
								v-row.py-1.pb-5
									v-col(
										cols=12
										md=5
										style="height:240px"
									)
										v-img(
											:src="item.thumbnails.small"
											height=240
											contain
										)
									v-col

						template(v-slot:footer)
							v-row
								v-col(v-show="!loading_table_data")
									v-text-field(disabled)
								v-col(v-show="loading_table_data")
									v-text-field(loading disabled)

					v-sheet
						v-pagination(
							:value="current_page"
							:length="last_page"
							@input="changePage"
						)
					
</template>
<script>
export default {
	data(){
		return{

			editing_item_id:0,

			posting_new_exercise:false,
			new_exercise_tag_input:'',
			new_exercise:{
				category_id:1,
				subcategory_id:1,
				name:'',
				description:'',
				content:'',
				duration:0,
				difficulty:0,
				video_link:'',
				api_video_link:'',
				tags:[],
			},
			new_exercise_rules:{
				name:[
					(v)=>{ return (!!v && v!='') || 'Nom est obligatoire'}
				]
			},

			exercise_categories:[],
			exercise_subcategories:[],

			is_create_dialog_visible:false,
			requesting_vimeo_videos:false,

			categories_selectable:[],
			subcategories_selectable:[],

			category_selected:0,
			subcategory_selected:0,
			tag_dialogs_shown:{},
			items_expanded:[],

			search_debounce:0,
			search:'',
			loading_table_data:true,
			orderBy:'updated_at',
			ascending:false,
			items_per_page:25,
			current_page:1,
			last_page:1,
			total_item_count:0,
			per_page_selection:[5,10,25,50,100],
			headers:[
				{
					text:'ID',
					value:'id'
				},
				{
					text:'Nom dans vimeo',
					value:'vimeo_name'
				},
				{
					text:'Date de la dernière modification',
					value:'last_modified_date'
				},
				{
					text:'Date de téléchargement',
					value:'vimeo_created_date'
				},

			],
			exercises:[
			]
		}
	},
	methods:{
		newExerciseDurationFormatted(){
			let now=new Date();
			let minutes=Math.floor(this.new_exercise.duration/60);
			let seconds=this.new_exercise.duration%60;
			now.setMinutes(minutes);
			now.setSeconds(seconds);
			return now;
		},
		fomatExerciseDuration(input){
			let [minutes,seconds] = input.split(':');
			minutes=parseInt(minutes);
			seconds=parseInt(seconds);
			this.new_exercise.duration=seconds+(minutes*60);
		},
		editItem(item){
			this.new_exercise=Object.assign({},item);
			this.new_exercise.tags=this.new_exercise.tags.map((tag)=>tag.name);
			this.editing_item_id=item.id;
			this.showCreateDialog();
		},
		
		promptTagAutocomplete(){
			axios.get('/admin/api/tags/autocomplete',{
				params:{
					search:this.new_exercise_tag_input,
					ignore:this.new_exercise.tags,
				}
			})
			.then((res)=>{
				this.tagAutocompleteResults=res.data;
			});
		},
		tagItem(tagName){
			this.posting_tag=true;
			axios.post(this.tag_url+'/'+tagName,{
				params:{
				}
			})
			.then((res)=>{
				this.$emit('update:item',res.data);
				this.input='';
				this.results=[];
				this.closeDialog();
			})
			.finally((res)=>{
				this.posting_tag=false;
			});
		},
		addTagToCreateDialog(){
			this.new_exercise.tags.push(this.new_exercise_tag_input);
			this.new_exercise_tag_input='';
		},
		formatContent(content){
			if(typeof(content)!='string') return;

			let converter=new window.showdown.Converter({'simpleLineBreaks':'true','tables':'true','strikethrough':'true'});

			return converter.makeHtml(content);

		},
		showCreateDialog(){
			this.is_create_dialog_visible=true;
		},
		closeCreateDialog(){
			this.editing_item_id=0;
			this.is_create_dialog_visible=false;
			this.new_exercise={
				category_id:1,
				subcategory_id:1,
				name:'',
				description:'',
				content:'',
				duration:0,
				difficulty:0,
				video_link:'',
				api_video_link:'',
				tags:[],
			};
		},

		requestVimeoVideos(){
			
			if (this.requesting_vimeo_videos)
				return;

			this.requesting_vimeo_videos=true;
			
			axios.post('/admin/api/videos/fetchVimeoVideos')
			.then(response=>response.data)
			.then(data=>{
				this.fetchData()
			})
			.catch(error=>{
				console.log(error);
			})
			.finally(()=>{
				this.requesting_vimeo_videos=false
			})

		},

		updateTable(){
			this.$refs.table.$forceUpdate()
		},
		updateItem(oldItem,newItem){
			Object.assign(oldItem,newItem);
			this.updateTable();
		},
		itemExpanded(event){
			if (event.value){
				this.fetchItem(event.item);
			}
		},
		untagItem(item,tag){
			item.isLoading=true;
			axios.delete('/admin/api/exercises/'+item.id+'/tags/'+tag
			).finally(()=>{
				this.fetchItem(item);
			});
		},
		promptSearch(){
			window.clearTimeout(this.search_debounce);
			this.search_debounce=window.setTimeout(()=>{
				this.fetchData();
			},300);
		},
		changeSort(sort){
			this.orderBy=sort[0];
			this.fetchData();
		},
		changeAscending(ascending){
			this.ascending=!ascending[0];
			this.fetchData();
		},
		changePage(page){
			this.current_page=page;
			this.fetchData();
		},
		loadExercises(data){

			this.exercises=data.contents;
			this.total_item_count=data.total_item_count;
			this.current_page=data.current_page;
			this.last_page=data.last_page;
		},
		loadCategories(data){
			let exercise_categories=[];
			let exercise_subcategories=[
				[]
			];
			let categories_selectable=[
				{text:'Tous', value:0}
			];
			let subcategories_selectable=[
				[
					{text:'Tous', value:0}
				]
			];

			for (let category of data){
				exercise_categories.push(
					{text:category.name,value:category.id}
				)
				categories_selectable.push(
					{text:category.name, value:category.id}
				)
				let temp_exercise_subcategories=[]
				let temp_subcategories_selectable=[
					{text:'Tous',value:0}
				]

				for (let subcategory of category.subcategories){
					subcategories_selectable[0].push(
						{text:subcategory.name, value:subcategory.id}
					)
					temp_exercise_subcategories.push(
						{text:subcategory.name, value:subcategory.id}
					)
					temp_subcategories_selectable.push(
						{text:subcategory.name, value:subcategory.id}
					)
				}

				exercise_subcategories.push(
					temp_exercise_subcategories
				)
				subcategories_selectable.push(
					temp_subcategories_selectable
				)
			}

			this.exercise_categories=exercise_categories
			this.exercise_subcategories=exercise_subcategories
			this.categories_selectable=categories_selectable
			this.subcategories_selectable=subcategories_selectable

		},
		setupFilterParameters(){

			return {
				filters:[
					this.category_selected?{field:'category_id', value:this.category_selected}:{},
					this.subcategory_selected?{field:'subcategory_id', value:this.subcategory_selected}:{},
				],
				search:this.search,
				perPage:this.items_per_page,
				page:this.current_page,
				orderBy:this.orderBy,
				ascending:this.ascending,
			}
		},
		fetchData(){
			this.loading_table_data=true;
			axios.get('/admin/api/videos',{

				params:this.setupFilterParameters()
			}).then((res)=>{
				
				this.loadExercises(res.data)
			}).finally(()=>{

				this.loading_table_data=false;
				this.$el.scrollIntoView({behaviour:'smooth'});
				this.items_expanded=[];
			});
		},
		fetchItem(item){
			item.isLoading=true;
			axios.get('/admin/api/videos/'+item.id,{
				params:{
				}}
			).then((res)=>{
				Object.assign(item,res.data);
			}).finally(()=>{
				item.isLoading=false;
				this.updateTable();
			});
		},
		postItem(){
			this.posting_new_exercise=true;
			if(!this.editing_item_id){
				axios.post('/admin/api/exercises',this.new_exercise
				).then((res)=>{
						this.closeCreateDialog();
						this.fetchData();

				}).finally(()=>{
					this.posting_new_exercise=false;
				})
			}else{
				axios.patch('/admin/api/exercises/'+this.editing_item_id,this.new_exercise
				).then((res)=>{
						this.closeCreateDialog();
						this.fetchData();

				}).finally(()=>{
					this.posting_new_exercise=false;
				})
			}
		},
	},
	created(){
		this.fetchData();
	}
}
</script>
<style lang="stylus" scoped>

.refresh-video-button
	position: fixed
	bottom: 50px;
	right: 50px
	z-index:1

.add-tag-field
	display: inline-block
	width: 50%

.add-tag-button
	display: inline-block
	position: absolute

.vtimeselector::before
	border-style: solid;
	border-width: thin 0 0;
	bottom: -1px;
	content: "";
	left: 0;
	position: absolute;
	transition: .3s cubic-bezier(.25,.8,.5,1);
	width: 100%;
	border-color: rgba(0,0,0,.42);

</style>