#osm-plans-list-pricing-table-flat .pricing-features li{font-weight:bold;}

@font-face {
	font-family: Bakery;
	src: url(../fonts/bakery.otf);
}

@font-face {
	font-family: Rounded Elegance;
	src: url(../fonts/Rounded_Elegance.ttf);
}

@font-face {
	font-family: Segoeui Regular;
	src: url(../fonts/segoeui.ttf);
}

@font-face {
	font-family: Segoeui Bold;
	src: url(../fonts/segoeuib.ttf);
}

.nav.navbar-nav#main-navigation{
	padding-right:100px;
}
body{
	overflow-x: hidden;
}
h3.project-title{
	color:#fff;
}
.port-single nav ul li{
	display:inline-block;
}
.port-single nav ul{
	margin-top: 5px;
}
.dark .port-single nav ul li a:hover{
	color: #fff;
}
.pt-50{
	padding-top:50px;
}
.itemid-252 #system-message .alert.alert-warning {
	display: none;
}


body.error-page.coming-soon .error{
	background: url(../../../images/backgrounds/coming-soon.jpg) no-repeat ;
}
body.error-page .error{
	background: url(../../../images/backgrounds/404.jpg) no-repeat ;
}
body.error-page.server-error-page .error{
	background: url(../../../images/backgrounds/503.jpg) no-repeat ;
}

.tp-caption a.custom-button.slider-button.scroll-to-target:hover span{
	color:#fff !important;
}

ul.navbar-nav > li > a:hover, 
ul.navbar-nav > li > a:focus, 
ul.navbar-nav > li > a:active{
	color:#000000 !important;
}
.services-box-item-cover::before{
	color:#060003 !important;
}
.social-icons ul li.blue a {
    border: 2px solid #5a8dff;
}
.social-icons ul li.blue a::before {
    color: #5a8dff;
}
.social-icons ul li.pink a{
    border: 2px solid #f95aff;
}
.social-icons ul li.pink a::before {
    color: #f95aff;
}
.sppb-addon-accordion .sppb-panel-title {
    text-transform: uppercase;
}
.photo1{
	float:left;
	padding:0;
}
.photo2{
	float:right;
	padding:0;
}
.photo1 img, .photo2 img{
	width:100%;
}
.blog-page .bottom{
	background:#FFFFFF;
	margin: -60px 0 0px 0;
	padding: 0 0 50px 0;
}
.box{
	border-radius: 15px;
	box-shadow: 0px 0px 25px #efefef;
	margin: 20px 0;
}
.ingredients ul li {
    list-style-image: url(../../../images/puce.png);
    display: list-item !important;
    margin-right: 15px;
    padding: 0 0 7px 0;
}
.ingredients, .preparation, .astuce, .tableau {
	padding: 5px 25px;
}

.row.allButtonContainer{
	margin-bottom: 10px;
}

.allButton{
	margin-left: auto;
	margin-right: auto;
}

body.recettes article h4 {
	color: #555;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 15px;
	line-height: 25px;
	margin-bottom: 0;
}

#login-form .hasTooltip{
	display: none;
}

#login-form .add-on{
	display: block;
}

#login-form .control-group{
	margin-top: 10px;
}

#login-form .input-prepend input{
	width: 100%
}

#login-form .input-prepend input::placeholder{
	color: transparent;
}

#login-form button, .osm-container #btn-submit, .com_users #ajax-holder .container .control-group button, #osm-profile-page #osm_form .btn-primary, body.view-card #os_form .btn-primary, .btn-primary{
	background: #8e8e8e;
	border-width: 0;
}

#login-form .unstyled{
	margin-top: 20px;
}

body.double-diagonal .projectmanager .section-overlay, body.double-diagonal .newsletter .section-overlay, body.double-diagonal .call-to-action .section-overlay {
    padding: 70px 0px;
}

body.double-diagonal .inscription>.pricing>.container{
	padding: 90px 15px 0px !important;
}

.inscription .osm-container{
	padding: 0!important
}

body .connexion .services .container {
	padding-top: 90px!important;
}

.com_osmembership .banner-title, .com_users .banner-title{
	top: 120px;
}
body.double-diagonal .about .container, body.double-diagonal .blog .container{
	padding:90px 15px 150px !important
}

.osm-container {
	padding: 40px 15px 150px !important
}

.osm-page-title{
	display: none;
}

.osm-container h1{
	text-align: center
}

.osm-container .osm-message p{
	text-align: center;
	margin: 23px 0 25px;
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
	color: #060003;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
}

.osm-container .form-group select, .osm-container .form-group textarea, .osm-container .form-group input[type="text"], .osm-container .form-group input[type="password"], .osm-container .form-group input[type="datetime"], .osm-container .form-group input[type="datetime-local"], .osm-container .form-group input[type="date"], .osm-container .form-group input[type="month"], .osm-container .form-group input[type="time"], .osm-container .form-group input[type="week"], .osm-container .form-group input[type="number"], .osm-container .form-group input[type="email"], .osm-container .form-group input[type="url"], .osm-container .form-group input[type="search"], .osm-container .form-group input[type="tel"], .osm-container .form-group input[type="color"], .osm-container .form-group input[type="text"].input-xlarge, .osm-container .form-group select.input-xlarge, .osm-container .form-group textarea.input-xlarge{
	width: 50%!important;
}

.osm-container select{
	height: 28px;
}

.osm-container .input-group-prepend{
	display: inline-block;
}

.osm-container #osm_Age .checkbox, .osm-container #osm_retractation1 .checkbox, .osm-container #osm_retractation2 .checkbox, .osm-container #osm_cgu .checkbox{
	left: 20px;
	padding-top: 4px;
}

.osm-container #osm_Age .checkbox input, .osm-container #osm_retractation1 .checkbox input, .osm-container #osm_retractation2 .checkbox input, .osm-container #osm_cgu .checkbox input{
	top: 2px;
	width: 17px;
	height: 17px;
}

.formError{
	opacity: 1!important;
}

.formErrorContent{
	box-shadow: none!important;
    -webkit-box-shadow: none!important;
}

.header:before{
	display: none;
}

.header-inner{
	background: #fff
}

.mainslider{
	margin-top: 62px;
	height: calc(100vh - 62px);
}

body.homepage .services::before, body.homepage .services::after{
	display: none;
} 

body.homepage .testimonials{
	background-size: cover!important;
	background-position-y: bottom!important;
}

.mainslider .fullscreenvideo video{
	object-position: top;
}

/* .videopromotion {
	background-position-y: bottom!important;
} */
body.blog-page .banner-wrapper {
	background-color: #fff;
}

.banner {
    background-position-y: 67px;
    background-size: auto 825px !important;
    height: 825px;
    margin-bottom: 40px;
    z-index: 10 !important;
    padding: 0px;
}

body.double-diagonal.blog-page section.blog {
	margin-top: -30px;
}

.banner .content{
    height: 825px;
}

body.double-diagonal section.banner:before,
body.double-diagonal section.banner:after,
body.double-diagonal section.about:before,
body.double-diagonal section.blog:before {
	display: none !important;
}

.banner-title {
    position: relative;
    z-index: 999;
    margin-top: -103px;
	top: 90px;
}
.banner-title  hr{
	border-top: 5px solid #8e8e8e;
	width: 80px;
	margin-top: 32px;
	margin-bottom: 22px;
}
.picto1{
}
.picto2{
}

article.recettes{
	margin-bottom: 20px!important;
}

.recettesCat, .videoCat, .trainingsCat, .bonusCat, .trainingsCatapi{
	background: transparent;
	margin-bottom: 0;
}

.recettesCat .row, .recettes .content article, .videoCat .row, .trainingsCat .row, .trainingsCatapi .row, .bonusCat .row, .recettes .row .col-md-4 article.recettes{
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.recettes .content article>.col-md-6{
	align-items: center;
	display: flex;
}

.recettes .content article>.col-md-6 h4{
	margin: 0;
}
.recettesCat .item, .videoCat .item, .trainingsCat .item, .trainingsCatapi .item, .bonusCat .item{
    padding: 10px 10px 15px;
	border-radius: 10px;
	box-shadow: 0px 2px 5px #8e8e8e;
	height: 100%;
	align-items: center;
    display: flex;
    justify-content: center;
	flex-direction: column;
	margin-bottom: 20px;
}

.recettesCat .item.active, .videoCat .item.active, .trainingsCat .item.active, .trainingsCatapi .item.active, .bonusCat .item.active{
	background: #555;
	box-shadow: none;
}

.recettesCat .item h4, .videoCat .item h4, .trainingsCat .item h4, .trainingsCatapi .item h4, .bonusCat .item h4{
	text-align: center;
	font-weight: 700;
    font-size: 15px;
    color: #555;
}

.recettesCat .item.active h4, .videoCat .item.active h4, .trainingsCat .item.active h4, .trainingsCatapi .item.active h4, .bonusCat .item.active h4{
	color: #fff;
}

.recettesCat .item img, .videoCat .item img, .trainingsCat .item img, .trainingsCatapi .item img, .bonusCat .item img{
    margin: auto auto 0;
	width: 50%;
	-webkit-filter: opacity(.2) drop-shadow(0 0 0 grey);
	filter: opacity(.2) drop-shadow(0 0 0 grey);
}

.recettesCat .item.active img, .videoCat .item.active img, .trainingsCat .item.active img, .trainingsCatapi .item.active img, .bonusCat .item.active img{
    margin: auto auto 0;
	width: 50%;
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
}

.pagination i, .pagination>li>a, .pagination>li>a:hover{
	color: #555
}

.logo a{
	margin-top: 0!important;
	width: 200px;
}

.header .logo a img{
	margin-top: 20px;
}

.com_users #ajax-holder .container{
	padding:120px 15px 90px !important
}

.com_users #ajax-holder .container .control-group{
	margin-bottom: 20px;
}

.com_users #ajax-holder .container .control-group input[type="text"]{
	width: 50%
}

.com_users #ajax-holder .container .control-group .control-label{
	text-align: left;
}

article.Leading h4{
	text-align: left;
	color: #555;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    margin: 0 0 20px;
    line-height: 34px;
}

.video-vimeo{
	text-align: center;
}

.video-vimeo iframe{
	max-width: 100%;
}

.no-meta .meta{
	display: none!important;
}

.no-meta article{
	margin-bottom: 30px!important;
}

.no-meta article>h4{
	margin-bottom: 10px!important;
}

.no-meta article>h4:hover{
	color: #555!important;
}

div.dailyTraining, div.transformation{
	margin-top: 50px;
}

body.blog-page article h4{
	font-size: 18px;
}

body.dailyTraining .banner, body.transformation .banner{
	display: none;
}

body.dailyTraining .banner-title, body.transformation .banner-title{
	top: 190px;
}

body.dailyTraining .banner-title hr, body.transformation .banner-title hr{
	display: none;
}

body.dailyTraining .blog .container{
	padding-top: 150px!important;
    padding-bottom: 0!important;
}

body.transformation .blog .container{
	padding: 0px 15px 0 !important;
}

body.transformation .blog {
	padding-bottom: 0 !important;
}

body.transformation .blog>.container{
	padding-top: 210px!important;
    padding-bottom: 0!important;
}


body.blog-page article.video h4, article.dailyTraining h4{
	text-align: center;
}

body.blog-page article.video h4{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}



.allButton .item{
	padding: 10px;
}

.tableau table td{
	border: 1px solid #999999;
}

.tableau table td p{
	margin: 10px
}

.tableau table tr:nth-child(1) p{
	font-weight: 700;
}

.tableau table tr:nth-child(even) {
	background: #FFF
}

.tableau table tr:nth-child(odd) {
	background: #DDD
}

body.blog-page article.bonus {
	border-radius: 15px;
    box-shadow: 0px 0px 25px #efefef;
    margin-bottom: 20px;
    padding: 20px 0 0 0;
}

body.blog-page article.bonus h4{
	text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

body.blog-page article.bonus h4:hover{
	color: #555
}

body.blog-page article.bonus p, body.blog-page article.bonus h4{
	text-align: center;
    margin-bottom: 0;
}

.pricing-header{
	padding-bottom: 20px;
    padding-top: 20px;
}

.pricing-header img{
	float: none!important;
}
  
.pricing-header h2{
	font-weight: 700;
	margin: 20px 0 0;
	font-size: 2rem;
}

.pricing-header h4{
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 700;
	line-height: 1.8rem;
	min-height: 1.8rem;
    color: #8dc8e4;
    text-transform: initial;
    font-size: 1.8rem;
}

.pricing-header .price-content{
	/* padding-top: 10px; */
	padding-top: 30px;
}

.pricing-header p{
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.2rem;
    color: #999;
}

.pricing-features li{
	padding: 10px;
	border-bottom: none;
	border-top: 1px solid #eee;
}

.pricing-features li:first-child{
	border-top: none;
}

#osm-profile-page .osm_title{
	display: none;
}

#osm-profile-page{
	padding-top: 130px!important;
}

#osm-profile-page .nav-tabs>li{
	width: calc(100%/3);
}

#osm-profile-page .nav-tabs>li>a{
	padding: 0;
	text-align: center;
	line-height: 30px;
}

#osm-profile-page .osm-btn-cancel-subscription{
	display: block;
}

.view-card .banner-title h1{
	color: transparent;
}

.view-card #ajax-holder>.container{
	padding-top: 15px;
	padding-bottom: 50px;
}

.view-card .osm-page-title, .view-register .osm-page-title, .view-complete .osm-page-title{
	display: block;
	text-align: center;
}

.view-register .osm-container, .view-complete .osm-container{
	margin-top: 70px;
}

.view-card #os_form{
	margin-top: 40px
}

body.view-card #ajax-holder>.container{
	margin-top: 90px
}

body.view-profile #ajax-holder>.container{
	margin-top: 60px;
}

body.view-profile #osm-profile-page{
	padding-top: 40px!important;
}

body.view-profile .osm_title{
	display: block!important;
}

body.view-profile #osm_form_renew{
	margin-top: 40px;
}

#icon-toggler span{
	background-color: #555;
}

.tp-caption .html5vid{
	left: 0!important;
}

/* body.homepage .pricing .container {
    padding-bottom: 0px!important;
} */

body.double-diagonal .about::before, body.double-diagonal .about::after, body.double-diagonal .faq::before, body.double-diagonal .faq::after, body.double-diagonal .terms::before, body.double-diagonal .terms::after, body.double-diagonal .shop-cart::before, body.double-diagonal .shop-cart::after, body.double-diagonal .shop-checkout::before, body.double-diagonal .shop-checkout::after, body.double-diagonal .project::before, body.double-diagonal .project::after, body.double-diagonal .services::before, body.double-diagonal .services::after, body.double-diagonal .pricing::before, body.double-diagonal .pricing::after, body.double-diagonal .portfolio::before, body.double-diagonal .portfolio::after, body.double-diagonal .team::before, body.double-diagonal .team::after, body.double-diagonal .blog::before, body.double-diagonal .blog::after, body.double-diagonal .contact::before, body.double-diagonal .contact::after, body.double-diagonal .logos::before, body.double-diagonal .logos::after{
	top: -10px;
}

body.double-diagonal .call-to-action, body.double-diagonal .projectmanager{
	background-repeat: no-repeat!important;
    background-size: cover!important;

}

.allButtonContainer{
	display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.view-register .bottom, .view-complete .bottom{
	display: none;
}

.throughPrice{
	margin-top: 0;
}

.throughPrice strong{
	font-size: 20px;
    text-decoration: line-through;
}

.videopromotion .section-overlay{
	padding: 120px 0 180px;
}

.form .input-group .input-group-append{
	display: inline-block;
}

body.homepage .parution .slides{
	margin: 0;
	padding: 0;
	text-align: center;
}

body.homepage .parution .slides{
	margin: 0;
    padding: 0;
}

body.homepage .parution .slides li{
	width: calc(95%/9);
    display: inline-block;
}

body.homepage .parution .slides li img{
	display: inline-block;
    width: 80%;
}

body.homepage .parution-section::before{
	background-color: #ffffff!important;
}

.boldEngagement{
	font-weight: 900;
}

.invisibleText{
	color: transparent;
}

#osm-subscription-complete{
	margin-top: 70px;
}

#osm-subscription-complete .osm-page-title{
	display: block;
}

#osm-subscription-complete .form .control-group:not(:first-child) {
	color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-bottom: 1rem;
}

#osm-subscription-complete .form .controls .osm-message{
    margin-bottom: 0;
    color: #721c24;
}

.videoCatSearch{
	background: transparent;
	padding-top: 0;
}

.videoCatSearch input{
	display: inline-block;
	border-radius: 4px 0 0 4px;
	width: calc(100% - 39px);
	border-right: none;
}

.videoCatSearch button{
	float: right;
    border-radius: 0 4px 4px 0;
}

.videoCatSearch>p{
	text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: #555;
    text-transform: uppercase;
}

.k2FeedIcon{
	display: none;
}

.grid-container{
	overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
	border-radius: 8px;
	box-shadow: 0px 0px 25px #efefef;
	margin-bottom: 40px;
}

.grid-img-container{
    min-width: 48px;
    display: inline-block;
    position: relative;
	overflow: hidden;
	width: 100%;
    max-width: 100%;
    height: auto;
    padding-top: 66.66666%;
    border-radius: 0;
    border: none;
    margin-right: 0;
}

.grid-img{
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	min-height: 100% !important;
    width: 100% !important;
    height: auto !important;
}

.grid-text-container{
    text-align: center;
    margin-top: 0;
	position: relative;
	padding: 28px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.grid-text{
	margin-bottom: 0;
}


/* Responsive */

@media screen and (min-width: 2000px) {
	body.double-diagonal .call-to-action .section-overlay{
		padding: 70px 0 170px;
	}
	
	.banner{
		background-size: cover;
	}

	body.homepage .testimonials{
		background-position-y: bottom!important;
	}
}


@media screen and (min-width: 1920px) and (max-width: 1999px) {
}

@media screen and (min-width: 1663px) and (max-width: 1919px) {
}

@media screen and (min-width: 1600px) and (max-width: 1662px) {
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
}

@media screen and (min-width: 1360px) and (max-width: 1439px) {
}

@media screen and (min-width: 1280px) and (max-width: 1359px) {
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
}

@media screen and (min-width: 992px) and (max-width: 1023px) {
}

@media screen and (min-width: 768px) and (max-width: 991px) {
}

@media screen and (max-width: 767px) {

	.about .about-content {
			margin-top: 80px;
		}
		
	.recettesCat .row, .recettes .content article, .videoCat .row, .trainingsCat .row, .trainingsCatapi .row, .bonusCat .row, .recettes .row .col-md-4 article.recettes{
		display: block;
	}

	.banner .content{
		padding: 295px 0;
	}

	h1 {
		font-size: 30px;
    	line-height: 30px;
	}

	.recettesCat .item h4, .videoCat .item h4, .trainingsCat .item h4, .trainingsCatapi .item h4, .bonusCat .item h4{
		font-size: 14px;
	}
	body.recettes article h4{
		text-align: center;
	}

	

	#osm-subscription-complete .osm-page-title{
		font-size: 25px;
	}

}


@media screen and (max-width: 991px) {
	.pricing-wrapper{
		margin-bottom: 50px
	}
	.osm-container{
		padding: 0!important;
	}
	.navbar-collapse, .navbar-collapse.in{
		top: 60px;
	}
	ul.navbar-nav{
	    padding-bottom: 0;
	}

	
	body.blog-page article.video h4 {
		white-space: initial;
	}

	body.homepage #mainslider{
		background-image: url(/images/homepage-banner.jpg);
		background-size: cover;
		background-position: center;
	}

	body.homepage .parution .slides li {
		width: calc(95%/5);
	}

}





@media screen and (min-width: 992px){
	.services-box{
		display: flex;
	}
	.services-box-item-content{
		height: calc( 100% + 30px );
	}
}



@media screen and (max-width: 577px) {
	#osm-profile-page .nav-tabs>li{
		width: 100%;
	}
	#osm-profile-page .nav-tabs>li a{
		margin-top: 5px;
		margin-bottom: 5px;
	}
	

	.video-vimeo iframe{
		height: 55vw;
		min-height: 100%;
	}

	body.homepage .parution .slides li {
		width: calc(95%/2);
	}

	.parution-section{
		padding-top: 50px;
	}

	.parution-section .pricing-tables-content {
		margin-top: 50px;
	}


}

.pictos-paiment img{
	display: inline-block;
	height: 30px;
	float: none!important;
	margin: 0;
}

.pictos-paiment{
	text-align: center;
}


/*  NEW PROGRAM PAGE */
.program-page {
    padding-top: 100px;
    background-color: #fff;
}

.program-page .image-left img,
.program-page .image-right img {
    max-height: 500px;
    max-width: auto;
    margin-bottom: 100px;
    margin-top: 50px;
}

.program-page .image-left img {
    float: right;
    position: relative;
    top: 70px;
}

.program-page .image-right img {
	float: left;
}

.program-page h1 {
    font-size: 30px;
    display: block;
    text-align: center;
    font-weight: 600;
}

.program-page .program-section .program-content {
	padding: 10px 5px;
    width: 100%;
    float: left;

}

.program-page .program-section .program-content > div {
    box-shadow: 0px 0px 10px #33333329;
    border-radius: 5px;
    border: 1px solid #cacaca;
    padding: 50px 10px;
}

.program-page .program-heading {
	margin-bottom: 20px;
}

.program-page .program-heading h2 {
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    margin-left: 20px;
    line-height: 20px;
}

.program-page .program-body {
	
}

.program-page .program-body span {
	font-size: 13px;
    margin: 10px 0px;
    display: block;
    color: #EE7B2E;
}

.program-page .program-body table {
    text-transform: capitalize;
    width: 100%;
}
.program-page .program-body table tr {
    display: block;
    overflow: hidden;
}
.program-page .program-body table tr td {
    font-size: 12px;
	text-align: center;
    width: 0%;
    float: right;
}
.program-page .program-body table tr td:first-child {
    padding-right: 0px;
    width: 100%;
    display: inline-block;
    float: left;
    font-weight: 600;
}

.program-page .program-body strong {
	text-transform: uppercase;
    margin: 10px 0px;
    display: block;
    color: #000;
}

	

	@media (max-width: 991px) {
		.program-page {
			padding-top: 30px;
		}

		.program-page .program-section .program-content {
			width: 100%;
		}
	}

/*NEW HOMEPAGE*/
/*GLOBAL CSS*/
.new-divider {
	position: relative;
	text-align: left;
}

.new-divider span {
    display: inline-block;
    vertical-align: middle;
}

.new-divider span.outer-line {
	border: 1px solid #00000029;
	height: 0px;
}

.new-divider span.fa {
	color: #ECBD90;
    margin: 0px 10px;
    text-align: center;
    font-size: 14px;
}

.new-divider span.outer-line.line-left {
	width: 10%;
}

.new-divider span.outer-line.line-right {
	width: 50%;
}

.custom-container {
	width: 80%;
}

/*END OF GLOBAL CSS*/

/*BANNER*/
.hmp2-banner {
	background-size: cover !important;
    background-repeat: no-repeat !important;
}

.hmp2-banner .hmp2-banner-row {
    height: 100vh;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 68px;
}

.hmp2-banner .hmp2-banner-row .banner-column {
    margin-top: 160px;
}

.hmp2-banner .hmp2-banner-row .st-inner {
	text-align: center;
}

.hmp2-banner .hmp2-banner-row .st-inner h3 {
    text-align: center;
    font-family: Rounded Elegance;
    color: #fff;
    font-size: 81px;
    letter-spacing: 5px;
    line-height: 76px;
    padding-bottom: 25px;
}

.hmp2-banner .hmp2-banner-row .st-inner h2 {
    text-align: center;
    font-family: Bakery;
    text-transform: none;
    font-size: 160px;
    color: #fff;
    padding: 75px 0px;
    font-weight: 400;
    margin-bottom: 80px;
}

.hmp2-banner .hmp2-banner-row .st-inner span {
    text-transform: uppercase;
    color: #fff;
    background: #ffc0cb;
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 58px;
    padding: 10px;
    margin-top: 50px;
    box-shadow: 0px 0px 20px 9px #0000004f;
    font-family: Rounded Elegance;
    letter-spacing: 5px;
}

.hmp2-banner .hmp2-banner-row .banner-column p {
	margin-bottom: 20px;
}

.hmp2-banner .hmp2-banner-row .banner-column p img {
	width: 200px;
    padding: 20px;
}

/*SESCTION2*/
.hmp2-section2 .hmp2-section2-row {
    padding: 30px 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}

.hmp2-section2 .hmp2-section2-row .st-inner h3 {
	font-size: 50px;
    color: #fff;
    font-family: Segoeui Regular, sans-serif;
    text-transform: none;
    line-height: 50px;
    margin-bottom: 25px;
}

.hmp2-section2 .hmp2-section2-row .st-inner p {
    color: #fff;
    font-size: 19px
}

.hmp2-section2 .hmp2-section2-row .st-inner img {
    width: 150px;
    margin: 20px;
}

/*SECTION3*/
.hmp2-section3 .hmp2-section3-row .section-column.right {
    padding: 60px 100px;
}

.hmp2-section3 .hmp2-section3-row .section-column.left img {
	width: 100%;
}

.hmp2-section3 .hmp2-section3-row .section-column.left p {
	width: 100% !important;
	margin-bottom: 0px;
}

.hmp2-section3 .hmp2-section3-row .st-inner h2 {
	color: #585858;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 30px;
    position: relative;
    padding-left: 25px;
}

.hmp2-section3 .hmp2-section3-row .st-inner h2:before {
	content: "";
    background: #ECBD90;
    position: absolute;
    width: 10px;
    height: 100%;
    left: 0px;
    z-index: 1;
}

.hmp2-section3 .hmp2-section3-row .st-inner h2 span {
    color: #1E1E1E;
    font-weight: 800;
}

.hmp2-section3 .hmp2-section3-row .st-inner h3 {
    font-size: 22px;
    color: #181818;
    margin-bottom: 15px;
    margin-top: 30px;
}

.hmp2-section3 .hmp2-section3-row .st-inner p {
    font-size: 19px;
    color: #1E1E1E;
    width: 75%;
    margin-bottom: 20px;
}

/*SECTION4*/
.hmp2-section4 .hmp2-section4-row .column-left.description {
	padding: 60px 0px 60px 222px;
	width: 48.5%;
}

.hmp2-section4 .hmp2-section4-row .column-left.description .st-inner h3 {
    font-size: 22px;
    color: #181818;
    margin-bottom: 15px;
    margin-top: 30px;
}

.hmp2-section4 .hmp2-section4-row .column-left.description .st-inner p {
    font-size: 19px;
    color: #1E1E1E;
    width: 75%;
    margin-bottom: 20px;
}

.hmp2-section4 .hmp2-section4-row .column-left.description .st-inner .read-more {
	margin-top: 60px;
}

.hmp2-section4 .hmp2-section4-row .column-left.description .st-inner p a {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #fff;
    background: #5A5A5A;
    text-transform: uppercase;
    padding: 20px 30px;
    margin-top: 50px;
}

.hmp2-section4 .hmp2-section4-row .column-right.image {
	width: 51.5%;
}

.hmp2-section4 .hmp2-section4-row .column-right.image p {
	margin-bottom: 0px;
}

.hmp2-section4 .hmp2-section4-row .column-right.image img {
	width: 100%;
	min-height: 600px;
}

/*SECCTION5*/
.hmp2-section5 .hmp2-section5-row .column-left.image p {
	margin-top: -100px;
	margin-bottom: 0px;
	text-align: center;
}

.hmp2-section5 .hmp2-section5-row .column-right.description {
	padding: 20px 100px;
	padding-bottom: 0px;
}

.hmp2-section5 .hmp2-section5-row .column-right.description .st-inner h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 30px;
    position: relative;
    padding-left: 25px;
}

.hmp2-section5 .hmp2-section5-row .column-right.description .st-inner h2:before {
	content: "";
    background: #34C924;
    position: absolute;
    width: 10px;
    height: 100%;
    left: 0px;
    z-index: 1;
}

.hmp2-section5 .hmp2-section5-row .new-divider span.outer-line {
	border: 1px solid #ffffff29;
}

.hmp2-section5 .hmp2-section5-row .new-divider span.fas {
	color: #34C924;
    margin: 0px 10px;
    text-align: center;
    font-size: 14px;
    transform: rotate(135deg);
}

.hmp2-section5 .hmp2-section5-row .column-right.description .st-inner h2 span {
    font-weight: 800;
}

.hmp2-section5 .hmp2-section5-row .column-right.description .st-inner h3 {
    font-size: 22px;
    color: #fff;
    margin-bottom: 15px;
    margin-top: 30px;
}

.hmp2-section5 .hmp2-section5-row .column-right.description .st-inner p {
    font-size: 19px;
    color: #fff;
    width: 92%;
    margin-bottom: 20px;
}

.hmp2-section5 .hmp2-section5-row .column-right.description .st-inner .read-more {
	margin-top: 41px;
}

.hmp2-section5 .hmp2-section5-row .column-right.description .st-inner .read-more a {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 30px;
    margin-top: 50px;
    border: 1px solid #fff;
}

/*SECTION6*/
.hmp2-section6 {
	background-attachment: scroll !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

.hmp2-section6 .hmp2-section6-row {
	padding: 120px 25px;
    padding-bottom: 220px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}

.hmp2-section6 .hmp2-section6-row .new-divider span.divider-icon {
	margin: 0px 10px;
    text-align: center;
    font-size: 14px;
}

.hmp2-section6 .hmp2-section6-row .column-left.description h2 {
    color: #585858;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 30px;
    position: relative;
    padding-left: 25px;
}

.hmp2-section6 .hmp2-section6-row .column-left.description h2:before {
	content: "";
    background: #3EDDCC;
    position: absolute;
    width: 10px;
    height: 100%;
    left: 0px;
    z-index: 1;
}

.hmp2-section6 .hmp2-section6-row .column-left.description h2 span {
	color: #1E1E1E;
    font-weight: 800;
}

.hmp2-section6 .hmp2-section6-row .column-left.description h3 {
	font-size: 22px;
    color: #181818;
    margin-bottom: 15px;
    margin-top: 30px;
}

.hmp2-section6 .hmp2-section6-row .column-left.description p {
	font-size: 19px;
    color: #1E1E1E;
    width: 75%;
    margin-bottom: 20px;
}

/*SECTION7*/
.hmp2-section7 .hmp2-section7-row .new-divider span.outer-line {
    border: 1px solid #ffffff29;
}

.hmp2-section7 .hmp2-section7-row .new-divider span.fa {
   color: #EFD807;
}

.hmp2-section7 .hmp2-section7-row .column-left.image p {
	margin-bottom: 0px;
	padding: 50px 100px;
}

.hmp2-section7 .hmp2-section7-row .column-right.description {
	padding: 60px 100px;
}

.hmp2-section7 .hmp2-section7-row .column-right.description h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 30px;
    position: relative;
    padding-left: 25px;
}

.hmp2-section7 .hmp2-section7-row .column-right.description h2:before {
    content: "";
    background: #efd807;
    position: absolute;
    width: 10px;
    height: 100%;
    left: 0px;
    z-index: 1;
}

.hmp2-section7 .hmp2-section7-row .column-right.description h2 span {
	font-weight: 800;
}

.hmp2-section7 .hmp2-section7-row .column-right.description h3 {
	font-size: 22px;
    color: #fff;
    margin-bottom: 15px;
    margin-top: 30px;
}

.hmp2-section7 .hmp2-section7-row .column-right.description p {
    font-size: 19px;
    color: #fff;
    width: 92%;
    margin-bottom: 20px;
}

.hmp2-section7 .hmp2-section7-row .column-right.description .read-more {
    margin-top: 110px;
    margin-bottom: 0px;
}

.hmp2-section7 .hmp2-section7-row .column-right.description .read-more a {
	font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 30px;
    margin-top: 50px;
    border: 1px solid #fff;
}

/*SECTION8*/

.hmp2-section8 {
	padding: 30px 0px;
    padding-bottom: 60px;
}

.hmp2-section8 .hmp2-section8-row {
	padding: 30px 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}

.hmp2-section8 .hmp2-section8-row .new-divider span.outer-line.line-left {
	width: 5%;
}

.hmp2-section8 .hmp2-section8-row .new-divider span.outer-line.line-right {
	width: 25%;
}

.hmp2-section8 .hmp2-section8-row .new-divider span.fa {
	color: #000;
}

.hmp2-section8 .hmp2-section8-row .st-inner h2 {
    color: #000;
    font-size: 35px;
    margin-bottom: 30px;
    position: relative;
    padding-left: 25px;
    font-weight: 800;
}

.hmp2-section8 .hmp2-section8-row .st-inner h2:before {
	content: "";
    background: #000;
    position: absolute;
    width: 10px;
    height: 100%;
    left: 0px;
    z-index: 1;
}

.hmp2-section8 .hmp2-section8-row #quote-carousel {
	margin-top: 35px;
}

.hmp2-section8 .hmp2-section8-row .carousel-inner {
	background: #403f3f17;
}

.hmp2-section8 .hmp2-section8-row .carousel-inner blockquote {
	display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    border: none;
}

.hmp2-section8 .hmp2-section8-row .carousel-inner blockquote img {
    width: 50%;
    float: left;
    border-radius: 0px;
}

.hmp2-section8 .hmp2-section8-row .carousel-inner blockquote p {
    width: 50%;
    float: left;
    padding: 120px;
}

.hmp2-section8 .hmp2-section8-row .carousel-inner blockquote p:before {
    content: "«  ";
}

.hmp2-section8 .hmp2-section8-row .carousel-inner blockquote p:after {
    content: "  »";
}

.hmp2-section8 .hmp2-section8-row .carousel-inner blockquote h5,
.hmp2-section8 .hmp2-section8-row .carousel-indicators,
.hmp2-section8 .hmp2-section8-row .carousel-inner blockquote h6 {
	display: none;
}

/*SECTION9*/
.hmp2-section9 {
    padding: 30px 0px;
    background: #fff;
    padding-top: 50px;
}

/*SECTION10*/
.hmp2-section10 {
	background: #fff;
	padding-bottom: 100px;
}

.hmp2-section10 .hmp2-section10-row {
     /* width: 80%; */
    margin: auto;
    padding: 0px 200px;
    position: relative;
    height: 500px;
    margin-bottom: 150px;
    margin-top: 30px;
}

.hmp2-section10 .hmp2-section10-row:before {
    content: "";
    background: url(../../../images/background-offers.png);
    height: 400px;
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 20%;
    background-size: cover;
}

.hmp2-section10 .hmp2-section10-row .osm-container {
	padding: 0px;
}

.hmp2-section10 .top-text h1 {
    background: #fff;
    padding-top: 60px;
    margin: 0px;
    color: #1E1E1E;
    font-size: 35px;
}

.hmp2-section10 .divider span.outer-line {
	border: 1px solid #00000029;
}

.hmp2-section10 .divider span.fa {
	font-size: 14px;
    color: #02C8C8;
}

.hmp2-section10 .hmp2-section10-row .custom-column {
	width: calc(100% / 5);
    padding: 0px;
}

.hmp2-section10 .pricing-wrapper {
	padding: 0px 20px;
	transition: 400ms;
}

.hmp2-section10 .pricing-wrapper .is-visible {
	box-shadow: 0px 0px 20px 9px #00000047;
}

.hmp2-section10 .pricing-wrapper:hover {
	transform: scale(1.1);
	position: relative;
}

.hmp2-section10 .pricing-wrapper .pricing-header {
    background: #585858;
    transition: 400ms;
}

.hmp2-section10 .pricing-wrapper:hover .pricing-header {
	background: #fff;
}

.hmp2-section10 .pricing-wrapper .pricing-header img {
	margin: 0px;
}

.hmp2-section10 .pricing-wrapper .pricing-header img.active-img {
	position: absolute;
	transition: 400ms;
}

.hmp2-section10 .pricing-wrapper:hover .pricing-header img.active-img {
	opacity: 0;
}

.hmp2-section10 .pricing-wrapper .pricing-header h2 {
	transition: 400ms;
	color: #fff;
}

.hmp2-section10 .pricing-wrapper:hover .pricing-header h2 {
	color: #000;
    font-size: 25px;
    line-height: 25px;
}

.hmp2-section10 .pricing-wrapper .pricing-header p.speciale {
    font-size: 10px;
    font-weight: 400;
    transition: 400ms;
}

.hmp2-section10 .pricing-wrapper:hover .pricing-header p.speciale {
	color: #000;
}

.hmp2-section10 .pricing-wrapper .pricing-header p {
	color: #fff;
	font-size: 8px;
	transition: 400ms;
}

.hmp2-section10 .pricing-wrapper:hover .pricing-header p {
	color: #000;
}

.hmp2-section10 .pricing-wrapper .price-content span {
    color: #02C8C8;
}

.hmp2-section10 .pricing-wrapper .price-content span.value {
	font-size: 35px;
    font-weight: 800;
}

.hmp2-section10 .pricing-wrapper .price-content span.duration {
	font-size: 10px;
    font-weight: 600;
}

.hmp2-section10 .pricing-wrapper .pricing-body {
    background: #585858;
    color: #fff;
    padding-bottom: 20px;
    transition: 400ms;
}

.hmp2-section10 .pricing-wrapper:hover .pricing-body {
	background: #fff;
}

.hmp2-section10 .pricing-wrapper .pricing-body .pricing-features li {
    font-weight: 400;
    padding: 5px 10px;
    font-size: 10px;
    border: none;
    transition: 400ms;
}

.hmp2-section10 .pricing-wrapper:hover .pricing-body .pricing-features li {
    font-size: 12px;
    color: #000;
}

.hmp2-section10 .pricing-wrapper .pricing-body .pricing-features li.boldEngagement {
	border: none;
    font-size: 10px;
 	padding: 10px;
 	font-weight: 800;
}

.hmp2-section10 .pricing-wrapper .pictos-paiment {
    background: #585858;
    transition: 400ms;
}

.hmp2-section10 .pricing-wrapper:hover .pictos-paiment {
	background: #fff;
}

.hmp2-section10 .pricing-wrapper .pricing-footer {
	transition: 400ms;
    background: #585858;
}

.hmp2-section10 .pricing-wrapper:hover .pricing-footer {
	background: #fff;
}

.hmp2-section10 .pricing-wrapper .pricing-footer a {
	display: none;
}

.hmp2-section10 .pricing-wrapper .subscribe-button {
	display: none;
	transition: 400ms;
	background: #585858;
}

.hmp2-section10 .pricing-wrapper:hover .subscribe-button {
	background: #fff;
}

.hmp2-section10 .pricing-wrapper .subscribe-button a:before {
	display: none;
}

.hmp2-section10 .pricing-wrapper:hover .subscribe-button {
	display: block;
}

.hmp2-section10 .pricing-wrapper .subscribe-button a {
    border-radius: 0px;
    display: flex;
    margin: 0px;
    margin-left: 50%;
    background: #02C8C8;
}

/*SECTION11*/
.hmp2-section11 .top-text h1 {
	font-size: 35px;
    color: #fff;
    margin: 0px;
    padding-top: 50px;
    margin-bottom: -10px;
}

.hmp2-section11 .divider span.outer-line {
    border-bottom: 2px solid #ffffff29;
}

.hmp2-section11 .divider span.fa {
    font-size: 14px;
    color: #fff;
}

.hmp2-section11 .hmp2-section11-row .flexslider {
	padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ffffff29;
}

.hmp2-section11 .hmp2-section11-row .flexslider ul {
	margin: auto;
    text-align: center;
}

.hmp2-section11 .hmp2-section11-row .flexslider ul li {
	display: inline-block;
}

section.bottom {
	background: #444;
}

.footer {
	background: #202020 !important;
}

.footer .top-footer h4 {
	color:#fff !important;
}

.footer .facts-footer>div h5 {
	color: #fff !important;
}