section#container-plan img.img-plan {
	max-width: 100% !important;
	border-radius: 5px;
    text-align: center;
    background-color: #f3f3f3;
    -moz-box-shadow: 0 0 6px 2px #b0b2ab;
    -webkit-box-shadow: 0 0 6px 2px #b0b2ab;
    box-shadow: 0 0 6px 2px #b0b2ab;
    position: relative;
}

/* ---------  test ------------*/
div.presale-plan p.price{display:none;}

/* ---------  end test ------------*/


section#container-plan .osm-plan-price .price {
	margin-top: 0px;
}

section#container-plan #osm-plans-list-columns {
	padding-top: 25px !important;
}

.osm-terms-and-conditins-container{
    padding-left: 15px;
}

/*  PLAN WIDTH */
.presale-plan {
    background-color: #fff;
}

.presale-plan .container-plan {
    background-color: #fff;
    margin-top: 100px;
}

.plan-width .osm-plan-title {
    font-size: 26px;
    margin: 0 auto 15px;
    clear: both;
    font-weight: 300;
    padding-top: 4px;
    text-transform: capitalize;
    color: #111111;
}

.plan-width .price {
    margin: 0 auto 15px;
    clear: both;
    font-weight: 300;
    padding-top: 4px;
    color: #111111;
    font-size: 22px !important;
}

.plan-width .osm-signup-container {
    list-style: none;
    padding: 0px;
}

.plan-width .osm-signup-container .btn-signup     {
    background-color: #000 !important;
    width: 100%;
    border: none;
    border-radius: 0px;
    text-align: center;
}

.plan-width .osm-signup-container .btn-signup:hover {
    background-color: rgb(255, 180, 0) !important;
    color: #000;
}

.plan-width .osm-plan-description {
    margin-top: 100px;
    color: #111111;
}

.plan-width .osm-plan-description h3{
    color: rgb(255, 180, 0);
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 35px;
    margin: 0 auto 15px 0;
}

.osm-plan-slide img {
    max-width: 100%;
}

.lSSlideWrapper,
.lSSlideOuter.vertical,
.lSSlideOuter.vertical .lightSlider>* {
    height: 500px !important;
}

.lSSlideOuter.vertical .lightSlider>* img {
    max-height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    max-width: 80%;
}

.lSSlideOuter.vertical .lSGallery {
    position: absolute!important;
    right: 0;
    top: 0;
    height: auto !important;
}

.lSSlideOuter .lSPager.lSGallery img {
    padding: 10px;
}

.lSSlideOuter .lSPager.lSGallery li {
    height: auto !important;
}

ul.socialButtons {
    list-style: none;
    padding-left: 0px;
    margin-top: 20px;
}

ul.socialButtons li {
    display: inline-block;
    font-size: 15px;
    margin-left: 5px;
}

ul.socialButtons li a {
    padding: 7px;
    border-radius: 100%;
    border: 1px solid;
    height: 35px;
    width: 35px;
    display: block;
}

ul.socialButtons li a:before {
     display: block;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    font-family: FontAwesome;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

ul.socialButtons li a[title="google"]:before {
    content: "\f0d5";
}

ul.socialButtons li a[title="facebook"]:before {
    content: "\f09a";
}

ul.socialButtons li a[title="twitter"]:before {
    content: "\f099";
}

ul.socialButtons li a[title="pinterest"]:before {
    content: "\f231";
}

ul.socialButtons li a[title="mail"]:before {
    content: "\f1d8";
}

/* ebook-homepage */
.ebook-homepage {
    height: auto;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 3 !important;
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
}

.ebook-homepage div.row.ebook-box {
    -webkit-transform: skewY(3deg);
    transform: skewY(3deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ebook-homepage h2 {
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 0;
    color: #060003;
}

.ebook-homepage h2,
.ebook-homepage p {
    color: #666;
    font-weight: normal;
}

.ebook-homepage img {
    height: auto;
    max-width: 90%;
}

.ebook-homepage a {
    padding: 12px 40px;
}
.ebook-homepage a.custom-button:before {
    content: "\f07a";
    margin-top: -10px;
}
.ebook-homepage a.subscribe:before {
    content: none;
}
.ebook-homepage a.subscribe {
    border: 2px solid #8e8e8e;
    background: #fff;
    color: #8e8e8e;
    margin-left: 20px;
    padding: 10px 33px;
    transition: 100ms;
}
.ebook-homepage .custom-button:hover {
    background-color: #8e8e8e;
    color: #fff;
    transition: 100ms;
}

.ebook-homepage .custom-button:hover span {
    transform: none;   
}

body.homepage .testimonials {
    z-index: 2;
}