<template lang="pug">
	v-dialog(
			v-if="value"
			:value="value"
			@input="$emit('input',$event)"
		)
		v-sheet.p-5(
			@input.stop
		)
			v-overlay(
				absolute
				loading
				:value="is_loading"
			)
			v-card-title Ajouter Achat
			v-form.row
				.col.col-12.col-lg-6
					server-autocomplete(
						v-model = "new_purchase.user_id"
						:result-format = "{value: 'id', text: 'email'}"
						label = "Email / Nom de utilisateur"
						endpoint = "/admin/api/users/autocomplete"
						clearable
						required
					)
					v-select(
						v-model = "new_purchase.gateway_id"
						:disabled = "!new_purchase.user_id || !new_purchase.offer_id"
						:items = "gateways"
						item-text = "label"
						item-value = "id"
						label = "Select Gateway"
						required
					)
				.col.col-12.col-lg-6
					server-autocomplete(
						v-model = "new_purchase.offer_id"
						label = "Offre"
						:endpoint = "offer_endpoint"
						clearable
						:disabled = "!new_purchase.user_id"
						:params = "{one_time:true}"
						required
					)

					v-text-field(
						v-if="new_purchase.gateway_id != 5"
						v-model = "new_purchase.token"
						label = "Gateway Token"
						:disabled="!new_purchase.gateway_id"
						required
					)
				.col.col-12.col-lg-6
					v-switch(
						v-model = "new_purchase.is_legacy"
						class = "ma-4"
						label = "Legacy"
						v-if="new_purchase.gateway_id == 2"
					) 

			v-row
				v-col(cols = 3)
					v-btn(
						outlined
						color = "error"
						type = "button"
						@click = "closeDialog"
						style = "position:absolute;"
					) annuler
				v-spacer
				v-col(cols = 3)
					v-btn(
						@click = "postItem"
						outlined
						color = "primary"
						type = "submit"
						:loading = "is_loading"
						style = "position:absolute;right:13px;"
					) ajouter

</template>
<script>
import has_loading from '@mixins/has-loading'
export default {
	mixins:[has_loading],
	props:{
		value:{
			type: Boolean,
			required: true
		},
	},
	data(){
		return{
			new_purchase: {
				user_id: null,
				offer_id: null,
				gateway_id: 5,
				token: null,
				is_legacy: false
			},
			gateways:[
				{id: 1, label: 'Stripe'},
				{id: 2, label: 'Paypal'},
				{id: 3, label: 'Appstore'},
				{id: 4, label: 'Playstore'},
				{id: 5, label: 'Free'},
			]
		}
	},
	computed:{
		gateways_available: function(){
			
		},
		offer_endpoint: function(){
			let user_id = this.new_purchase.user_id
			return `/admin/api/offers/availableForUser/${user_id}`
		}
	},
	methods:{
		closeDialog(){
			this.$emit('input',false)
		},
		postItem(){
			axios
				.post('/admin/api/purchases', this.new_purchase)
				.then(res => {
					this.$emit('created')
				})
				.catch(err => {
					console.log(err)
				})
		},
	}
}
</script>