<template lang="pug">
	v-dialog(
			v-if="value"
			:value="value"
			@input="$emit('input',$event)"
		)
		v-sheet.p-5(
			@input.stop
		)
			v-overlay(
				absolute
				loading
				:value="is_loading"
			)
			v-card-title Ajouter Article
			v-form(
				ref="create_blog_form" 
				lazy-validation)
				v-sheet.px-10
					v-row
						v-col(col=6)
							v-text-field(
								v-model = "new_blog.name"
								label = "Name"
								required
								:rules="new_blog_rules.name"
							)
						v-col(col=6)
							v-text-field(
								v-model = "new_blog.title"
								label = "Title"
								required
								:rules="new_blog_rules.title"
							)
					v-row
						v-col(col=12)
							tiny-mce(
								v-if="!html_editor"
								v-model="new_blog.content"
								:init="{ \
									height:500, \
									plugins: [ \
										'advlist autolink lists link image charmap print preview anchor', \
										'searchreplace visualblocks code fullscreen', \
										'insertdatetime media table paste code help wordcount' \
									], \
									toolbar: \
										'undo redo | formatselect | bold italic backcolor | ' + \
										'alignleft aligncenter alignright alignjustify | ' + \
										'bullist numlist outdent indent | removeformat | help' \
								}"
								height="300px"
							)
							textarea(
								v-if="html_editor"
								v-model="new_blog.content"
								style="width:100%;min-height:500px;border:1px solid gainsboro;border-radius:3px"
								required
								:rules="new_blog_rules.content"
							)
							

			v-row
				v-col(cols = 3)
					v-btn(
						outlined
						color = "error"
						type = "button"
						@click = "closeDialog"
						style = "position:absolute;"
					) annuler
				v-spacer
				v-col(cols = 3)
					v-btn(
						@click = "handleClick"
						outlined
						color = "primary"
						type = "submit"
						:loading = "is_loading"
						style = "position:absolute;right:13px;"
					) {{ is_edit ? 'mise à jour' : 'ajouter' }}

</template>
<script>
import has_loading from '@mixins/has-loading'
export default {
	mixins:[has_loading],
	props:{
		value:{
			type: Boolean,
			required: true
		}
	},
	data(){
		return{
			is_edit: false, 
			html_editor: false,
			new_blog: {
				id: null,
				name: "",
				title: "",
				content: "",
			},
			new_blog_rules: {
				name: [
					(v)=>{ return (!!v && v!='') || 'Nom est obligatoire'}
				],
				title: [
					(v)=>{ return (!!v && v!='') || 'Titre est obligatoire'}
				],
				content: [
					(v)=>{ return (!!v && v!='') || 'Contenu est obligatoire'}
				],
			}
		}
	},
	methods:{
		closeDialog(){
			this.$emit('input',false)
			this.clearState()
		},
		handleClick() {
			if (!this.$refs.create_blog_form.validate()) {
				return
			}
			if(this.is_edit) {
				this.upateData();
			}else {
				this.postData()
			}
		},
		postData(){
			axios
				.post('/admin/api/blog_post', this.new_blog)
				.then(res => {
					this.$emit('created')
					this.closeDialog();
				})
				.catch(err => {
					console.log(err)
				})
		},
		clearState() {
			this.is_edit = false;
			this.new_blog.name = "";
			this.new_blog.title = "";
			this.new_blog.content = "";
		},
		editData(item) {
			this.is_edit = true
			this.new_blog.id = item.id;
			this.new_blog.name = item.name;
			this.new_blog.title = item.title;
			this.new_blog.content = item.content;
		},
		upateData() {
			axios
				.put(`/admin/api/blog_post/${this.new_blog.id}`, this.new_blog)
				.then(res => {
					this.$emit('created')
					this.closeDialog();
				})
				.catch(err => {
					console.log(err)
				})
		}
	}
}
</script>