<template lang="pug">

v-sheet(elevation=3).px-10
	v-row 
		v-col(cols=6 md=5)
			v-text-field(
				v-model="search"
				label="Rechercher"
				single-line
				hide-details
				@input="promptSearch"
			)
		v-spacer
		v-col(cols=4 md=3 lg=2)
			v-select(
				v-model="items_per_page"
				:items="per_page_selection"
				label="Par page"
				@input="fetchData"
			)
	v-sheet
		v-pagination(
			:value="current_page"
			:length="last_page"
			total-visible="15"
			@input="changePage"
		)

	v-data-table(
		ref="table"
		:headers="headers"
		:items="items"
		:items-per-page="items_per_page"
		:server-items-length="total_item_count"
		:loading="is_loading"
		:search="search"
		@update:sort-by="changeSort"
		@update:sort-desc="changeAscending"
		show-expand
		single-expand
		hide-default-footer
		:expanded.sync="items_expanded"
		@item-expanded="itemExpanded"
	).mx-n10
		template(
			v-for="(_, slot) in $scopedSlots"
			v-slot:[slot]="scope"
		)
			slot(
				:name="slot"
				v-bind="scope"
			)

		template(v-slot:footer)
			v-row
				v-col(v-show="!is_loading")
					v-text-field(disabled)
				v-col(v-show="is_loading")
					v-text-field(loading disabled)
				
	v-sheet
		v-pagination(
			:value="current_page"
			:length="last_page"
			total-visible="15"
			@input="changePage"
		)
					
</template>
<script>
import has_loading from '@mixins/has-loading'
export default {
	mixins: [has_loading],
	props: {
		endpoint: {
			type: String,
			required: true
		},
		headers: {
			type: Array,
			required: true
		}
	},
	data(){
		return{
			items:[],

			items_expanded:[],
			search_debounce:0,
			search:'',
			order_by:'id',
			ascending:false,
			items_per_page:25,
			current_page:1,
			last_page:1,
			total_item_count:0,
			per_page_selection:[5,10,25,50,100],
		}
	},
	methods:{
		itemExpanded(event){
			if (event.value){
				this.fetchItem(event.item);
			}
		},
		updateTable(){
			this.$refs.table.$forceUpdate();
		},
		promptSearch(){
			window.clearTimeout(this.search_debounce);
			this.search_debounce=window.setTimeout(()=>{
				this.fetchData();
			},300);
		},
		changeSort(sort){
			this.order_by=sort[0];
			this.fetchData();
		},
		changeAscending(ascending){
			this.ascending=!ascending[0];
			this.fetchData();
		},
		changePage(page){
			this.current_page=page;
			this.fetchData();
		},
		fetchData(){
			this.startLoading()
			axios.get(this.endpoint,{
				params:{
					search:this.search,
					perPage:this.items_per_page,
					page:this.current_page,
					orderBy:this.order_by,
					ascending:this.ascending,
				}}
			).then((res)=>{
				this.items=res.data.contents;
				this.total_item_count=res.data.total_item_count;
				this.current_page=res.data.current_page;
				this.last_page=res.data.last_page;
			}).finally(()=>{
				this.stopLoading()
				this.$el.scrollIntoView({behaviour:'smooth'});
				this.items_expanded=[];
			});
		},
		fetchItem(item){
			item.isLoading=true;
			axios.get(this.endpoint + '/' + item.id,{
				params:{
				}}
			).then((res)=>{
				Object.assign(item,res.data);
			}).finally(()=>{
				item.isLoading=false;
				this.updateTable()
			});
		}
	},
	created(){
		this.fetchData();
	}
}
</script>