<template lang="pug">
	v-btn(
		v-show="show"
		fab
		@click="method"
	).button
		v-icon mdi-plus
</template>
<script>
export default {
	props:{
		show:{
			type: Boolean,
			required: true,
		},
		method:{
			type: Function,
			required: true
		}
	}
}
</script>
<style lang="stylus" scoped>

.button
	position: fixed
	bottom: 50px;
	right: 50px
	z-index:1

</style>