<template lang="pug">
	v-dialog(
			v-if="value"
			:value="value"
			@input="$emit('input',$event)"
			max-width="400px"
	)
		v-card.p-3(
			@input.capture=""
			@input.stop=""
		)
			v-overlay(
				v-model="is_loading"
			)
			v-card-title Session Expired
			v-card-text Please re-enter your credentials
			v-form.p-3(
				@submit.prevent="login"
			)
				v-text-field(
					label="Nom d'utilisateur"
					v-model="login_form.username"
				)
				v-text-field(
					label="Mot de passe"
					type="password"
					v-model="login_form.password"
				)
				v-btn.mt-3.float-right(
					type="submit"
					:loading="is_loading"
				) connexion
				.clearfix

</template>
<script>
import has_loading from '@mixins/has-loading'
export default {
	mixins: [has_loading],
	props:{
		value:{
			type: Boolean,
			required: true
		},
	},
	data() {
		return {
			login_form:{
				username:'',
				password:''
			},
			logging_in:false,
		}
	},
	methods: {
		login() {
			if (this.is_loading) return
			this.startLoading()
			axios.post('/admin/api/login',this.login_form)
			.then(response=>{
				this.$emit('input',false)
			})
			.catch(error=>{
				console.log(error)
			})
			.finally(()=>{
				this.stopLoading()
			})
		}
	}
}
</script>