<template lang="pug">
	v-list-item(
		v-if="value.to"
		:to="value.to"
	)
		v-list-item-content
			v-list-item-title {{value.title}}
		v-list-item-icon
			v-icon {{value.icon}}
	v-list-group(
		v-else
	)
		template(v-slot:activator)
			v-list-item-content
				v-list-item-title
				| {{value.title}}
		navigation-item(
			v-for="(child,index) in children"
			:key="child.id"
			v-model="children[index]"
		)
</template>
<script>
export default {
	props:['value'],
	data(){
		return{
			children:[]
		}
	},
	created(){
		if (this.value.hasOwnProperty('children')){
			this.children=Object.assign([],this.value.children)
		}
	}
}
</script>