<template lang="pug">
	v-autocomplete(
		:value = "value"
		@input = "$emit('input',$event)"
		:items = "search_results_formatted"
		:search-input.sync = "search_input"
		:loading = "is_loading"
		cache-items
		:label = "label"
		:disabled = "disabled"
		required
	)
</template>
<script>
import has_loading from '@mixins/has-loading'
export default {
	mixins:[has_loading],
	props:{
		'value':{
			type: undefined,
			required: false
		},
		'label':{
			type: String,
			required: false,
			default: '',
		},
		'endpoint':{
			type: String,
			required: true,
		},
		'params':{
			type: Object,
			required: false,
			default: ()=>({}),
		},
		'search-param':{
			type: String,
			required: false,
			default: ()=>'search'
		},
		'result-map-method':{
			type: Function,
			required: false
		},
		'result-format':{
			type: Object,
			required: false,
			default: ()=>({
				value:'id',
				text:'name'
			}),
		},
		'disabled':{
			type: Boolean
		}
	},
	computed:{
		search_results_formatted: function(){
			if (
				typeof this.search_results != "object" ||
				typeof this.search_results.map != "function"
			)
				return

			let map_method = typeof this.resultMapMethod === 'function' ?
				this.resultMapMethod() :
				this.defaultMapMethod

			let formatted_results = this.search_results.map(map_method)
			
			return formatted_results
		},
	},
	watch:{
		search_input(search){
			if (!search)
				return

			let promptAutocomplete = this.promptAutocomplete

			window.clearTimeout(this.search_debounce)

			this.search_debounce = window.setTimeout(()=>{
				this.promptAutocomplete(search),300
			})
		},
	},
	data(){
		return{
			is_loading: false,
			search_input: null,
			search_debounce: 0,
			search_results:[],
		}
	},
	methods:{
		defaultMapMethod(object){
			let format = this.resultFormat

			let value_accessor = format.value.split('.')
			let text_accessor = format.text.split('.')

			let value = value_accessor.reduce((node, prop)=>{
				return node[prop];
			},object)

			let text = text_accessor.reduce((node, prop)=>{
				return node[prop];
			},object)

			return {value, text, object}
		},
		promptAutocomplete(search){
			let endpoint = this.endpoint
			let params = Object.assign({},this.params)
			let search_param = this.searchParam

			params[search_param] = search

			this.is_loading = true

			axios.get(endpoint,{
				params
			})
			.then((res)=>{
				this.search_results = res.data;
			})
			.finally(()=>{
				this.is_loading = false;
			})
		},
	}
}
</script>