<template lang="pug">
	v-card(
		v-show="show"
	).main-dialog.px-2
		v-overlay(
			absolute
			loading
			:value="posting_tag"
		)
		v-row
			v-col(cols=8)
				v-text-field(
					v-model="input"
					label="Tag"
					single-line
					hide-details
					@keyup.enter="tagItem(input)"
					@input="promptAutocomplete"
				)
			v-col(cols=4)
				v-btn(
					icon
					x-small
					@click="closeDialog"
				).close-button
					v-icon mdi-close
				v-btn(
					icon
					x-large
					@click="tagItem(input)"
				).add-tag-button
					v-icon mdi-plus
		v-sheet.p-2
			v-btn(
				v-for="result in results"
				:key="result.id"
				color="#555"
				rounded
				v-text="result.name"
				@click="tagItem(result.name)"
			).m-1

</template>
<script>
export default {
	props:['show','tag_url','ignore'],
	data(){
		return{
			posting_tag:false,
			input:'',
			results:[]
		}
	},
	methods:{
		closeDialog(){
			this.$emit('close:dialog');
		},
		promptAutocomplete(){
			axios.get('/admin/api/tags/autocomplete',{
				params:{
					search:this.input,
					ignore:Object.values(this.ignore).map((key)=>key.name),
				}
			})
			.then((res)=>{
				this.results=res.data;
			});
		},
		tagItem(tagName){
			this.posting_tag=true;
			axios.post(this.tag_url+'/'+tagName,{
				params:{
				}
			})
			.then((res)=>{
				this.$emit('update:item',res.data);
				this.input='';
				this.results=[];
				this.closeDialog();
			})
			.finally((res)=>{
				this.posting_tag=false;
			});
		}
	}
}
</script>
<style lang="stylus" scoped>

.main-dialog
	position: absolute
	top: -20px
	left: 60px
	z-index: 1

.close-button
	position: absolute
	top: 8px
	right: 8px

.add-tag-button
	position: relative
	bottom: -8px
	left: -12px

</style>