<template lang="pug">

v-app

	login-dialog(
		v-model="show_login_form"
	)

	v-app-bar(app dense)
		v-app-bar-nav-icon(
			@click.stop="drawer=!drawer"
		)
		v-text-field(
			v-model="search"
			hide-details
			single-line
			append-icon="search"
		)
		v-btn(to="/account" icon tile)
			v-icon mdi-account-box-outline
		v-menu(
			offset-y
		)
			v-list
				v-list-item(@click="changeTheme")
					v-list-item-icon
						v-icon mdi-eye
					v-list-item-title Theme
				v-list-item(@click="logout")
					v-list-item-icon
						v-icon mdi-exit-to-app
					v-list-item-title Logout
			template(
				v-slot:activator="{ on }"
			)
				v-btn(icon tile v-on="on")
					v-icon(v-if="!logging_out") mdi-settings
					v-progress-circular(v-else indeterminate)
				
	v-navigation-drawer.nav-drawer(app width="220px" v-model="drawer")
		v-list.nav-list
			v-list-item(dense).mb-1
				v-img(src="/img/logo.png")
			navigation-item(
				v-for="(navigation_item,index) in navigation_items"
				class="side-bar-item"
				:key="navigation_item.id"
				v-model="navigation_items[index]"
			)
				
	v-content(fill)
		router-view.px-5
		div(style="height:100px;")
		
		
</template>

<script>
	export default {
		data(){
			return{
				show_login_form:false,
				logging_out:false,
				search:'',
				drawer:true,
				navigation_items:[
					{id:1,title:"Accueil", to:"/", icon:"mdi-tablet-dashboard"},
					{
						id:2,
						title:"Abonnements",
						open:false,
						children:[
							{id:3,title:"Abonnements", to:"/subscriptions", icon:"mdi-credit-card-wireless"},
							{id:4,title:"Achats", to:"/purchases", icon:"mdi-card-bulleted"},
							{id:5,title:"Transactions", to:"/transactions", icon:"mdi-coins"},
							{id:6,title:"Les offres", to:"/offers", icon:"mdi-credit-card-multiple"},
							{id:7,title:"Produits", to:"/products", icon:"mdi-midi-port"},
						]
					},
					{
						id:8,
						title:"Programmes",
						open:false,
						children:[
							{id:9,title:"Programmes", to:"/programs", icon:"mdi-google-circles-extended"},
							{id:10,title:"Séances", to:"/sessions", icon:"mdi-chart-bubble"},
						]
					},
					{
						id:11,
						title:"Resources",
						open:false,
						children:[
							{id:12,title:"Exercices", to:"/exercises", icon:"mdi-dumbbell"},
							{id:13,title:"Vidéos", to:"/videos", icon:"mdi-library-video"},
							{id:14,title:"Recettes", to:"/recipes", icon:"mdi-food-apple-outline"},
							{id:15,title:"Les pages", to:"/pages", icon:"mdi-book-open"},
							{id:16,title:"Articles", to:"/blogs", icon:"mdi-blogger"},
							{id:17,title:"Categories", to:"/categories", icon:"mdi-chart-scatter-plot-hexbin"},
						]
					},
					{id:17,title:"Utilisateurs", to:"/users", icon:"mdi-account-group"},
					{id:18,title:"Gateways", to:"/gateways", icon:"mdi-currency-sign"},
				],
			}
		},
		methods:{
			logout(){
				this.logging_out=true
				axios.post('/admin/api/logout')
				.then(()=>{
					window.location.replace('/admin')
				})
				.catch(
					this.logging_out=false
				)
			},
			getConfigs(){
				axios.get('/admin/api/configs')
				.then(res=>{
					this.$vuetify.theme.isDark=res.data.darkmode
				})
			},
			changeTheme(){
				this.$vuetify.theme.isDark=!this.$vuetify.theme.isDark
				axios.patch('/admin/api/configs',{config_item:'darkmode',value:this.$vuetify.theme.isDark})
			}
		},
		mounted() {
			this.getConfigs();
		},
		created() {

			axios.interceptors.response.use(response=>response,error=>{
				if (error.response.status == 401){
					this.show_login_form=true
					return Promise.reject(error)
				}
				return error;
			});

			axios.interceptors.response.use(function(response){
				if (response.data && response.data && response.data.object && response.data.object=='error'){
					alert(response.data.error_content.message);
					return Promise.reject(response.data.error);
				}
				return response;
			});
		}

	}
</script>

<style lang="stylus">
@import './styles'

.nav-drawer .nav-list a
	text-decoration: none

html
	scroll-behavior: smooth

.v-data-table tbody tr.expanded.expanded__content
	box-shadow: none

.theme--light.v-data-table tbody tr:hover:not(.v-data-table__expand-row)
	background: inherit

body::-webkit-scrollbar
	width: 12px;

body::-webkit-scrollbar-thumb
	background-color: #383838cf;
	border-radius: 12px;

.v-dialog::-webkit-scrollbar
	width:8px

.v-dialog::-webkit-scrollbar-thumb
	background-color: #383838cf;
	border-radius: 8px;
.v-list-item__title
	font-size: 14px;
	padding-left: 20px;
.side-bar-item
	font-size: 14px;
	padding-left: 20px;

.v-data-table td
	font-size: 12px

</style>