breakpoints = {
  xs: 1px,
  sm: 600px,
  md: 900px,
  lg: 1200px,
  xl: 1800px
}

palate = {
  white: #ffffff
  light: #cfcfcf
  dark: #060003
}

transition(value)
  -webkit-transition: value
  -moz-transition: value
  -ms-transition: value
  -o-transition: value
  transition: value